<div class="text-align-left" >
  <div class="selector-label" >
    <span class="mr-40" >Shipping address</span>
    <app-po-switcher label="Use customer address" (switchChanged)="onSwitchChanged($event)" class="po-switch" ></app-po-switcher>
  </div>
  <div>
    <div>
      <input type="text" placeholder="address" [(ngModel)]="shippingAddress.address"  (change)="onAddressChanged('address', $event)" />
    </div>
    <div class="flex" >
        <input type="text" class="mr-15" placeholder="Calgary" [(ngModel)]="shippingAddress.city"  (change)="onAddressChanged('city', $event)" />
        <input type="text" class="ml-15" placeholder="Alberta" [(ngModel)]="shippingAddress.province" (change)="onAddressChanged('province', $event)" />
    </div>
    <div class="flex" >
        <input type="text" class="mr-15" placeholder="Country" [(ngModel)]="shippingAddress.country" (change)="onAddressChanged('country', $event)" />
        <input type="text" class="ml-15" placeholder="Post code" [(ngModel)]="shippingAddress.postalCode" (change)="onAddressChanged('postalCode', $event)" />
    </div>
  </div>
</div>