<div class="breadcrumb-bar" >
  <div class="breadcrumb-section">
    <app-breadcrumb [data]="data"></app-breadcrumb>
  </div>
  <div class="router-followers">
    <div class="pm-routers">
      <a routerLink="pm-board" routerLinkActive="active-link">Project Board</a>
      <a routerLink="pm-schedule" routerLinkActive="active-link">Schedule</a>
      <a routerLink="pm-financials" routerLinkActive="active-link">Financials</a>
      <a routerLink="pm-progress" routerLinkActive="active-link">Progress</a>
      <a routerLink="pm-files" routerLinkActive="active-link">Files</a>
    </div>

    <div class="followers" > 
      <div class="follower" *ngFor="let user of userInfo.followers; let i = index">
        <a [routerLink]='user.profileLink' [title]='user.name' ><img [src]='user.imageUrl'/></a>
      </div> 
      <div class="follower add-follower" >
        <a (click)='addUser()' title='user.name' (click)="editable=true;$event.stopPropagation()" ><img src='assets/images/Add-Button.svg'/></a>
      </div> 
      <div class="edit-followers" *ngIf="editable" (click)="editable=true;$event.stopPropagation()" >
          <ul>
            <li *ngFor="let user of userInfo.followers; let i = index">{{user.name}}<span (click)="removeUser(i)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
            <li style="background: none; width: 100%; margin: 0;">
                <input autocomplete [config]="config2" [items]="items2"
                (inputChangedEvent)="onInputChangedEvent($event)"
                (selectEvent)="onSelect($event)">
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>