<div [ngStyle]="{'background-image': loginBackground}" class="background">
  <div class="weather-sec">
		<div class="temperature">
			<img src="assets/images/windy.png">
			<span>{{temperature}}&deg;</span>
		</div>
		<span>{{weatherLocation}}</span>
	</div>
	<div class="timer-sec">
		<span>{{currentHour}}</span><span class="blink">:</span><span>{{currentMin}}</span>
		<span class="time-convention">{{timeConvention}}</span>
	</div>
	<div class="login-sec">
		<form class="login-form" (ngSubmit)="onLogin()" [formGroup]="loginform">
			<mat-form-field>
				<input matInput placeholder="USERNAME" formControlName="userName" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="PASSWORD" formControlName="password" required type="password">
			</mat-form-field>
			<button mat-raised-button  type="submit" class="login-btn" [disabled]="!loginform.valid">LOGIN</button>
		</form>
		<mat-checkbox [(ngModel)]="remembered" class="remember-check">Remember my login</mat-checkbox>
	</div>
	<span class="forgot-password">Forgot username or password</span>
</div>