<span class="title">PROJECT FINANCES</span>
<div class="budget-section" *ngIf="projectInfo">
  <div class="card">
    <span class="card-title">PROJECT BUDGET</span>
    <span class="card-value">$ {{projectInfo.budget | number: '1.2-2'}}</span>
  </div>
  <div class="card">
    <span class="card-title">BUDGET USED</span>
    <span class="card-value green">$ {{projectInfo.budgetUsed | number: '1.2-2'}}</span>
  </div>
  <div class="card">
    <span class="card-title">BUDGET VS USED</span>
    <span class="card-value green">{{projectInfo.budgetUsedRatio | number: '1.1-1'}} %</span>
  </div>
  <div class="card">
    <span class="card-title">REVENUE</span>
    <span class="card-value">$ {{projectInfo.revenue | number: '1.2-2'}}</span>
  </div>
  <div class="card">
    <span class="card-title">LABOR</span>
    <span class="card-value">$ {{projectInfo.labourCost | number: '1.2-2'}}</span>
  </div>
</div>
<div class="finances-table">
  <table>
    <tr>
      <th (click)="sortArrayWithString('type')">TYPE</th>
      <th (click)="sortArrayWithString('typeNumber')">TYPE #</th>
      <th (click)="sortArray('total')">TOTAL</th>
      <th (click)="sortArrayWithString('status')">STATUS</th>
      <th (click)="sortCreateDateArray('createdAt')">DATE CREATED</th>
      <th (click)="sortCreateDateArray('updatedAt')">DATE UPLOADED</th>
      <th>COLLABORATOR</th>
    </tr>
    <tr *ngFor="let t of tableDataAll"  (click)="navigateTo(t)">
      <td>{{t.type}}</td>
      <td>{{t.typeNumber}}</td>
      <td [ngClass]="getTotalColor(t.status)"><span *ngIf="t.total" [ngClass]="getTotalColor(t.status)">$ </span> {{t.total | number: '1.2-2'}}</td>
      <td [ngClass]="getStatusColor(t.status)">{{t.status}}</td>
      <td>{{getFormatedDate(t.createdAt)}}</td>
      <td>{{getFormatedDate(t.updatedAt)}}</td>
      <td class="collaborators">
        <!-- <div *ngFor="let col of t.collaborators">
          <img [src]="col.imgUrl">
        </div> -->
      </td>
    </tr>
  </table>
</div>