<div class="content">
  <table (clickOutside)="onClickedOutside($event)">
    <tr>
      <th (click)="sortArrayWithString('sku')">SKU</th>
      <th (click)="sortArrayWithString('brand')">BRAND</th> 
      <th (click)="sortArrayWithString('model')">MODEL</th>
      <th (click)="sortArrayWithString('name')">PRODUCT NAME</th>
      <th (click)="sortArrayWithString('productType')">PRODUCT TYPE</th> 
      <th (click)="sortArray('quantity')">QYT</th>
      <th (click)="sortArray('unitPrice')">UNIT PRICE</th>
      <th (click)="sortArray('discount[value]')">DISCOUNT $</th> 
      <th (click)="sortArrayWithString('parentTotalPrice')">TOTAL</th>
      <th (click)="sortArrayWithString('taxRate')">TAX RATE</th>
      <th (click)="sortArrayWithString('categoryName')">CATEGORY</th> 
      <th (click)="sortArrayWithString('subCategoryName')">SUBCATEGORY</th>
    </tr>
    <tbody
      *ngFor="let parentProduct of proposalProductOrdered; let parentI = index; "
      [ngStyle]="{'background-color': selectedRows.includes(parentProduct.id) ? '#dcdbdb':'white'}"
      (click)="onParentRowSelect(parentProduct)"
    >
      <tr *ngIf="parentProduct.expand">
        <td>
          <img src="assets/images/right-arrow.png" *ngIf="!parentProduct.expanded && parentProduct.type == 'PRODUCT'" (click)="checkExpand(parentProduct)">
          <img src="assets/images/arrow-down.png" *ngIf="parentProduct.expanded && parentProduct.type == 'PRODUCT'" (click)="checkExpand(parentProduct)">
          <img [src]=getIconImgResource(parentProduct) *ngIf="parentProduct.type !== 'PRODUCT'" (click)="updateOptional(parentProduct)">
          {{parentProduct.sku}}
        </td>
        <td>{{parentProduct.brand}}</td> 
        <td>{{parentProduct.model}}</td>
        <td>{{parentProduct.name}}</td>
        <td>{{parentProduct.productType}}</td> 
        <td>
          <input 
            [(ngModel)]="parentProduct.quantity" 
            (blur)="onBlur(parentProduct)" 
            (focus)="onFocus()" 
            (keyup.enter)="updateProposalProduct(parentProduct)" 
            type="number">
          </td>
        <td>
          $ <input [(ngModel)]="parentProduct.unitPrice" *ngIf="unitPriceEditable" (blur)="unitPriceEditable = false; onBlur(parentProduct);" (input)="getParentTotalPrice(parentProduct)"  (focus)="onFocus()">
          <!-- <span *ngIf="!unitPriceEditable" (click)="unitPriceEditable = true;">{{parentProduct.unitPrice | number: '1.2-2'}}</span> -->
          <span *ngIf="!unitPriceEditable">{{parentProduct.unitPrice | number: '1.2-2'}}</span>
        </td>
        <td><input [(ngModel)]="parentProduct.discount.value" (blur)="onBlur(parentProduct)" (focus)="onFocus()" type="number"></td> 
        <td>$ 
          <span *ngIf="parentProduct.type == 'PRODUCT'">{{parentProduct.parentTotalPrice | number:'2.2-2'}}</span> 
          <span *ngIf="parentProduct.type !== 'PRODUCT'">{{parentProduct.total | number:'2.2-2'}}</span></td>
        <td>
          <select [(ngModel)]="parentProduct.taxRateId" (ngModelChange)="updateProposalProduct(parentProduct)">
            <option *ngFor = "let tax of taxRatesList" [value]="tax.id">{{tax.name}}</option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="parentProduct.categoryId" (ngModelChange)="updateProposalProduct(parentProduct)">
            <option value="0">Select Category</option>
            <option *ngFor="let category of proposalCategoryList" [value]="category.id" >{{category.name}}</option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="parentProduct.subcategoryId" (ngModelChange)="updateProposalProduct(parentProduct)">
            <option value="0">Select Sub Category</option>
            <option *ngFor="let subcategory of proposalSubCategoryList" [value]="subcategory.id" >{{subcategory.name}}</option>
          </select>
        </td>
      </tr>
      <!-- Disabled for now because current back end does not support multi category products expanding function (2018/07/13) -->
      <!-- <ng-container *ngIf = "parentProduct.expanded">
        <tr
          [ngClass]="{'selected-row': selectedRows.includes(childProduct.id), 'unselected-child-row': !selectedRows.includes(childProduct.id), 'no-image-row': !getIconImgResource(childProduct)}"
          *ngFor="let childProduct of childNodesForParents[parentI]; let i = index;"
          (click)="onChildRowSelect(childProduct, $event);"
          >
          <td ><img [hidden]="!getIconImgResource(childProduct)" [src]="getIconImgResource(childProduct)" (click)="changeProductOption(childProduct, parentProduct)"><span [ngClass]="{'no-image-cell': !getIconImgResource(childProduct)}">{{childProduct.sku}}</span></td>
          <td>{{childProduct.brand}}</td> 
          <td>{{childProduct.model}}</td>
          <td>{{childProduct.productName}}</td>
          <td>{{childProduct.productType}}</td> 
          <td><input [(ngModel)]="childProduct.qty" (input)="getParentTotalPrice(parentProduct)" (blur)="onBlur()" (focus)="onFocus()"></td>
          <td>
            $ <input [(ngModel)]="childProduct.unitPrice" *ngIf="unitPriceEditable" (blur)="unitPriceEditable = false; onBlur();" (input)="getParentTotalPrice(parentProduct)" (focus)="onFocus()">
            <span *ngIf="!unitPriceEditable" (click)="unitPriceEditable = true;">{{childProduct.unitPrice | number: '1.2-2'}}</span>
          </td>
          <td><input [(ngModel)]="childProduct.discount" (blur)="onBlur()" (focus)="onFocus()"></td> 
          <td>$ {{childProduct.unitPrice * childProduct.qty * (100 - childProduct.discount)/100 | number:'2.2-2'}}</td>
          <td>
            <select [(ngModel)]="childProduct.taxRate">
              <option value="GST" selected>GST</option>
              <option value="PST">PST</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="childProduct.category">
              <option *ngFor="let category of proposalCategoryList" [ngValue]="category" >{{category}}</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="childProduct.subcategory">
              <option *ngFor="let subcategory of proposalSubCategoryList" [ngValue]="subcategory" >{{subcategory}}</option>
            </select>
          </td>
        </tr>
      </ng-container> -->
  </tbody>
  </table>
</div>

<!-- Edit Discount Modal -->

<div class="modal-wrapper" *ngIf="!deleteModalCollapsed"></div>
<div class="delete-modal common"  [ngClass]="{'show-modal': !deleteModalCollapsed, 'hide-modal': deleteModalCollapsed }">
  <div class="header">
    <span>Do you really want to delete?</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="deleteModalCollapsed=true; deleteModalCollapsed=false" />
  </div>

  <div class="main-content" >
    
    <div class="btn-section" >
      <button class="cancel-btn" (click)="cancelDelete()"  >
        Cancel
      </button>
      <button class="save-btn" (click)="deleteProduct()"  >
        Delete
      </button>
    </div>
  </div>
</div>

<div>
  <app-alertmodal [(modalContent)]="modalContent"></app-alertmodal>
</div>