<div class="schedule-content" [ngClass]="{'cal-small': showSidebar}">
  <div class="resources-available">
    <span>Nu Automation</span>
    <div class="resources-list">
      <div *ngFor="let resource of resourcesInfo " class="resource-style">
        <div class="item"> 
          <!-- <img src="{{resource.imageUrl}}"> -->
          <div [ngStyle]="{'background-color': themeColor}" class="heading-img" *ngIf="!editing"></div>
          <i class="fa fa-gear" *ngIf="editing" (click)="changeColor()"></i>
          <input [(ngModel)]="resource.name" (focus)="editingTitle()">
        </div>
        <div class="colors-panel" *ngIf="changingColor">
          <div [ngStyle]="{'background-color': color}" *ngFor="let color of eventColors" (click)="selectColor(color)"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="calendar-view">
    <div class="angular2-fullcalendar"></div>
  </div>
</div>
<div class="sidebar-wrapper" *ngIf="showSidebar" (click)="closeDetailedSidebar(); $event.stopPropagation();"></div>
<div class="event-sidebar" [hidden]="!showSidebar">
  <app-personalupcomingevents [upcomingModalInfo]="upcomingModalInfo" (updatedEvent)="getUpdatedEvent($event)"></app-personalupcomingevents>
</div>