<div class="top">
  <div class="title">
    <span>FILTER</span>
    <img src="assets/images/add-button.png" *ngIf="filterClicked">
  </div>
  <button class="filter-apply" (click)="applyFilter()">Apply</button>
</div>

<div class="filter-content">
  <div class="supplier-selection">
    <span>Supplier name</span>
    <app-ng2completer [itemsList]="suppliersList" (selectedItem)="onSelectedSupplier($event)" [searchStr]="selectSupplier" ></app-ng2completer>
  </div>

  <div class="contact-selection">
    <span>Contact name</span>
    <app-ng2completer [itemsList]="contactsList" (selectedItem)="onSelectedContact($event)" [searchStr]="selectContact"></app-ng2completer>
  </div>
  
  <div class="supplier-term">
    <span>Terms</span>
    <select [(ngModel)]="filters.selectTerm">
      <option value="choose" default>Choose term</option>
      <option *ngFor="let term of supplierTerm" [value]="term">{{term}}</option>
    </select>
  </div>

  <div class="account-number">
    <span>Account Number</span>
    <input [(ngModel)]="filters.accountNumber" >
  </div>
  
  <div class="supplier-type">
    <span>Currency</span>
    <select [(ngModel)]="filters.selectCurrency">
      <option value="choose" default>Choose status</option>
      <option *ngFor="let type of supplierCurrencies" [value]="type">{{type}}</option>
    </select>
  </div>

  <div class="tag">
    <span>Tags</span>
    <div class="tags" (click)='editable=true;$event.stopPropagation();'> 
      <div class="follower" *ngFor="let user of supplierTags; let i = index" >
        <span class="supplier-tag">{{user}}</span>
      </div> 
      <div class="follower add-tag" (click)="editable=true;$event.stopPropagation()">
        <a (click)="editable=true;$event.stopPropagation()" ></a>
      </div> 
      <div class="edit-tags" *ngIf="editable" (click)="editable=true;$event.stopPropagation()" >
        <ul>
          <li *ngFor="let user of supplierTags; let i = index">{{user}}<span (click)="removeUser(i)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
          <li style="background: none; width: 100%; margin: 0;">
              <input autocomplete [config]="config2" [items]="items2"
              (inputChangedEvent)="onInputChangedEvent($event)"
              (selectEvent)="onSelect($event)">
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <button class="reset-filter" (click)="resetFilter()">Reset Filter</button>
</div>