<div class="content">
  <table class="work-order-table">
    <tr>
      <th (click)="sortArray('workOrderNumber')">WORK ORDER #</th>
      <th (click)="sortArray('workOrderName')">NAME OF WORK ORDER</th>
      <th (click)="sortArray('customerName')">CUSTOMER NAME</th>
      <th (click)="sortCreateDateArray('startDate')">START DATE</th> 
      <th (click)="sortArray('scheduledStart')">SCHEDULED</th>
      <th >COLLABORATORS</th>
      <th (click)="sortArray('completion')">WORK ORDER COMPLETION</th>
    </tr>
    <tr *ngFor="let workorder of workOrdersInfo; let i = index" (click)="redirectTo(workorder.projectNumber)">
      <td>{{workorder.workOrderNumber}}</td>
      <td>{{workorder.workOrderName}}</td>
      <td>{{workorder.customerName}}</td>
      <td>{{workorder.startDate}}</td>
      <td>{{workorder.scheduledStart}} - {{workorder.scheduledEnd}}</td>
      <td class="collaborators">
        <div *ngFor="let col of workorder.collaborators" >
          <img [src]="col.imgUrl">
        </div>
      </td>
      <td class="work-order-completion"><app-horizontalbar [barInfo]="workorder.barInfo"></app-horizontalbar></td> 
    </tr>
  </table>
</div>

