<div class="top-project-info-section">
  <app-pmboardtopinfo></app-pmboardtopinfo>
  <div class="horizontal-bar">
    <app-horizontalbar [barInfo]="barInfo"></app-horizontalbar>
  </div>
</div>
<div class="gantt-chart">
  <app-ganttchart [tasks]="tasks"></app-ganttchart>
</div>
<div class="main-content">
  <div class="content-left">
    <div class="pm-table">
      <app-pmboardtable [pmBoardTableInfo]="pmBoardTableData" [taskOwners]="taskOwners" (updatePmData)="getUpdatedPmData($event)"></app-pmboardtable>
    </div>
    <div class="project-finances">
      <app-projectfinance [projectInfo]="projectInfo" [financialTableData]="financialTableData"></app-projectfinance>
    </div>
    <div class="activity-timeline">
      <app-ng2timeline [timelineData]="timelineData"></app-ng2timeline>
    </div>
  </div>
  <div class="content-right">
    <app-boardpanelright [projectInfo]="projectInfo" [pmBoardTableData]="pmBoardTableData"></app-boardpanelright>
  </div>
</div>