h1, h2, h3, h4, h5, h6 {
  color: #646464;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: #95989A;
  margin-top: 20px;  
}

h5 {
  font-size: 12px;
  font-weight: 400;
  color: #95989A;
  margin-top: 20px;
}

.logo {
  width: calc(17vw - 5px - 30px);
  height: calc(17vw - 5px - 30px);
  border-radius:  20px;
  text-align: center;
  background: gray;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;  
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 30px
}

.logo img { 
  width: 100%;
  height: 100%;
}

span, input {
  font-size: 12px;
  font-weight: 400;
  color: #95989A;
  display: block;
  padding: 0 5px;
}

span.phone-numbers {
  display: flex;
  padding: 2px 5px;
}

.editable input {
  border: 0;
  width: 100%;
}

.email, .phone, .shipping, .billing-address {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
}

.email textarea {
  height: 20px;
}

.editable img {
  min-width: 20px;
  height:20px;
  margin-right: 15px;
}

.customer-notes textarea {
  width: 100%;
  height: 250px;
  background: #f5f5f5;
  border-width: 0;
  padding: 10px;
  resize: vertical;
}

.editable textarea {
  width: 100%;
  resize: none;
  font-size: 12px;
  border: 0;
  color: #95989A;
  height: auto;
  padding-left: 5px;
  overflow: hidden;
}

.name.editable input {
  font-size: 30px;
  color: #646464;
}

.shipping, .billing-address {
  width: 70%;
}

@media screen and (max-width: 1350px) {
	.shipping, .billing-address {
    width: 100%;
  }

  .editable img {
    margin-right: 7px;
  }
}

@media screen and (max-width: 1150px) {
	.name.editable input{
    font-size: 23px;
  }

  .email textarea {
    height: 40px;
  }

  .shipping textarea, .billing-address textarea {
    height: 55px;
  }
}

/* Alert Modal CSS */

.confirm-modal-wrapper {
  background: rgba(156,152,152,0.5);
  width:100%;
  height: 100%;
  z-index: 9990;
  position: fixed;
  top: 0;
  left: 0;
}

.confirm-modal {
  position: fixed;
  top: 5px;
  width: 60%;
  margin: 0 20%;
  left: 0;
  background: white;
  z-index: 9999;
  border-radius: 5px;
  transition: all 0.5s;
  
}

.confirm-modal-hide {
  position: fixed;
  top: -100%;
  width: 60%;
  margin: 0 20%;
  left: 0;
  z-index: 9999;
  transition: all 0.5s;
  visibility: hidden;
}

.confirm-modal .content {
  padding: 25px;
  font-size: 0.8em;
}


.confirm-modal .header {
  padding: 20px 25px;
  font-size: 1.1em;
  border-bottom: solid 1px lightgray;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header span {
  font-size: 16px;
}

.confirm-que {
  font-size: 12px;
}

.center-btn-section {
  text-align: center;
  padding: 30px 0 10px;
}

.done-btn {
  background-color: #a9f2df;
	border-radius: 3px;
	height: 2.5rem;
	font-size: 10px;
	border: 0;
	width: 95px;
	outline: none;
	box-shadow: inset #99f3db 0 0 1px 1px;
	margin: 5px;
  color: gray;
  margin-left: 10px;
}

.cancel-btn {
  background-color: lightgray;
	border-radius: 3px;
	height: 2.5rem;
	font-size: 10px;
	border: 0;
	width: 95px;
	outline: none;
	margin: 5px;
	color: gray;
}

.done-btn:focus {
  background: #8decd4;
}

.close-btn {
  cursor: pointer;
  font-size: 1.5em;
  width: 22px;
  height: 22px;
}

.logo .img-settings {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;

}

/* Image Edit Modal CSS */

.edit-image-modal-wrapper {
  background: rgba(156,152,152,0.5);
  width:100%;
  height: 100%;
  z-index: 9990;
  position: fixed;
  top: 0;
  left: 0;
}

.edit-modal-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-height: 80vh;
  overflow: auto;
}

.edit-modal-content>input {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin: 10px auto;
}

.image-content {
  display: flex;
  min-height: 400px;
  justify-content: space-around;
  margin-top: 5px;
  align-items: center;
}

image-cropper {
  max-width: 50%;
  background: #f5f5f5;
}

:host ::ng-deep image-cropper img {
  width: 100%;
}

.image-content>img {
  width: 290px;
  height: 290px;
}


.shipping-address-container {
  display: flex;
  flex-direction: column;
}

.city-state-country {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.city-state-country > * {
  width: 33% !important;
  margin-bottom: 5px;
  margin-top: 5px;
}

/deep/ ng2-completer .completer-dropdown {
  height: 100px !important;
  overflow: auto;
}

/deep/.shipping-address-container ng2-completer .completer-input {
  border: 0;
  color: #95989a;
  font-size: 12px;
  height: 18px;
  border-left: 1px solid lightgray;
}

/deep/.shipping-address-container ng2-completer .completer-input::placeholder {
  color: #d3d3d3;
}

.phone-validation {
  border: 1px solid red !important;
}

.personal-name {
}

.alert-email {
  color: red;
  font-size: 13px;
}

input::placeholder {
  color: #d3d3d3;
}

.validation-required {
  border: 1px solid red !important;
}

.name input::placeholder {
  font-size: 16px;
}