<div class="main-content" [ngClass]="{'main-content-large': menuCollapsed, 'main-content-small': !menuCollapsed }" > 
  <div class="top-nav-bar">
    <div class="breadcrumb-bar">
      <span>Deals</span>
      <i class="fa fa-angle-right"></i>
      <span>All deals</span>
    </div>
    <div class="deals-filter">
      <span>Filter deals by</span>
      <div>
        <select [(ngModel)]="filterOption" (ngModelChange)="onChangeFilter(filterOption);">
          <option *ngFor="let filter of filterOptions" [value]="filter">{{filter}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="main-content-box">
    <div class="breadcrumb">
      <a >
        <span class="breadcrumb__inner">
          <span class="breadcrumb__title">New</span>
          <div class="breadcrumb__desc">
            <span>$ {{total(newDeals) | number: '1.2-2'}}</span>
            <span *ngIf="newDeals">{{newDeals.length}} deals</span>
          </div> 
        </span>
      </a>
      <a >
        <span class="breadcrumb__inner">
          <span class="breadcrumb__title">Follow-up</span>
          <div class="breadcrumb__desc">
            <span>$ {{total(followUpDeals) | number: '1.2-2'}}</span>
            <span *ngIf="followUpDeals">{{followUpDeals.length}} deals</span>
          </div> 
        </span>
      </a>
      <a>
        <span class="breadcrumb__inner">
          <span class="breadcrumb__title">Seen</span>
          <div class="breadcrumb__desc">
            <span>$ {{total(seenDeals) | number: '1.2-2'}}</span>
            <span *ngIf="seenDeals">{{seenDeals.length}} deals</span>
          </div> 
        </span>
      </a>
      <a >
        <span class="breadcrumb__inner">
          <span class="breadcrumb__title">Demo</span>
          <div class="breadcrumb__desc">
            <span>$ {{total(demoDeals) | number: '1.2-2'}}</span>
            <span *ngIf="demoDeals">{{demoDeals.length}} deals</span>
          </div> 
        </span>
      </a>
      <a >
        <span class="breadcrumb__inner">
          <span class="breadcrumb__title">Negotiation</span>
          <div class="breadcrumb__desc">
            <span>$ {{total(negotiationDeals) | number: '1.2-2'}}</span>
            <span *ngIf="negotiationDeals">{{negotiationDeals.length}} deals</span>
          </div> 
        </span>
      </a>
      <a >
        <span class="breadcrumb__inner">
          <span class="breadcrumb__title">Won</span>
          <div class="breadcrumb__desc">
            <span>$ {{total(wonDeals) | number: '1.2-2'}}</span>
            <span *ngIf="wonDeals">{{wonDeals.length}} deals</span>
          </div> 
        </span>
      </a>
      <a >
        <span class="breadcrumb__inner">
          <span class="breadcrumb__title">Lost</span>
          <div class="breadcrumb__desc">
            <span>$ {{total(lostDeals) | number: '1.2-2'}}</span>
            <span *ngIf="lostDeals">{{lostDeals.length}} deals</span>
          </div> 
        </span>
      </a>
    </div>

    <div class="draggable-table-content">
      <!--New column-->
      <div class="new-content">
        <div [dragula]="'dragItem'" class="draggable-column" [dragulaModel]='newDeals' id="NEW">
          <div *ngFor="let deal of newDeals; let i = index;" class="individual" id={{deal.index}}>
            <div class="draggable">
              <div class="deal-content">
                <span>{{deal.name}}</span>
                <span>{{deal.title}}</span>
                <span>$ {{deal.total | number: '2.2-2'}}</span>
              </div>
              <div class="deal-id-created">
                <span>ID: {{deal.id}}</span>
                <span>{{deal.created}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Follow-Up column -->
      <div class="follow-up-content">
        <div [dragula]="'dragItem'" class="draggable-column" [dragulaModel]='followUpDeals' id="FOLLOW_UP">
          <div *ngFor="let deal of followUpDeals; let i = index;" class="individual" id={{deal.index}}>
            <div class="draggable">
              <div class="deal-content">
                <span>{{deal.name}}</span>
                <span>{{deal.title}}</span>
                <span>$ {{deal.total | number: '2.2-2'}}</span>
              </div>
              <div class="deal-id-created">
                <span>ID: {{deal.id}}</span>
                <span>{{deal.created}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--seen column-->
      <div class="seen-content">
        <div [dragula]="'dragItem'" class="draggable-column" [dragulaModel]='seenDeals' id="SEEN">
          <div *ngFor="let deal of seenDeals; let i = index;" class="individual" id={{deal.index}}>
            <div class="draggable">
              <div class="deal-content">
                <span>{{deal.name}}</span>
                <span>{{deal.title}}</span>
                <span>$ {{deal.total | number: '2.2-2'}}</span>
              </div>
              <div class="deal-id-created">
                <span>ID: {{deal.id}}</span>
                <span>{{deal.created}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--demo column-->
      <div class="demo-content">
        <div [dragula]="'dragItem'" class="draggable-column" [dragulaModel]='demoDeals' id="DEMO">
          <div *ngFor="let deal of demoDeals; let i = index;" class="individual"  id={{deal.index}}>
            <div class="draggable">
              <div class="deal-content">
                <span>{{deal.name}}</span>
                <span>{{deal.title}}</span>
                <span>$ {{deal.total | number: '2.2-2'}}</span>
              </div>
              <div class="deal-id-created">
                <span>ID: {{deal.id}}</span>
                <span>{{deal.created}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--negotiation column-->
      <div class="negotiation-content">
        <div [dragula]="'dragItem'" class="draggable-column" [dragulaModel]='negotiationDeals' id="NEGOTIATION">
          <div *ngFor="let deal of negotiationDeals; let i = index;" class="individual" id={{deal.index}}>
            <div class="draggable">
              <div class="deal-content">
                <span>{{deal.name}}</span>
                <span>{{deal.title}}</span>
                <span>$ {{deal.total | number: '2.2-2'}}</span>
              </div>
              <div class="deal-id-created">
                <span>ID: {{deal.id}}</span>
                <span>{{deal.created}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--won column-->
      <div class="won-content">
        <div [dragula]="'dragItem'" class="draggable-column" [dragulaModel]='wonDeals' id="WON">
          <div *ngFor="let deal of wonDeals; let i = index;" class="individual" id={{deal.index}}>
            <div class="draggable">
              <div class="deal-content">
                <span>{{deal.name}}</span>
                <span>{{deal.title}}</span>
                <span>$ {{deal.total | number: '2.2-2'}}</span>
              </div>
              <div class="deal-id-created">
                <span>ID: {{deal.id}}</span>
                <span>{{deal.created}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--lost column-->
      <div class="lost-content">
        <div [dragula]="'dragItem'" class="draggable-column" [dragulaModel]='lostDeals' id="LOST">
          <div *ngFor="let deal of lostDeals; let i = index;" class="individual" id={{deal.index}}>
            <div class="draggable">
              <div class="deal-content">
                <span>{{deal.name}}</span>
                <span>{{deal.title}}</span>
                <span>$ {{deal.total | number: '2.2-2'}}</span>
              </div>
              <div class="deal-id-created">
                <span>ID: {{deal.id}}</span>
                <span>{{deal.created}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div>
  <app-ynmodal [(modalContent)]="modalContent" (confirmClicked)="onSelect($event)"></app-ynmodal>
</div>