<div class="top">
  <div class="title">
    <span>FILTER</span>
    <img src="assets/images/add-button.png" *ngIf="filterClicked">
  </div>
  <button class="filter-apply" (click)="applyFilter()">Apply</button>
</div>

<div class="filter-content">

  <div class="customer-selection">
    <span>Source</span>
    <app-ng2completer [itemsList]="purchaseOrdersList" (selectedItem)="onSelectedOrder($event)" [searchStr]="selectOrder" ></app-ng2completer>
  </div>

  <div class="purchaseorder-type">
    <span>Type</span>
    <select [(ngModel)]="filters.type">
      <option value="choose" default>Choose type</option>
      <option *ngFor="let type of purchaseOrderTypes" [value]="type">{{type}}</option>
    </select>
  </div>

  <div class="status">
    <span>Status</span>
    <div class="statuses" (click)='editable=true;$event.stopPropagation();'> 
      <div class="follower" *ngFor="let status of purchaseorderStatus; let i = index" >
        <span class="order-status">{{status}}</span>
      </div> 
      <div class="follower add-status" (click)="editable=true;$event.stopPropagation()">
        <a (click)="editable=true;$event.stopPropagation()" ></a>
      </div> 
      <div class="edit-statuses" *ngIf="editable" (click)="editable=true;$event.stopPropagation()" >
        <ul>
          <li *ngFor="let status of purchaseorderStatus; let i = index">{{status}}<span (click)="removeStatus(i)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
          <li style="background: none; width: 100%; margin: 0;">
            <input autocomplete [config]="config2" [items]="items2"
            (inputChangedEvent)="onInputChangedEvent($event)"
            (selectEvent)="onSelect($event)">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="score-range-filter">
    <span>Total cost range</span>
    <ion-range-slider #sliderElement
        type="double"
        min="0"
        [max]="maxTotal"
        [from]="filters.TotalFrom"
        [to]="filters.TotalTo"
        prefix="$ "
        (onChange)="totalRangeSliderChange($event)"></ion-range-slider>
  </div>

  <div class="purchaseorder-started-date">
    <span>Due date</span>
    <div>
      <div class="last-from">
        <input [owlDateTimeTrigger]="startedFrom" [owlDateTime]="startedFrom" placeholder="From" (dateTimeChange)="selectStartedFrom($event)" [max]="startedMax" [(ngModel)]="filters.startedFrom" >
        <owl-date-time [pickerType]="'calendar'" #startedFrom ></owl-date-time>
      </div>
      <div class="last-to">
        <input [owlDateTime]="startedTo" [owlDateTimeTrigger]="startedTo" placeholder="To" (dateTimeChange)="selectStartedTo($event)" [min]="startedMin" [(ngModel)]="filters.startedTo" >
        <owl-date-time [pickerType]="'calendar'" #startedTo></owl-date-time>
      </div>
    </div>
  </div>

  <div class="purchaseorder-updated-date">
    <span>Last updated</span>
    <div>
      <div class="updated-from">
        <input [owlDateTimeTrigger]="updatedFrom" [owlDateTime]="updatedFrom" placeholder="From" (dateTimeChange)="selectUpdatedFrom($event)" [max]="updatedMax" [(ngModel)]="filters.updatedFrom"  >
        <owl-date-time [pickerType]="'calendar'" #updatedFrom ></owl-date-time>
      </div>
      <div class="updated-to">
        <input [owlDateTime]="updatedTo" [owlDateTimeTrigger]="updatedTo" placeholder="To" (dateTimeChange)="selectUpdatedTo($event)" [min]="updatedMin" [(ngModel)]="filters.updatedTo">
        <owl-date-time [pickerType]="'calendar'" #updatedTo></owl-date-time>
      </div>
    </div>
  </div>

  <button class="reset-filter" (click)="resetFilter()">Reset Filter</button>
</div>