<div class="content-box" (click)="editable=true;$event.stopPropagation()">
  <div [ngClass]="{ 'editable': editable, 'non-editable': !editable, 'hidden': editable}">
    <span *ngIf="subCategories == undefined" class="placeholder">{{placeholder}}</span>
    <ul *ngIf="subCategories">
      <li *ngFor="let keyword of subCategories; let i = index" >{{keyword.name}}</li>
      <li class="add-keyword"><img src="assets/images/Add-Button.svg" (click)="editable=true;$event.stopPropagation()" /></li>
    </ul>
  </div>
  <div [ngClass]="{ 'editable': editable, 'hidden': !editable }" (click)="editable=true;$event.stopPropagation()" >
    <ul *ngIf="subCategories">
      <li *ngFor="let keyword of subCategories; let i = index" >{{keyword.name}}<span (click)="deleteSubCategory(keyword.id)">&nbsp;&nbsp;x</span></li><br/>
      <li style="background: none; width: 100%; margin: 0;" >
        <input placeholder="Type Here..." #box [(ngModel)]="newSubCategory" class="add-keyword-input" type="text" (keyup.enter)="addNewSubCategory(newSubCategory)"/></li>
    </ul>
  </div>
</div>

<!-- keywords.splice(i,1) -->