<div class="cmp-content">
	<div class="content-left" >
		<div class="customer-project">
			<div class="customer-name">
				<span>Customer name</span>
				<input [(ngModel)]="customerName" disabled>
			</div>
			<div class="project">
				<span>Project</span>
				<input [(ngModel)]="projectName" disabled>
			</div>
		</div>
		<div class="shipping-address">
			<div class="desc">
				<span>Project Address</span>
				<!-- <div class="switching-icon">
					<img src="assets/images/switch.png" *ngIf="switchIconAddress" (click)="clickIconShipping()">
					<img src="assets/images/switch-off.png" *ngIf="!switchIconAddress" (click)="clickIconShipping()">
					<span>Use customer address</span>
				</div> -->
			</div>
			<input placeholder="Enter Project Address" class="address" [(ngModel)]="address" disabled>
			<div class="city-state">
				<input placeholder="Enter City" [(ngModel)]="city" disabled>
				<input placeholder="Enter State" [(ngModel)]="province" disabled>
			</div>
			<div class="country-zip">
				<input placeholder="Enter Country" [(ngModel)]="country" disabled>
				<input placeholder="Enter Zipcode" [(ngModel)]="postalCode" disabled>
			</div>
		</div>
	</div>
	<div class="content-right" >
		<div>
			<span>Change Log ID</span>
			<input placeholder="Enter Change Log ID" [(ngModel)]="logId" disabled>
		</div>
		<div>
			<span>Requested By</span>

			<!-- Just input -->
			<input placeholder="Requested By" [(ngModel)]="requestedBy" disabled>

		</div>
		<div>
			<span>CC Contact</span>
			<select [(ngModel)]="ccContact" *ngIf="contactsList">
				<option [value]="contact.id" *ngFor="let contact of contactsList">{{contact.name}}</option>
			</select>
		</div>
		<div class="start-date">
			<span>Created on</span>

			<input [(ngModel)]="createdAt" disabled>
		</div>
		<div class="end-date">
			<span>Last Updated</span>
			<!-- <div>
				<input [owlDateTimeTrigger]="endDate" [owlDateTime]="endDate" (dateTimeChange)="onUpdatedDate($event)" [(ngModel)]="updatedAt" >
				<owl-date-time [pickerType]="'calendar'" #endDate ></owl-date-time>
			</div> -->
			<input [(ngModel)]="updatedAt" disabled>
		</div>
		<div class="switching-icon">
			<img src="assets/images/switch.png" *ngIf="switchIconPm" (click)="updatePmProfile()">
			<img src="assets/images/switch-off.png" *ngIf="!switchIconPm" (click)="updatePmProfile()">
			<span class="update-pm">Update Customer's Project Manager Once it is approved</span>
		</div>
	</div>
</div>