<div class="btn-add-supplier" (click)="addSupplierModalCollapsed=false; showAddSupplierModal=true;">Add supplier</div>

<!-- ADD SUPPLIER MODAL VIEW -->

<div class="add-supplier-modal-wrapper" *ngIf="showAddSupplierModal" ></div>
<div class="add-supplier-modal"  [ngClass]="{'show-modal': !addSupplierModalCollapsed, 'hide-modal': addSupplierModalCollapsed }">
  <div class="header">
    <span>ADD SUPPLIER</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="addSupplierModalCollapsed=true; showAddSupplierModal=false" />
  </div>

  <div class="content" >
    <tabs (currentTabChange)="tabChange($event)" >
      <tab tabTitle="CONTACT DETAILS" [active]="tabActiveFirst" >
        <div class="tab-one">
          <div class="tab-row">
            <div>
              <span>Supplier Name (*required)</span>
              <input placeholder="Enter supplier name" [ngClass]="{'validation-required': invalidSupplierName}" [(ngModel)]="supplierName" [value]="supplierName">
            </div>
            <div>
              <span>Contact Name (*required)</span>
              <select [(ngModel)]="contactName" [ngClass]="{'validation-required': invalidContactName, 'not-edited': !contactName}" class="contactNameField" 
                (change)="contactNameChanged($event)" >
                <option value="" disabled selected class="default-option">Enter last name</option>
                <option *ngFor="let contact of contacts" [value]="contact.id">{{contact.owner}}</option>
              </select>
            </div>
          </div>

          <div class="tab-row">
            <div>
              <span>Supplier Phone (*required)</span>
              <input placeholder="Enter supplier phone" type="number" [ngClass]="{'validation-required': invalidSupplierPhone}" [(ngModel)]="supplierPhone" [value]="supplierPhone">
            </div>
            <div>
              <span>Contact Email (*required) <span *ngIf="!wrongEmailFormat" class="wrong-format"> : Wrong Email Format!</span></span>
              <input
                placeholder="Enter contact email" 
                type="email" 
                [ngClass]="{'validation-required': invalidContactEmail}" 
                [(ngModel)]="contactEmail" 
                [value]="contactEmail"
                readonly
              >
            </div>
          </div>

          <div class="tab-row">
            <div>
              <span>Account Payable Email</span>
              <input placeholder="Enter account payable email" [(ngModel)]="payableEmail" [value]="payableEmail">
            </div>
            <div>
              <span>Contact Phone</span>
              <input placeholder="Enter contact phone" readonly [(ngModel)]="contactPhone" [value]="contactPhone">
            </div>
          </div>

          <div class="tab-row">
            <div>
              <span>Account Payable Phone</span>
              <input placeholder="Enter account payable phone" [(ngModel)]="payablePhone" [value]="payablePhone">
            </div>
            <div>
              <span>Business Number (*required)</span>
              <input placeholder="Enter business number" [(ngModel)]="businessNumber" [value]="businessNumber"
                [ngClass]="{'validation-required': invalidBusinessNumber}">
            </div>
          </div>

          <div class="shipping-address ">
            <div class="desc">
              <span>Address</span>
            </div>
            <input placeholder="Enter Shipping Address" class="address" [ngClass]="{'validation-required': invalidAddress}" [(ngModel)]="newAddress" >

            <div class="city-state">
              <input placeholder="Enter City" [(ngModel)]="newCity" [ngClass]="{'validation-required': invalidAddress}">
              <input placeholder="Enter State" [(ngModel)]="newState" [ngClass]="{'validation-required': invalidAddress}">
            </div>
            <div class="country-zip">
              <input placeholder="Enter Country" [(ngModel)]="newCountry" [ngClass]="{'validation-required': invalidAddress}">
              <input placeholder="Enter Zipcode" [(ngModel)]="newZipcode" [ngClass]="{'validation-required': invalidAddress}">
            </div>
          </div>

          <div class="btn-section" >
            <button class="cancel-btn" (click)="addSupplierModalCollapsed=true; showAddSupplierModal=false"  >
              Cancel
            </button>
            <button class="save-btn" (click)="clickNext()"  >
              Next
            </button>
          </div>
        </div>
      </tab>
      <tab tabTitle="SUPPLIER DETAILS" class="tab-won" [active]="tabActiveSecond">
        <div class="tab-two">
          <div class="tab-row">
            <div>
              <span>Account Number (*required)</span>
              <input 
                placeholder="Enter your account number for this supplier" 
                [ngClass]="{'validation-required': invalidAccountNumber}" 
                [(ngModel)]="accountNumber" 
                [value]="accountNumber"
              >
            </div>
            <div>
              <span>Default terms (*required)</span>
              <div>
                <select [(ngModel)]="defaultTerm" [ngClass]="{'validation-required': invalidDefaultTerm}" >
                  <option value="" disabled selected class="default-option">Choose the default terms</option>
                  <option *ngFor="let term of supplierTerm" [value]="term.id">{{term.name}}</option>
                </select>
              </div>
            </div>
            
          </div>
					<div class="tab-row">
            <div>
              <span>Account Payable Phone</span>
              <input placeholder="Enter account payable phone" [(ngModel)]="payablePhone" [value]="payablePhone">
            </div>
            <div>
              <span>Default currency (*required)</span>
              <div>
                <select [(ngModel)]="defaultCurrency" [ngClass]="{'validation-required': invalidDefaultCurrency}">
                  <option value="" disabled selected class="default-option">Choose the default currency</option>
                  <option *ngFor="let currency of supplierCurrencies" [value]="currency.id">{{currency.currencyCode}}</option>
                </select>
              </div>
            </div>
          </div>
					<div class="tab-row">
            <div>
              <span>Account Payable Phone</span>
              <input placeholder="Enter account payable phone" [(ngModel)]="payablePhone" [value]="payablePhone">
            </div>
            <div></div>
          </div>
					
					<div class="customer-notes">
						<span>Notes</span>
						<textarea placeholder="Enter internal notes here for your team to see..." [(ngModel)]="productNotes"></textarea>
          </div>
          
          <div class="product-tags">
            <span>tags</span>
            <div class="keywords">
              <app-multikeywordselect [keywords]="keywords" ></app-multikeywordselect>
            </div>
          </div>
          <div class="btn-section" >
            <button class="cancel-btn" (click)="tabActiveFirst=true; tabActiveSecond=false;"  >
              Previous
            </button>
            <button class="save-btn" (click)="clickSaveSupplier()"  >
              Finished
            </button>
          </div>
        </div>
      </tab>
      
    </tabs>
  </div>

  
</div>