<div class="sign-up">
  <div class="sign-up-intro" [ngStyle]="{'background-image': loginBackground}">
    <div class="logo-img">
      <img src="assets/images/logo.svg">
    </div>
    <div class="welcome-label">
      Welcome to Koridor
    </div>
    <div class="intro-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
      vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
    </div>
  </div>
  <div id="register-form-wrapper">
    <div id="register-form">
      <div class="title">
        RECOVER YOUR PASSWORD
      </div>
      <form name="registerForm" [formGroup]="registerForm" novalidate>
        
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="registerFormErrors.email.required">
                Email is required
            </mat-error>
            <mat-error *ngIf="!registerFormErrors.email.required && registerFormErrors.email.email">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" class="submit-button" aria-label="SEND RESET LINK"
                [disabled]="registerForm.invalid">
            SEND RESET LINK
        </button>

      </form>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'../login'">Go back to login</a>
      </div>
    </div>
  </div>
</div>