<div class="content">
  <table class="purchase-order-table">
    <tr>
      <th (click)="sortArray('purchaseOrderNumber')">ORDER #</th>
      <th (click)="sortArray('source')">SOURCE</th>
      <th (click)="sortArray('type')">TYPE</th>
      <th (click)="sortArray('status')">STATUS</th>
      <th (click)="sortArray('quantity')">QUANTITY</th>
      <th (click)="sortArray('received')">RECEIVED</th> 
      <th (click)="sortArray('totalCost')">TOTAL COST</th>
      <th (click)="sortDateArray('dueDate')">DUE DATE</th>
      <th (click)="sortDateArray('lastUpdated')">LAST UPDATED</th>
    </tr>
    <tr *ngFor="let purchaseorder of purchaseOrdersInfo; let itemorder = index;" (click)="redirectTo(itemorder)">
      <td>{{purchaseorder.purchaseOrderNumber}}</td>
      <td>{{purchaseorder.source}}</td>
      <td>{{purchaseorder.type}}</td>
      <td>{{purchaseorder.status}}</td>
      <td>{{purchaseorder.quantity}}</td>
      <td>{{purchaseorder.received}}</td>
      <td>$ {{purchaseorder.totalCost | number: '1.2-2'}}</td>
      <td [ngClass]="getDateColor(purchaseorder)">{{purchaseorder.dueDate}}</td>
      <td>{{purchaseorder.lastUpdated}}</td>
    </tr>
  </table>
</div>

