<app-common (expandSidebar)="toggleMenubar($event)"></app-common>
<div class="main-content" [ngClass]="{'main-content-large': menuCollapsed, 'main-content-small': !menuCollapsed }" > 
  <div class="top-sec">
    <div class="greetings">
      <h1>{{greeting}} {{userInfo.name}}</h1>
      <span>You have {{userInfo.tasksCount}} tasks and {{userInfo.eventsCount}} events today</span>
    </div>
    <div class="date-sec">
      <span class="current-day">{{currentDay}}</span>
      <span>{{currentDate}}</span>
    </div>
  </div>

  <div class="cards-multi-charts">
    <div class="charts-left">
      <div class="agenda-tasks">
        <app-agendabox [agendaInfo]="agendaInfo"></app-agendabox>
        <app-tasksbox [tasksInfo]="tasksInfo"></app-tasksbox>
      </div>
      <div class="bar-chart card">
        <div class="card-header">
          <span>PROJECT HOURS</span>
          <select [(ngModel)]="barTimePeriod">
            <option value="week">This Week</option>
            <option value="month">This Month</option>
            <option value="quarter">This Quarter</option>
            <option value="year">This Year</option>
          </select>
        </div>
        <app-morrisbarchart [morrisBarChartInfo]="morrisBarChartInfo"></app-morrisbarchart>
      </div>
    </div>
    <app-activitiesbox [activitiesInfo]="activitiesInfo"></app-activitiesbox>
  </div>
  <div class="cards-line-charts">
    <div class="card">
      <div class="card-header">
        <span>SALES MARGINS</span>
        <select [(ngModel)]="barTimePeriod">
          <option value="week">This Week</option>
          <option value="month">This Month</option>
          <option value="quarter">This Quarter</option>
          <option value="year">This Year</option>
        </select>
      </div>
      <app-salesmarginschart [morrisLineChartInfo]="salesMarginsLine"></app-salesmarginschart>
    </div>
    <div class="card">
      <div class="card-header">
        <span>ACTIVE PROJECTS</span>
        <select [(ngModel)]="barTimePeriod">
          <option value="week">This Week</option>
          <option value="month">This Month</option>
          <option value="quarter">This Quarter</option>
          <option value="year">This Year</option>
        </select>
      </div>
      <app-activeprojectschart [morrisLineChartInfo]="activeProjectsLine"></app-activeprojectschart>
    </div>
    <div class="card">
      <div class="card-header">
        <span>LEADS TO WIN</span>
        <select [(ngModel)]="barTimePeriod">
          <option value="week">This Week</option>
          <option value="month">This Month</option>
          <option value="quarter">This Quarter</option>
          <option value="year">This Year</option>
        </select>
      </div>
      <app-leadstowinchart [morrisLineChartInfo]="leadsToWinLine"></app-leadstowinchart>
    </div>
  </div>
</div>