<div class="cmp-content">
	<div class="content-left" >
		<div class="customer-project">
			<div class="customer-name">
				<span>Customer name</span>
				<input [(ngModel)]="orderProfileInfo.contactName" disabled>
			</div>
			<div class="project">
				<span>Project</span>
				<input [(ngModel)]="orderProfileInfo.name" disabled>
			</div>
		</div>
		<div class="shipping-address">
			<div class="desc">
				<span>Shipping Address</span>
				<div class="switching-icon">
					<img src="assets/images/switch.png" *ngIf="switchIconShipping" (click)="clickIconShipping()">
					<img src="assets/images/switch-off.png" *ngIf="!switchIconShipping" (click)="clickIconShipping()">
					<span>Use customer address</span>
				</div>
			</div>
			<input placeholder="Enter Shipping Address" class="address" [(ngModel)]="orderProfileInfo.shippingAddress.address" [disabled]="orderProfileInfo.completion">
			<div class="city-state">
				<input placeholder="Enter City" [(ngModel)]="orderProfileInfo.shippingAddress.city"  [disabled]="orderProfileInfo.completion">
				<input placeholder="Enter State" [(ngModel)]="orderProfileInfo.shippingAddress.province"  [disabled]="orderProfileInfo.completion">
			</div>
			<div class="country-zip">
				<input placeholder="Enter Country" [(ngModel)]="orderProfileInfo.shippingAddress.country"  [disabled]="orderProfileInfo.completion">
				<input placeholder="Enter Zipcode" [(ngModel)]="orderProfileInfo.shippingAddress.postalCode"  [disabled]="orderProfileInfo.completion">
			</div>
		</div>
	</div>
	<div class="content-right" >
		<div>
			<span>Work Order #</span>
			<input placeholder="Enter Work order" [(ngModel)]="orderProfileInfo.id" disabled>
		</div>
		<div class="start-date">
			<span>Start Date</span>
			<div>
				<input [owlDateTimeTrigger]="startDate" [owlDateTime]="startDate"  (dateTimeChange)="onStartDate($event)" [max]="startMax" [min]="startMin" [(ngModel)]="startDateValue" dateA11yLabel [disabled]="orderProfileInfo.completion">
				<owl-date-time [pickerType]="'calendar'" #startDate ></owl-date-time>
			</div>
		</div>
		<div class="time-select">
			<span>Start Time</span>
			<div (clickOutside)="showStartTime = true;" style="width: 0px;">
				<input [owlDateTime]="startTime" [owlDateTimeTrigger]="startTime" (dateTimeChange)="onStartTime($event)" [(ngModel)]="startTimeValue"  [disabled]="orderProfileInfo.completion" >
				<owl-date-time [pickerType]="'timer'" #startTime ></owl-date-time>
			</div>
			<div class="time-holder" (click)="showStartTime = !showStartTime; $event.stopPropagation();" [owlDateTimeTrigger]="startTime">{{startTimeValue}}</div>
		</div>
		<div class="start-date">
			<span>End Date</span>
			<div>
				<input [owlDateTimeTrigger]="endDate" [owlDateTime]="endDate" (dateTimeChange)="onEndDate($event)" [min]="endMin" [(ngModel)]="endDateValue" [disabled]="orderProfileInfo.completion" >
				<owl-date-time [pickerType]="'calendar'" #endDate ></owl-date-time>
			</div>
		</div>
		<div class="end-time" class="time-select">
			<span>End Time</span>
			<div (clickOutside)="showEndTime = true;" style="width: 0px;">
				<input [owlDateTimeTrigger]="endTime" [owlDateTime]="endTime" (dateTimeChange)="onEndTime($event)"[(ngModel)]="endTimeValue" [disabled]="orderProfileInfo.completion" >
				<owl-date-time [pickerType]="'timer'" #endTime ></owl-date-time>
			</div>
			<div class="time-holder" (click)="showEndTime = !showEndTime; $event.stopPropagation();" [owlDateTimeTrigger]="endTime">{{endTimeValue}}</div>
		</div>
	</div>
</div>