<div class="cmp-content">
	<div class="content-left" >
		<div class="customer-project">
			<div class="customer-name">
				<span>Customer name</span>
				<input [(ngModel)]="orderProfileInfo.contactName" disabled>
			</div>
			<div class="project">
				<span>Project</span>
				<input [(ngModel)]="orderProfileInfo.name" disabled>
			</div>
		</div>
		<div class="shipping-address">
			<div class="desc">
				<span>Shipping Address</span>
				<div class="switching-icon">
					<img src="assets/images/switch.png" *ngIf="switchIconShipping" (click)="clickIconShipping()">
					<img src="assets/images/switch-off.png" *ngIf="!switchIconShipping" (click)="clickIconShipping()">
					<span>Use customer address</span>
				</div>
			</div>
			<input placeholder="Enter Shipping Address" class="address" [(ngModel)]="orderProfileInfo.shippingAddress.address">
			<div class="city-state">
				<input placeholder="Enter City" [(ngModel)]="orderProfileInfo.shippingAddress.city">
				<input placeholder="Enter State" [(ngModel)]="orderProfileInfo.shippingAddress.province">
			</div>
			<div class="country-zip">
				<input placeholder="Enter Country" [(ngModel)]="orderProfileInfo.shippingAddress.country">
				<input placeholder="Enter Zipcode" [(ngModel)]="orderProfileInfo.shippingAddress.postalCode">
			</div>
		</div>
	</div>
	<div class="content-right" >
		<div>
			<span>Work Order #</span>
			<input placeholder="Enter Work order" [(ngModel)]="orderProfileInfo.id" disabled>
		</div>
		<div class="start-date">
			<span>Start Date</span>
			<div>
				<input [owlDateTimeTrigger]="startDate" [owlDateTime]="startDate"  (dateTimeChange)="onStartDate($event)" [max]="startMax" [(ngModel)]="startDateValue" dateA11yLabel>
				<owl-date-time [pickerType]="'calendar'" #startDate ></owl-date-time>
			</div>
		</div>
		<div class="start-time">
			<span>Start Time</span>
			<div  *ngIf="!showStartTime" (clickOutside)="showStartTime = true;">
				<input [owlDateTime]="startTime" [owlDateTimeTrigger]="startTime" (dateTimeChange)="onStartTime($event)" [(ngModel)]="startTimeValue">
				<owl-date-time [pickerType]="'timer'" #startTime ></owl-date-time>
			</div>
			<div class="time-holder" *ngIf="showStartTime" (click)="showStartTime = !showStartTime; $event.stopPropagation();">{{startTimeValue}}</div>
		</div>
		<div class="end-date">
			<span>End Date</span>
			<div>
				<input [owlDateTimeTrigger]="endDate" [owlDateTime]="endDate" (dateTimeChange)="onEndDate($event)" [min]="endMin" [(ngModel)]="endDateValue" >
				<owl-date-time [pickerType]="'calendar'" #endDate ></owl-date-time>
			</div>
		</div>
		<div class="end-time">
			<span>End Time</span>
			<div *ngIf="!showEndTime" (clickOutside)="showEndTime = true;">
				<input [owlDateTimeTrigger]="endTime" [owlDateTime]="endTime" (dateTimeChange)="onEndTime($event)"[(ngModel)]="endTimeValue" >
				<owl-date-time [pickerType]="'timer'" #endTime ></owl-date-time>
			</div>
			<div class="time-holder" *ngIf="showEndTime" (click)="showEndTime = !showEndTime; $event.stopPropagation();">{{endTimeValue}}</div>
		</div>
	</div>
</div>