<div class="content">
  <table class="work-order-table">
    <tr>
      <th (click)="sortArray('workOrderNumber')">WORK ORDER #</th>
      <th (click)="sortArray('workOrderName')">NAME OF WORK ORDER</th>
      <th (click)="sortArray('customerName')">CUSTOMER NAME</th>
      <th (click)="sortCreateDateArray('startDate')">START DATE</th> 
      <th (click)="sortArray('scheduleStart')">SCHEDULED</th>
      <th (click)="sortArray('customerName')">COLLABORATORS</th>
      <th (click)="sortArray('completion')">WORK ORDER COMPLETION</th>
    </tr>
    <tr *ngFor="let projectslist of projectsListInfo; let i = index">
      <td>{{projectslist.workOrderNumber}}</td>
      <td>{{projectslist.workOrderName}}</td>
      <td>{{projectslist.customerName}}</td>
      <td>{{projectslist.startDate}}</td>
      <td>{{projectslist.scheduleStart}} - {{projectslist.scheduleEnd}}</td>
      <td>
        <div class="collaborators">
          <img *ngFor="let collaborator of projectslist.collaborators" [src]="collaborator.imgUrl">
        </div>
      </td>
      <td class="work-order-completion"><app-horizontalbar [barInfo]="projectslist.barInfo"></app-horizontalbar></td> 
    </tr>
  </table>
</div>

