<div class="content">
  <table class="work-order-table" *ngIf="workOrdersList">
    <tr>
      <th (click)="sortArray('id')">WORK ORDER #</th>
      <th (click)="sortArray('name')">NAME OF WORK ORDER</th>
      <th (click)="sortArray('contactName')">CUSTOMER NAME</th>
      <th (click)="sortCreateDateArray('startDate')">START DATE</th> 
      <th (click)="sortArray('startTime')">SCHEDULED</th>
      <th >COLLABORATORS</th>
      <th (click)="sortArray('completion')">WORK ORDER COMPLETION</th>
    </tr>
    <tr *ngFor="let projectslist of workOrdersList; let i = index" (click)="redirectTo(projectslist.id)">
      <td>{{projectslist.id}}</td>
      <td>{{projectslist.name}}</td>
      <td>{{projectslist.contactName}}</td>
      <td>{{projectslist.startDate}}</td>
      <td>{{projectslist.startTime}} - {{projectslist.endTime}}</td>
      <td class="collaborators">
        <div *ngFor="let col of projectslist.collaboratorsData" >
          <img [src]="col.pictureURI">
        </div>
      </td>
      <td class="work-order-completion"><app-horizontalbar [barInfo]="projectslist.barInfo"></app-horizontalbar></td>
    </tr>
  </table>
</div>

