<!-- Lifetime Status Card on right sidebar-->
<app-leadscore [cards]="cardsInfo"></app-leadscore>
<!-- Customer Deals Card on right sidebar-->
<app-customerdeals [cards]="cardsInfo" [deals]="dealsInfo" [wonDeals]="wonDealsInfo"></app-customerdeals>
<!-- Upcoming Appointments Card on right sidebar-->
<app-upcomingappointments [cards]="cardsInfo" [userInfo]="userInfo" [upcomingModal]="upcomingModalInfo"></app-upcomingappointments>
<!-- Tasks Card on right sidebar-->
<app-tasks [tasks]="tasksInfo"></app-tasks>
<!-- Collaborators Card on right sidebar-->
<app-collaborators [collaborators]="collaboratorsInfo"></app-collaborators>
<!-- Documents Card on right sidebar-->
<app-documents [documents]="documentsInfo"></app-documents>