<div class="main-content" [ngClass]="{'main-content-large': menuCollapsed, 'main-content-small': !menuCollapsed }" >
  <app-breadcrumb [data]='productPathInfo' ></app-breadcrumb>
  <div class="content">
    <div class="profile-info">
      <app-productinfobar [productInfo]='productInfo' (changedUserInfo)="onChangedUserInfo($event)"></app-productinfobar>
    </div>
    <div style="flex: 5;border-left:solid 1px #D3D3D3; display: flex; flex-flow: column;" >
      <div class="chartset" >
        <app-productcustomdonutchart *ngFor="let data of chartSetData; let i = index;" [title]="data.title" [percentage]="data.percentage" [number]="i" class="chart-wrapper" ></app-productcustomdonutchart>
      </div>
      <div>
        <app-variantslisttable [productVariants]="productVariants"></app-variantslisttable>
      </div>
      <div style="display: flex; flex: 1;" >
        <div class="left-sidebar" >
          
        </div>  
        <div class="right-sidebar">
          <app-productcards [cardsInfo]="cards" ></app-productcards>
        </div>
      </div>
    </div>
  </div>s
</div>