<div class="main-content" [ngClass]="{'main-content-large': menuCollapsed, 'main-content-small': !menuCollapsed }" >
  <app-breadcrumb [data]='productPathInfo' ></app-breadcrumb>
  <div class="content">
    <div class="profile-info">
      <app-productinfobar [productInfo]='productInfo' (changedUserInfo)="onChangedUserInfo($event)"></app-productinfobar>
    </div>
    <div class="main-product-content">
      <div class="chartset" >
        <app-productcustomdonutchart *ngFor="let data of chartSetData; let i = index;" [title]="data.title" [percentage]="data.percentage" [number]="i" class="chart-wrapper" ></app-productcustomdonutchart>
      </div>
      <div>
        <app-variantslisttable [productVariants]="productVariants"></app-variantslisttable>
      </div>
      <div style="display: flex; flex: 1;" >
        <div class="left-sidebar" >
          
        </div>  
        <div class="right-sidebar">
          <app-productcards [cardsInfo]="cardsInfo" [dateSelectorList]="dateSelectorList"></app-productcards>
        </div>
      </div>
    </div>
  </div>
</div>