<div class="btn-add-lead" (click)="addLeadModalCollapsed=false; showAddLeadModal=true;">Add lead</div>

<!-- ADD LEAD MODAL VIEW -->

<div class="add-lead-modal-wrapper" *ngIf="showAddLeadModal" ></div>
<div class="add-lead-modal"  [ngClass]="{'show-modal': !addLeadModalCollapsed, 'hide-modal': addLeadModalCollapsed }">
  <div class="header">
    <span>ADD LEAD</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="addLeadModalCollapsed=true; showAddLeadModal=false; clearInputs();" />
  </div>

  <div class="content" >
    <tabs (currentTabChange)="tabChange($event)" >
      <tab tabTitle="BASIC INFORMATION" [active]="tabActiveFirst" >
        <div class="tab-one">
          <div class="tab-row" *ngIf="!typeAccountTypeChange">
            <div>
              <span>First Name (*required)</span>
              <input placeholder="Enter first name" [ngClass]="{'validation-required': invalidFirstname}" [(ngModel)]="firstName" [value]="firstName">
            </div>
            <div>
              <span>Last Name (*required)</span>
              <input placeholder="Enter last name" [ngClass]="{'validation-required': invalidLastname}" [(ngModel)]="lastName" [value]="lastName">
            </div>
          </div>

          <div class="tab-row" *ngIf="typeAccountTypeChange">
						<div>
							<span>Business Name (*required)</span>
							<input placeholder="Enter business name" [ngClass]="{'validation-required': invalidBusinessName}" [(ngModel)]="businessName" >
						</div>  
            <div>
							<span>Head contact</span>
							<div *ngIf="contactsList">
                <select [(ngModel)]="headContact">
                  <option *ngFor="let contact of contactsList" [value]="contact.id" class="default-option">{{contact.person.firstName}} {{contact.person.lastName}}</option>
                </select>
              </div>
						</div> 
          </div>

          <div class="tab-row">
            
            <div>
              <span>Account type (*required)</span>
              <div class="account-type">
                <select [(ngModel)]='businessType' #accountType (ngModelChange)="onAccountTypeChange(businessType)" [ngClass]="{'validation-required': invalidAccountType}" >
									<option value="PERSON">Individual</option>
                  <option value="BUSINESS">Business</option>
                </select>
              </div>
            </div>
						<div>
              <span>Job title</span>
              <input placeholder="Enter job title" [(ngModel)]="jobTitle">
            </div>
          </div>

					<div class=" tab-row">
            <div>
              <span>Email <span *ngIf="wrongEmailFormat" class="wrong-format"> : Wrong Email Format!</span></span>
              <input placeholder="Enter email" [(ngModel)]="email" type="email" [ngClass]="{'validation-required': invalidContactEmail}"  >
            </div>
            <div>
              <span>Department</span>
              <div>
                <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0" (keyup.enter)="onEnter()"></ng2-completer>
              </div>
            </div>
						
          </div>

          <div class="name-type tab-row">
            <div>
              <span>Primary number (*required)</span>
              <input placeholder="(XXX)XXX-XXXX" [ngClass]="{'validation-required': invalidPrimaryNumber}" [(ngModel)]="primaryNumber" type="tel">
            </div>
            <div *ngIf="!typeAccountTypeChange">
              <span>Mobile</span>
              <input placeholder="(XXX)XXX-XXXX" pattern='[(\d{3}[\)]\d{4}[\-]\d{4}' [(ngModel)]="secondaryNumber"  type="tel">
            </div>
						<div *ngIf="typeAccountTypeChange">
              <span>Secondary number</span>
              <input placeholder="(XXX)XXX-XXXX" [(ngModel)]="secondaryNumber" type="tel">
            </div>
          </div>

          <div class="shipping-address ">
            <div class="desc">
              <span>Shipping Address</span>
              <div class="switch-bar">
                <img src="assets/images/switch.png" *ngIf="switchIconShipping" (click)="clickIconShipping()">
                <img src="assets/images/switch-off.png" *ngIf="!switchIconShipping" (click)="clickIconShipping()">
                <span>Same address for the billing address</span>
              </div>
            </div>
            <input placeholder="Enter Shipping Address" class="address" [(ngModel)]="address">

            <div class="city-state">
              <input placeholder="Enter City" [(ngModel)]="city">
              <input placeholder="Enter State" [(ngModel)]="province">
            </div>
            <div class="country-zip">
              <input placeholder="Enter Country" [(ngModel)]="country">
              <input placeholder="Enter Zipcode" [(ngModel)]="postalCode">
            </div>
          </div>

					<div class="name-type tab-row">
						<div>
              <span>Keywords</span>
              <div class="keywords">
                <app-multikeywordselect [keywords]="keywords" (sendKeywords)="getKeywords($event)"></app-multikeywordselect>
              </div>
            </div>
            <div *ngIf="!typeAccountTypeChange">
              <span>Business association</span>
              <div *ngIf="contactsList">
                <select [(ngModel)]="businessAssociation">
                  <option *ngFor="let contact of contactsList" [value]="contact.id" class="default-option">{{contact.person.firstName}} {{contact.person.lastName}}</option>
                </select>
              </div>
            </div>
						<div *ngIf="typeAccountTypeChange">
              <span>Contact associations</span>
              <div class="keywords">
                <app-multikeywordselect [keywords]="contactAssociation" ></app-multikeywordselect>
              </div>
            </div>
            
          </div>

          <div class="btn-section" >
            <button class="cancel-btn" (click)="addLeadModalCollapsed=true; showAddLeadModal=false"  >
              Cancel
            </button>
            <button class="save-btn" (click)="clickNext()"  >
              Next
            </button>
          </div>
        </div>
      </tab>
      <tab tabTitle="ADVANCED INFORMATION" class="tab-won" [active]="tabActiveSecond">
        <div class="tab-two">
          <div class=" tab-row">
            <div>
              <span>Default pricing (*required)</span>
              <div *ngIf="pricingCategoriesList">
                <select [(ngModel)]="defaultPricing" [ngClass]="{'validation-required': invalidDefaultPricing}">
                  <option *ngFor="let pricing of pricingCategoriesList" [value]="pricing.id" class="default-option">{{pricing.name}}</option>
                </select>
              </div>
            </div>
            <div>
              <span>Default currency (*required)</span>
              <div *ngIf="currencyList">
                <select [(ngModel)]="defaultCurrency" [ngClass]="{'validation-required': invalidDefaultCurrency}" *ngIf="currencyList">
                  <option *ngFor="let currency of currencyList; let i = index " [value]="currency.id">{{currency.currencyCode}}</option>

                </select>
              </div>
            </div>
          </div>
					<div class="tab-row">
            <div>
              <span>Default terms (*required)</span>
              <div *ngIf="termsList">
                <select [(ngModel)]="defaultTerm" [ngClass]="{'validation-required': invalidDefaultTerm}">
                  <option *ngFor="let term of termsList" class="default-option" [value]="term.id">{{term.name}}</option>
                </select>
              </div>
            </div>
            <div>
              <span>Owner</span>
              <div *ngIf="usersList">
                <select [(ngModel)]="owner">
                  <option *ngFor="let user of usersList" [value]="user.username">{{user.username}}</option>
                </select>
              </div>
            </div>
          </div>
					<div class=" tab-row">
            <div>
              <span>Source</span>
              <div *ngIf="sourcesNameList">
                <ng2-completer [(ngModel)]="captainSource" [datasource]="sourcesNameList" [minSearchLength]="0" (keyup.enter)="onEnter()" (selected)="checkSource($event)"></ng2-completer>
              </div>
            </div>
            <div>
              <span>Contact name</span>
              <div *ngIf="contactsList">
                <select [(ngModel)]="contactName">
                  <option *ngFor="let contact of contactsList" [value]="contact.id" class="default-option">{{contact.person.firstName}} {{contact.person.lastName}}</option>
                </select>
              </div>
            </div>
          </div>
					<div class="shipping-address ">
            <div class="desc">
              <span>Billing Address</span>
            </div>
            <input placeholder="Enter Billing Address" class="address" [(ngModel)]="billingAddress">

            <div class="city-state">
              <input placeholder="Enter City" [(ngModel)]="billingCity">
              <input placeholder="Enter State" [(ngModel)]="billingProvince">
            </div>
            <div class="country-zip">
              <input placeholder="Enter Country" [(ngModel)]="billingCountry">
              <input placeholder="Enter Zipcode" [(ngModel)]="billingPostalCode">
            </div>
          </div>
					<div class="customer-notes">
						<span>Notes</span>
						<textarea placeholder="Enter customer notes here" [(ngModel)]="notes"></textarea>
					</div>
          <div class="btn-section" >
            <button class="cancel-btn" (click)="addLeadModalCollapsed=true; showAddLeadModal=false; tabActiveFirst=true; tabActiveSecond=false;"  >
              Cancel
            </button>
            <button class="save-btn" (click)="clickSaveLead()"  >
              Save lead
            </button>
          </div>
        </div>
      </tab>
      
    </tabs>
  </div>

  
</div>