<div>
  <div class="main-content" >
    <div class="main__info flex" >
      <div class="left-sidebar">
        <div class="flex aligntop" >
          <app-po-customer-name class="flex1 mr-15" [ngClass]="{'has-error': showErrors&&!errors.customerChanged}" [contactUser]="po_mock.contactId" [userList]="userList" (selectedUser)="onSelectUser($event)" ></app-po-customer-name>
          <app-po-project-selector class="flex1 ml-15" [projects]="projects" ></app-po-project-selector>
        </div>
        <app-shippingaddress class="shippingaddress" [customerAddress]="customerAddress" [addressFromLocation]="shippingAddress" (shippingAddressChange)="onShippingAddressChanged($event)" ></app-shippingaddress>
      </div>
      <div class="right-sidebar">
        <app-po-orderidfield [po_id]="po_id" ></app-po-orderidfield>
        <app-po-createddatefield [createdDate]="po_mock.createdAt" ></app-po-createddatefield>
        <app-po-termsfield  [ngClass]="{'has-error': showErrors&&!errors.termChanged}" [terms]="terms" (selectedTerm)="onSelectTerm($event)" ></app-po-termsfield>
        <app-po-duedatefield [dueDate]="dueDate" [createdDate]="po_mock.createdAt" (dueDateChanged)="onDueDateChanged($event)" ></app-po-duedatefield>
        <app-po-locationsfield  [ngClass]="{'has-error': showErrors&&!errors.locationChanged}"  [locations]="locations" (selectedLocation)="onSelectLocation($event)" ></app-po-locationsfield>
      </div>
    </div>
    <div class="product__table">
      <app-po-table [(productDetails)]="productDetails" [poId]="po_id" (priceChange)="onPriceChanged()" ></app-po-table>
    </div>
    <div class="sub__info">
      <div class="flex" >
        <div class="internal-memo">
          <app-po-internalmemo [ngClass]="{'has-error': showErrors&&!errors.memoChanged}" (memoChanged)="onMemoChanged($event)"  ></app-po-internalmemo>
        </div>
        <div class="notetosupplier">
          <app-po-notetosupplier [ngClass]="{'has-error': showErrors&&!errors.noteToSupplierChanged}" (noteChanged)="onNoteChanged($event)" ></app-po-notetosupplier>
        </div>
      </div>
      <div class="bill-count" >
        <app-po-subtotalproducts [subtotalproducts]="po_mock.subTotal" ></app-po-subtotalproducts>
        <app-po-discount [discountTypeIn]="po_mock.discount.unit" [discountamount]="po_mock.discount.value" (discountChange)="onTotalPriceChange($event)" ></app-po-discount>
        <app-po-freightcosts [(freightcosts)]="po_mock.freightCost" (freightcostsChange)="onTotalPriceChange($event)" ></app-po-freightcosts>
        <app-po-taxes [taxes]="po_mock.totalTax" ></app-po-taxes>
        <app-po-totalamountdue [totalamountdue]="po_mock.total" ></app-po-totalamountdue>
      </div>
    </div>
  </div>
  <footer>
    <section id="header" *ngIf="!showButtons" >
      <div (click)="showButtons=true" >
        Setting
      </div>
      <div class="btn-group" >
        <div class="btn save_and_close" (click)="onSave()" >Send</div>
      </div>
    </section>
    <div class="footer-main-wrapper" (click)="showButtons=false" *ngIf="showButtons"  ></div>
    <section id="main" *ngIf="showButtons"  >
      <div class="header" >
        <div>
          PURCHASE ORDER SETTINGS
        </div>
        <div class="red_close" (click)="showButtons=false" ><img src="/assets/images/X sign Red.png" /></div>
      </div>
      <div class="flex main">
        <div class="flex" >
          <div class="print" (click)="showPrintOptions=true" ><img src="/assets/images/printer.png" /></div>
          <div>
            <div class="title" >PRINT</div>
            <div class="subtitle" >Print important documents such as the invocie, receipt and pick lists</div>
          </div>
        </div>
        <div class="flex" >
          <div class="currency"><img src="/assets/images/User Icon.svg" /></div>
          <div class="flex1" >
            <div class="title" >SEND TO SUPPLIER(S)</div>
            <div class="subtitle" >Will send this PO to all the associated Suppliers</div>
          </div>
          <app-po-switcher label=" " (switchChanged)="onSwitchChanged($event)" class="po-switch" ></app-po-switcher>
        </div>
      </div>
    </section>
  </footer>
  <div class="printoptions-modal" *ngIf="showPrintOptions" >
    <div class="wrapper" (click)="showPrintOptions=false;" >
      <div class="content" (click)="$event.stopPropagation();" >
        <div class="header" >
          <div>
            Printing Option
          </div>
          <div class="red_close" (click)="showPrintOptions=false" ><img src="/assets/images/X sign Red.png" /></div>
        </div>
        <div class="main">
          <div class="desc" >Select the sheets to print:</div>
          <div class="flex" >
            <div [ngClass]="{'checkbox-group': true, 'active': printOptions.brand }" (click)="printOptions.brand = !printOptions.brand " >PO by brand</div>  
            <div [ngClass]="{'checkbox-group': true, 'active': printOptions.supplier }" (click)="printOptions.supplier = !printOptions.supplier" >PO by supplier</div>
            <div [ngClass]="{'checkbox-group': true, 'active': printOptions.totalprice }" (click)="printOptions.totalprice = !printOptions.totalprice" >PO by total price</div> <div [ngClass]="{'checkbox-group': true, 'active': printOptions.qty }" (click)="printOptions.qty= !printOptions.qty" >PO by qty</div>     
          </div>
          <div class="createpdf" >
            <div class="button cancel" >Cancel</div>
            <div class="button ok" >Create PDF</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="printoptions-modal send-po-modal" *ngIf="showSendPOModal" >
    <div class="wrapper" (click)="showSendPOModal=false;" >
      <div class="content" (click)="$event.stopPropagation();" >
        <div class="header" >
          <div>
            Sending Purchase Order
          </div>
          <div class="red_close" (click)="showSendPOModal=false" ><img src="/assets/images/X sign Red.png" /></div>
        </div>
        <div class="main">
          <div class="desc" >Do you want to send this Purchase Order to suppliers?</div>
          <div class="createpdf" >
            <div class="button cancel" (click)="showSendPOModal=false" >Cancel</div>
            <div class="button ok" (click)="savePO()" >Send</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>