<div class="details-panel" *ngIf="projectInfo">
  <div class="project-tasks">
    <span class="title">PROJECT TASKS</span>
    <div class="task-content">
      <div>
        <span class="card-title">Total Tasks</span>
        <span class="card-value">{{projectInfo.taskCount}}</span>
      </div>
      <div>
        <span class="card-title">Overdue</span>
        <span class="card-value red">{{projectInfo.overDueTaskCount}}</span>
      </div>
      <div>
        <span class="card-title">Completed</span>
        <span class="card-value green">{{projectInfo.completedTaskCount}}</span>
      </div>
    </div>
  </div>
  <div class="project-progress">
    <span class="title">PROJECT PROGRESS</span>
    <div class="progress-content">
      <!-- <div>
        <span class="card-title">Quality Performance</span>
        <span class="card-value" [ngClass]="getPerformanceColor(projectInfo.qualityPerformance)">{{projectInfo.qualityPerformance}}%</span>
      </div> -->
      <div>
        <span class="card-title">Scope Performance</span>
        <span class="card-value" [ngClass]="getPerformanceColor(projectInfo.scopePerformance)">{{projectInfo.scopePerformance}}%</span>
      </div>
      <div>
        <span class="card-title">Scope Change</span>
        <span class="card-value orange">{{projectInfo.scopeChange}}</span>
      </div>
    </div>
    <!-- <div class="progress-content">
      
      
      commented for now because back end is not ready for this  
      <div>
        <span class="card-title">Scope Performance</span>
        <span class="card-value orange" >{{projectInfo.projectProgress.mitigation}}</span>
      </div>
    </div> -->
  </div>
  <div class="inventory-health">
    <span class="title">INVENTORY HEALTH</span>
    <div class="health-content">
      <div>
        <span class="card-title">Not Processed</span>
        <span class="card-value" >{{projectInfo.notProcessedInventory}}</span>
      </div>
      <div>
        <span class="card-title">On Order</span>
        <span class="card-value green">{{projectInfo.onOrderInventory}}</span>
      </div>
    </div>
    <div class="health-content">
      <div>
        <span class="card-title">Checked In</span>
        <span class="card-value green">{{projectInfo.checkedInInventory}}</span>
      </div>
      <div>
        <span class="card-title">Delivered</span>
        <span class="card-value" >{{projectInfo.deliveredInventory}}</span>
      </div>
    </div>
  </div>
</div>