<div class="main-content" [ngClass]="{'main-content-large': menuCollapsed, 'main-content-small': !menuCollapsed }" > 
  <div class="top-nav-bar">
    <div class="breadcrumb-bar">
      <span>Products</span>
      <i class="fa fa-angle-right"></i>
      <span *ngIf="!filterClicked">Categorize</span>      
      <div class="saved-filters">
        <i *ngIf="!filterClicked" class="fa fa-angle-down" (click)="clickSavedFilters()"></i>
        <div class="saved-filters-list-wrapper" *ngIf="openSavedFiltersList" (click)="savedFiltersListCollapsed=true; openSavedFiltersList=false"></div>
        <div class="saved-filters-list "  [ngClass]="{'show-modal': !savedFiltersListCollapsed, 'hide-modal': savedFiltersListCollapsed }">
          <ul>
            <li (click)="removeFilter()">Remove filters</li>
            <li *ngFor="let filter of savedFiltersArr" (click)="applySavedFilter(filter)">{{filter.savedFilterName}}</li>
          </ul>
        </div>
      </div>
      <span *ngIf="filterClicked">Filter Option</span>   
      <img *ngIf="filterClicked" src="assets/images/X sign Red.png" (click)="cancelFilter()">   
      <img *ngIf="filterClicked" src="assets/images/Checkmark Green.png" (click)="saveFilterModalCollapsed = false; showSaveFilterModal = true;">
    </div>

    <div class="products-btn-group">
      <div class="products-add-btn">
        <div class="btn-add-product" (click)="openAddProductModal();">Add product</div>
      </div>
      <div class="products-import-btn">Import products</div>
    </div>
  </div>

  <div class="main-content-box">
    <div class="products-table">
      <app-productslisttable [(productsListInfo)]="productsListInfo"></app-productslisttable>
    </div>
    <div class="products-filter">
      <app-productfilter 
        [(productsListInfo)]="productsListInfo" 
        [(filters)]="filters" 
        [productTags]="productTags" 
        [productStatus]="productStatus" 
        (filterParent)="getFilter($event)"
        [(productTypes)]="productTypes">
      </app-productfilter>
    </div>
  </div>
</div>

<div class="modal-wrapper" *ngIf="showSaveFilterModal" (click)="saveFilterModalCollapsed=true; showSaveFilterModal=false"></div>
<div class="save-filter-modal common"  [ngClass]="{'show-modal': !saveFilterModalCollapsed, 'hide-modal': saveFilterModalCollapsed }">
  <div class="header">
    <span>SAVE AS</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="closeModal()" />
  </div>

  <div class="save-filter-content" >
    <div class="filter-name">
      <span>Filter Name *</span>
      <input [(ngModel)]="filterName">
    </div>
    <div class="available">
      <span>Available to</span>
      <div>
        <div>
          <input name="radio-applied-to" type="radio" value="me" #me (click)="onChangeAcailable(me.value)">
          <label>Only me</label>
        </div>
        <div >
          <input name="radio-applied-to" type="radio" [checked]="true" value="everyone" #everyone (click)="onChangeAcailable(everyone.value)">
          <label for="percent">Everyone</label>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-section" >
    <button class="cancel-btn" (click)="closeModal()"  >
      Cancel
    </button>
    <button class="save-btn" (click)="saveFilter()"  >
      Save Filter
    </button>
  </div>
</div>

<div class="add-product-modal-wrapper" *ngIf="showAddProductModal"></div>
<div class="add-product-modal"  [ngClass]="{'show-add-product-modal': !addProductModalCollapsed, 'hide-add-product-modal': addProductModalCollapsed }">
  <app-addproductmodal [showAddProductModal]="showAddProductModal" [addProductModalCollapsed]="addProductModalCollapsed" [productsInfoAll]="productsInfoAll"></app-addproductmodal>
</div>


<!-- Image Edit Modal -->

<div class="edit-image-modal-wrapper" *ngIf="showEditImageModal" ></div>
<div [ngClass]="{'confirm-modal': showEditImageModal, 'confirm-modal-hide': !showEditImageModal }">
  <div class="header">
    <span>Change Image</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="cancelCrop();showEditImageModal=false" />
  </div>
  <div class="edit-modal-content">
    <input type="file" (change)="fileChangeEvent($event)" />
    <div class="image-content">
      <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1"
          [resizeToWidth]="300"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      
      <img [src]="croppedImage" />
    </div>
  </div>
  <div class="center-btn-section" >
    <button class="cancel-btn" (click)="cancelCrop()">
      Cancel
    </button>
    <button class="done-btn" (click)="saveCrop()">
      Confirm
    </button>
  </div>
</div>  