<div class="ad-add-table content">
  <TABLE>
    <thead>
      <tr>
        <th></th>
        <th>SKU</th>
        <th>MODEL</th>
        <th>Name</th>
        <th>MEASURE</th>
        <th>QUANTITY</th>
        <th>UNIT PRICE</th>
        <th>TOTAL</th>
        <th>TAX RATE</th>
      </tr>
    </thead>
    <tbody class="ngx-dnd-container" ngxDroppable>

      <tr *ngFor="let productDetailInfo of productDetails; index as i" class="ngx-dnd-item has-handle" ngxDraggable>
        <td class="handle-bar">
          <span ngxDragHandle class="handlebar">:</span>
        </td>
        <td class="sku">
          <div class="flex">
            <img class="remove-btn" [ngClass]="{'hide': i == 0 && productDetails.length == 1 }" src="/assets/images/Trash Symbol.svg" (click)="removeProduct(i)"
            />
            <ng2-completer [disableInput]="productDetailInfo.readonly" (keyup)="keyListener($event, i)" [dataService]="skuService" placeholder="Type SKU here..." [minSearchLength]="0" (selected)="onSkuSelected($event, i)" [(ngModel)]="productDetailInfo.sku" ></ng2-completer>
          </div>
        </td>
        <td class="model">
          <ng2-completer (keyup)="keyListener($event, i)" [dataService]="modelService" placeholder="Type Model here..." [minSearchLength]="0" (selected)="onModelSelected($event, i)" [(ngModel)]="productDetailInfo.model" ></ng2-completer>
        </td>
        <td class="name">
            <ng2-completer (keyup)="keyListener($event, i)" [dataService]="nameService" placeholder="Type NAME here..." [minSearchLength]="0" (selected)="onNameSelected($event, i)" [(ngModel)]="productDetailInfo.name" ></ng2-completer>
        </td>
        <td class="measure">
          <input class="measure" type="number" placeholder="0" min="0" readonly [(ngModel)]="productDetailInfo.measure" (ngModelChange)="calcualteTotalPrice(i)" (keypress)="checkValue($event)" />
        </td>
        <td class="quantity">
          <input class="quantity" [ngClass]="{'input-error': productDetailInfo.quantityError}"  type="text" placeholder="0" min="0" [(ngModel)]="productDetailInfo.quantity" (ngModelChange)="calcualteTotalPrice(i)" (change)="updatePurchaseOrderProduct(i)" (keypress)="checkValue($event)" />
        </td>
        <td class="unitprice">
          <div class="dollar">
            <input type="text" class="unitprice" step="0.01" min="0.00" placeholder="0.00" readonly [(ngModel)]="productDetailInfo.unitPrice" (keypress)="checkValue($event)" (ngModelChange)="calcualteTotalPrice(i)" />
          </div>
        </td>
        <td class="total">
          <div class="dollar">
            <input type="number" class="total" step="0.01" min="0.00" placeholder="0.00" [value]="productDetailInfo.total" readonly (ngModelChange)="calcualteTotalPrice(i)" />
          </div>
        </td>
        <td class="taxrate">
          <div class="editable-select" >
            <select [(ngModel)]="productDetailInfo.taxRateId" (change)="changedTaxRate(i, $event)" >
              <option *ngFor="let taxrate of taxRateOptions" [value]="taxrate.id" >{{taxrate.name}}</option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </TABLE>
</div>