.text-align-left {
  text-align: left;
  display: flex;
  align-items: center;
}

.completer-label {
  color: #95989A;
  padding: 0;
  font-size: 12px;
  margin: 3px 0;
  display: inline-block;
  width: 100px;

}

ng2-completer.ng2completer .completer-input {
  padding: 0.4em 1em;
  border: solid 1px #f5f5f5;
  font-weight: 400 !important;
  height: 32px;
  width: 100%;
  font-size: 12px;
  color: #646464;
}

.completer-dropdown-holder {
  padding: 0;
  width: 100%;
  max-width: 300px;
}

.input-box {
  width: 200px;
}

select {
  background: none;
    -webkit-appearance: none;
    background: url(/assets/images/down-arrow.png) no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 0;
    border: 1px solid #f5f5f5;
    padding-left: 1em;
    padding-right: 50px;
    width: 100%;
    color: #646464;
}