.flex {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.discount-label {
  color: #95989a;
  font-size: 18px;
  width: 150px;
  text-align: left;
}

.flex .flex {
    display: flex;
    justify-content: flex-end;
}

select {
    background: none;
      -webkit-appearance: none;
      background: url(/assets/images/down-arrow.png) no-repeat;
      background-position: right 5px center;
    background-size: 10px;
      font-size: 12px;
    border-radius: 0;
    border: 1px solid #f5f5f5;
    padding: 5px 20px 5px 1em;
    margin-right: 10px;
    height: 28.6px;
    color: #646464;
}

select:invalid {
  color: #d3d3d3;
}

  
input {
    color: #95989A;
    text-align: right;
    display: inline-block;
}

.dollar {
    display: inline-block;
    position: relative;
    color: #95989a;
}

.dollar input {
    padding-left: 1.5em;
    text-align: right;
}

.dollar:before {
    position: absolute;
    top: 0;
    content: "$";
    left: 1em;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
}

input {
    width: 200px;
    font-size: 12px;
    display: block;
    font-weight: 400;
    color: #646464;
    padding: 0.4em 1em;
    border: solid 1px #f5f5f5;
    margin: 5px 0;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d3d3d3;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d3d3d3;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #d3d3d3;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d3d3d3;
}

#discountamount_edit_input {
    padding-right: 0;
}
