<div class="content">
  <table>
    <tr>
      <th class="img-cell"></th>
      <th (click)="sortArray('name', purchaseOrdersList)">PRODUCT NAME</th>
      <th (click)="sortArray('supplier', purchaseOrdersList)">SUPPLIER</th>
      <th (click)="sortArray('brand', purchaseOrdersList)">BRAND</th>
      <th (click)="sortArray('sku', purchaseOrdersList)">SKU</th>
      <th (click)="sortArray('purchaseOrderId', purchaseOrdersList)">ORDER #</th>
      <th (click)="sortArray('quantity', purchaseOrdersList)">QTY</th>
      <th (click)="sortArray('status', purchaseOrdersList)">STATUS</th>
    </tr>
    <tr *ngFor="let order of purchaseOrdersList; let i = index" (click)="navigateTo(order)" class="purchase-order">
      <td><img [src]="order.imgUrl"></td>
      <td>{{order.name}}</td>
      <td>{{getSupplierName(order.supplierId)}}</td>
      <td>{{order.brand}}</td>
      <td>{{order.sku}}</td>
      <td>{{order.purchaseOrderId}}</td>
      <td class="order-status">{{order.quantity}}</td>
      <td>
        <span class="order-status">{{order.status}}</span>
      </td>
    </tr>
  </table>
  <div class="reserved-inventory-title">
    <span>RESERVED INVENTORY</span>
    <div class="save-btn">Add product</div>
  </div>
  <table class="reserved-inventory-table" *ngIf="brandsList">
    <tr>
      <th></th>
      <th (click)="sortArray('name', reservedInventoryList)">PRODUCT NAME</th>
      <th (click)="sortArray('model', reservedInventoryList)">MODEL NUMBER</th>
      <th (click)="sortArray('brand', reservedInventoryList)">BRAND</th>
      <th (click)="sortArray('sku', reservedInventoryList)">SKU</th>
      <th (click)="sortArray('reservedQuantity', reservedInventoryList)">QTY</th>
      <th (click)="sortArray('status', reservedInventoryList)">STATUS</th>
    </tr>
    <tr *ngFor="let inventory of reservedInventoryList; let i = index">
      <td><img [src]="inventory.imgUrl"></td>
      <td>{{inventory.name}}</td>
      <td>{{inventory.model}}</td>
      <td>{{getBrandName(inventory.brandId)}}</td>
      <td>{{inventory.sku}}</td>
      <td class="inventory-status">
        <input [(ngModel)]="inventory.reservedQuantity" (keydown.enter)="updateInventoryQuantity(inventory)" type="number">
      </td>
      <td>
        <span class="inventory-status">Reserved</span>
        <img src="assets/images/three-dots.png" (click)="openInventoryModal(i)" style="cursor: pointer;">
        <div
          class="order-expand-modal-wrapper"
          *ngIf="inventoryModalInfoCollapsed[i]"
          (click)="inventoryModalInfoCollapsed[i]=false; showOrderModalInfo=false">
        </div>
        <!-- Start Small Dialog when clicking three dot icom -->
        <div
          class="order-expand-modal"
          [ngClass]="{'show-order-modal': inventoryModalInfoCollapsed[i], 'hide-order-modal': !inventoryModalInfoCollapsed[i] }">
          <div class="dots-icon"><img src="assets/images/three-dots.png"></div>
          <div>
            <div (click)="deleteRow(i, reservedInventoryList, inventory)"><img src="assets/images/Delete.png"><span>Delete</span></div>
          </div>
        </div>
        <!-- End Small Dialog when clicking three dot icom -->
      </td>
    </tr>
  </table>
</div>

<!-- Confirm Delete Alert Box -->
<div class="confirm-delete-modal-wrapper" *ngIf="showDeleteConfirmModal" ></div>
<div [ngClass]="{'confirm-modal': showDeleteConfirmModal, 'confirm-modal-hide': !showDeleteConfirmModal }">
  <div class="header">
    <span>Confirm Delete</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="showDeleteConfirmModal=false" />
  </div>
  <div class="content" >
    <div class="confirm-que">
      Do you really want to delete?
    </div>
    <div class="center-btn-section" >
      <button class="confirm-btn" (click)="confirmDelete();showDeleteConfirmModal=false" >
        Confirm
      </button>
      <button class="cancel-btn" (click)="showDeleteConfirmModal=false" >
        Cancel
      </button>
    </div>
  </div>
</div>