<div class="top-btns">
  <span>John Moss</span>
  <span>NU8802-0159</span>
</div>

<div class="text-editor-sec">
  <div class="scope-description-change">
    <div class="editor-title">SCOPE OF WORK</div>
    <quill-editor [(ngModel)]="projectScope.workScope">
    </quill-editor>
  </div>
</div>

<div class="text-editor-sec">
  <div class="scope-description-change">
    <div class="editor-title">INTERNAL NOTES</div>
    <quill-editor [(ngModel)]="projectScope.internalNotes">
    </quill-editor>
  </div>
</div>