.main-content {
  padding-bottom: 100px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__info, .sub__info {
  padding-left: 2em;
  padding-right: 5em;
  font-size: 1em;
}

.left-sidebar {
  width: 60%;
  padding-top: 15px;
}

.right-sidebar {
  width: 40%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-top: 20px;
}

.internal-memo {
  text-align: left;
  min-height: 200px;
  margin: 15px; 
  width: 30%;
}

.notetosupplier, .term-of-invoice {
  text-align: left;
  min-height: 200px;
  margin: 15px; 
  width: 30%;
}

.flex1 {
  flex: 1;
  margin-top: 5px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.aligntop {
  align-items: flex-start;
}

app-shippingaddress {
  margin-top: 15px;
  display: block;
}

.product__table {
  margin-top: 30px;
  margin-bottom: 50px;
}

.sub__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sub__info .flex {
  width: 100%;
}

.bill-count {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin-top: 10px;
  width: 40%;
}


app-in-discount {
  width: 100%;
}

.email-address {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #95989a;
  padding-top: 8px;
  text-align: left;
  font-size: 12px;
  margin-left: 15px;
}

.email-address input, .log-number input {
  border: 1px solid #f5f5f5;
  height: 32px;
  margin-top: 3px;
  padding-left: 12px;
}

.email-address span {
  margin-bottom: 3px;
}

:host ::ng-deep .email-address .content-box {
  min-height: 32px;
  border: 1px solid #f5f5f5;
}

:host ::ng-deep .email-address .content-box ul li {
  font-size: 12px;
}

:host ::ng-deep .email-address .content-box ul li.add-keyword {
  display: none !important;
}

.project-log {
  display: flex;
  align-items: center;
  margin-top: 3px;
  justify-content: space-between;
}

.log-number {
  margin-left: 15px;
  flex: 1;
}

input::placeholder {
  font-weight: 300;
  font-size: 12px;
  padding-left: 5px;
}

.notes-activity {
  width: 65%;
}

.timeline-activity {
  padding: 10px 0px 30px 30px;
}

:host ::ng-deep .timeline-activity .one-side-timeline li a {
  left: -15px !important;
}

:host ::ng-deep .timeline-activity .one-side-timeline-badge {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .timeline-activity .fa {
  font-size: 16px;
}

:host ::ng-deep .timeline-activity .one-side-timeline-panel {
  margin: 0px 35px;
  background: #F5F5F5;
  padding: 7px 15px;
  font-size: 14px;
}

:host ::ng-deep .timeline-activity .empty-space {
  height: 17px;
  left: -15px;
}

:host ::ng-deep .timeline-activity .one-side-btn-container button {
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 3px;
}

.log-number select {
  background: none;
	-webkit-appearance: none;
	background: url(/assets/images/down-arrow.png) no-repeat;
	background-position: right 10px center;
  background-size: 10px;
  height: 32px;
	font-size: 12px;
  border-radius: 0;
  border: 1px solid #f5f5f5;
  padding-left: 1em;
  padding-right: 50px;
  width: 100%;
  color: #95989a;
}

.log-number select:invalid {
  color: #d3d3d3;
}

.log-number select option:first {
  color: #f5f5f5;
}

.log-number .selector-label {
  color: #95989A;
  padding: 0;
  font-size: 12px;
  margin: 3px 0;
  display: inline-block;
}

app-in-termsfield, app-in-duedatefield, app-in-class {
  margin-top: 7px;
}

.products-delivered {
  height: 28px;
  background: #a9f2df;
  display: flex;
  align-items: center;
  width: 42%;
  justify-content: center;
  border-radius: 5px;
  margin-top: 5px;
  color: #646464;
  font-size: 12px;
  cursor: pointer;
}

.customer-name {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #95989a;
  font-size: 13px;
  padding-top: 8px;
}

.customer-name span {
  margin-bottom: 3px;
}

:host ::ng-deep ng2-completer .completer-holder input::placeholder {
	color: #d3d3d3;
}

:host ::ng-deep ng2-completer .completer-holder input {
	height: 32px;
}

.city-state, .country-zip {
	display: flex;
	justify-content: space-between
}

.city-state input, .country-zip input {
	width: 48%;
  margin-bottom: 8px;
  border: 1px solid #f5f5f5;
  padding-left: 10px;
  color: #646464;
}

.city-state ng2-completer, .country-zip ng2-completer {
	width: 48%;
	margin-bottom: 8px;
	display: block;
}

.desc {
	display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.switch-bar {
	display: flex;
	align-items: center;
	margin-left: 5%;
}

.switch-bar img {
	margin-right: 7px;
}

img {
	width: 20px;
	height: 20px;
}

.shipping-address {
  margin-top: 10px;
  color: #95989a;
  font-size: 13px;
}

.address {
  width: 100%;
  border: 1px solid #f5f5f5;
  height: 32px;
  margin-bottom: 8px;
  padding-left: 10px;
  color: #646464;
}

.uneditable-input {
  border: 1px solid #f5f5f5;
  width: 48%;
  height: 32px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: #646464;
}

/deep/ ng2-completer .completer-dropdown {
  height: 130px !important;
  overflow: auto;
}

.indi-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  color: #646464;
  margin-bottom: 15px;
}

.indi-category span {
  color: #95989a;
}

.non-editable {
  border: 1px solid #f5f5f5;
  height: 32px;
  text-align: left;
  padding-left: 10px;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.indi-category select {
  background: none;
  -webkit-appearance: none;
  background: url(/assets/images/down-arrow.png) no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  height: 32px;
  font-size: 13px;
  border-radius: 0;
  border: 1px solid #f5f5f5;
  padding-left: 1em;
  padding-right: 50px;
  width: 60%;
  color: #646464;
}

.orderinfo-input {
  width: 60%;
}

.orderinfo-input input{
  width: 100%;
  height: 32px;
  padding-left: 10px;
  font-size: 13px;
  border: 1px solid #f5f5f5;
}

.indi-note {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.indi-note span {
  font-size: 13px;
  color: #646464;
  margin-bottom: 10px;
}

.indi-note textarea {
  padding: 8px;
  border: 1px solid #d3d3d3;
  height: 150px;
}

.discount { 
  width: 80%;
  display: flex;
}

.discount select {
  width: 21%;
  margin-right: 15px;
}

.discount input { 
  width: 75%;
  border: 1px solid #f5f5f5;
  padding-right: 10px;
  text-align: right;
  color: #95989a;
}

.non-editable input {
  border: none;
  text-align: right;
  outline: none;
  color: #95989a;
}

.validation-required {
  border: 1px solid red !important;
}