<div class="main-content" [ngClass]="{'main-content-large': menuCollapsed, 'main-content-small': !menuCollapsed }" > 
  <div class="proposalInfo-top">
    <div>
			<span class="root">Proposal</span>
			<i class="fa fa-angle-right"></i>
			<span>{{proposalInfo.projectName}}</span>
    </div>
    <span class="contactName">{{proposalInfo.contactName}}</span>
    <span>{{proposalInfo.proposalId}}</span>
  </div>
  <div class="proposal-content">
    <div class="sidebar-left">
			<app-productdetails></app-productdetails>
		</div>
		<div class="main">
			<div class="content-top">
				
				<app-submenu (mOutputData)='Submit_Inventory_Data($event)'></app-submenu>
				<div class="proposalInfo-down">
					<div>
						<span>Last Updated</span>
						<span>{{proposalInfo.createdDate}}</span>
					</div>
					<div>
						<span>Project Total</span>
						<span>$ {{proposalInfo.proposalAmount | number:'2.2-2'}}</span>
					</div>
					<div>
						<span>Lead Status</span>
						<span>{{proposalInfo.dealStatus}}</span>
					</div>
				</div>
				<div class="search-project-content">
					<input placeholder="Search project here..." [(ngModel)]="searchQueryString" (input)="expandAll(searchQueryString)">
				</div>
			</div>
			<div class="btn-edit-section">
				<app-massedit 
					[proposalProductList]="proposalProductList" 
					[proposalCategoryList]="proposalCategoryList" 
					[proposalSubCategoryList]="proposalSubCategoryList" 
					(editedProposalList)="getMassEditedList($event)">
				</app-massedit>
			</div>
			<div class="product-list">
				<app-productlisttable 
					[(originProposalProductList)]="proposalProductList" 
					[(proposalInfo)]="proposalInfo" 
					[(searchQueryString)]="searchQueryString" 
					[(proposalCategoryList)]="projectCategory"
					[(proposalSubCategoryList)]="projectSubCategory"
					(updatedData)="getUpdatedDate($event)"
					(sendUpdatedCategories)="getUpdatedCategories($event)"
					(sendUpdatedSubCategories)="getUpdatedSubCategories($event)">
				</app-productlisttable>
			</div>
		</div>
    <div class="sidebar-right">
			<app-projectdetails [projectDetailsData]="projectDetails" [proposalDetails]="proposalDetails" ></app-projectdetails>
		</div>
  </div>
</div>