.schedule-content {
  display: flex;
  margin: 15px 30px;
  background: #f9f9f9;
}

span, input, select {
  color: #95989A;
}

input::placeholder {
  color: #D3D3D3;
}

.calendar-view {
  width: 86%;
  margin-left: 1%;
  padding: 15px;
  font-size: 15.5px;
}

.red {
  background: #FFCBCB;
}

.green {
  background: #E7EFAA;
}

.gray {
  background: #D3D3D3 !important;
}

.resources-available {
  width: 13%;
  background: #F5F5F5;
  padding: 15px 10px;
  text-align: left;
  min-width: 260px;
}

.resources-list .resource-img-selected {
  width: 14px;
  height: 14px;
}

.heading-img {
  width: 24px;
  height: 24px;
}

.resources-list span {
  font-size: 14px;
  color: #95989A;
  margin-left: 7px;
  min-width: 150px;
}

.resource-style {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 10px; 
  cursor: pointer;
  position: relative;
}

.resources-available>span {
  font-size: 16px;

}

.resources-available>input {
  height: 38px;
  padding-left: 7px;
  outline: none;
  border: 0;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  margin: 15px 0;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
}

.item input {
  border: none;
  background: transparent;
  margin-left: 10px;
  outline: none;
}

.item input:focus {
  border-bottom: 1px solid lightgray;
}

.item i {
  font-size: 20px;
}

:host ::ng-deep .schedule-content .fc-toolbar .fc-state-active {
  color: red;
}

:host ::ng-deep .schedule-content .fc-head thead tr {
  height: 45px;
  background: #039be5;
  color: white;
}

:host ::ng-deep .schedule-content .fc-head thead tr th {
  vertical-align: middle; 
  font-weight: 400;
}

:host ::ng-deep .schedule-content .fc-event {
  font-size: 1em;
  padding: 3px 10px;
  border-radius: 15px;
}

.cal-small {
  width: 75%;
  font-size: 10px;
}

.sidebar-wrapper {
	background: rgba(156,152,152,0.3);
	width:100%;
	height: 100%;
	z-index: 9000;
	position: fixed;
	top: 68px;
	left: 0;
}

.colors-panel {
  position: absolute;
  top: 40px;
  border: 1px solid #f3f3f3;
  padding: 10px;
  display: flex;
}

.colors-panel div {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.resource-style img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
