<div class="content">
  <div class="button">Expand</div>
  <div class="edit-btns">
    <span>Mass edit: </span>
    <div class="button" (click)="editPrice()">Edit Price</div>
    <div class="button" (click)="discountModalCollapsed=false; showDiscountModal=true;">Edit Discount</div>
    <div class="button">Edit Category</div>
    <div class="button">Edit Subcategory</div>
  </div>
</div>

<!-- Price Edit Modal -->

<div class="modal-wrapper" *ngIf="showPriceModal" (click)="priceModalCollapsed=true; showPriceModal=false"></div>
<div class="price-modal common"  [ngClass]="{'show-modal': !priceModalCollapsed, 'hide-modal': priceModalCollapsed }">
  <div class="header">
    <span>Price Edit</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="priceModalCollapsed=true; showPriceModal=false" />
  </div>

  <div class="main-content" >
    <span>Set a mass pricing rule</span>
    <div class="pricing-rule">
      <div class="effected-category">
        <span>Pricing Category</span>
        <select>
          <option value="">Choose pricing category</option>
        </select>
      </div>
      <div class="effect-type">
        <div>
          <input name="radio-discount" type="radio" [checked]="true" [value]="amountPrice" #amountPrice (click)="onPriceSelectionChange(amountPrice.value)">
          <label>Amount</label>
        </div>
        <div (click)="amountChecked=false; percentageChecked=true">
          <input name="radio-discount" type="radio" [value]="percentPrice" #percentPrice (click)="onPriceSelectionChange(percentPrice.value)">
          <label for="percent">Percentage</label>
        </div>
      </div>
      <div class="total-adjust">
        <span>Total Adjustment</span>
        <select [(ngModel)]="selected" (ngModelChange)="onPriceIncreaseSelect(selected)">
          <option value="increase" selected >Increase by</option>
          <option value="decrease">decrease by</option>
        </select>
        <div class="amount">
          <span *ngIf="showPriceChangeSign">$</span>
          <span *ngIf="!showPriceChangeSign">%</span>
          <input [(ngModel)]="queryString" placeholder="0">
        </div>
      </div>

    </div>
    <div class="btn-section" >
      <button class="cancel-btn" (click)="priceModalCollapsed=true; showPriceModal=false"  >
        Cancel
      </button>
      <button class="save-btn" (click)="priceModalCollapsed=true; showPriceModal=false"  >
        Save
      </button>
    </div>
  </div>
</div>

<!-- Edit Discount Modal -->

<div class="modal-wrapper" *ngIf="showDiscountModal" (click)="discountModalCollapsed=true; showDiscountModal=false"></div>
<div class="discount-modal common"  [ngClass]="{'show-modal': !discountModalCollapsed, 'hide-modal': discountModalCollapsed }">
  <div class="header">
    <span>Price Edit</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="discountModalCollapsed=true; showDiscountModal=false" />
  </div>

  <div class="main-content" >
    <span>Set a mass discount</span>
    <div class="discount-rule">
      
      <div class="effect-type">
        <div>
          <input name="radio-discount" type="radio" checked value="amountPrice" #amountPrice (click)="onSelectionChange(amountPrice.value)">
          <label >Amount</label>
        </div>
        <!-- <div (click)="amountChecked=false; percentageChecked=true">
          <input name="radio-discount" type="radio" value="percentPrice" #percentPrice (click)="onSelectionChange(percentPrice.value)">
          <label for="percent">Percentage</label>
        </div> -->
      </div>
      <div class="total-adjust">
        <span>Total Adjustment</span>
        <select name="" id="">
          <option value="increase">Increase by</option>
          <option value="decrease">decrease by</option>
        </select>
        <div class="amount">
          <span>$</span>
          <span>%</span>
          <input value="0">
        </div>
      </div>

    </div>
    <div class="btn-section" >
      <button class="cancel-btn" (click)="discountModalCollapsed=true; showDiscountModal=false"  >
        Cancel
      </button>
      <button class="save-btn" (click)="discountModalCollapsed=true; showDiscountModal=false"  >
        Save
      </button>
    </div>
  </div>
</div>