<div class="main-content" [ngClass]="{'main-content-large': menuCollapsed, 'main-content-small': !menuCollapsed }" > 
  <div class="milestone-table">
    <div class="milestone-row" [dragula]="'dragMilestone'" [dragulaModel]='milestones'>
      <div *ngFor="let milestone of milestones; let i = index;"  class="draggable-column">
        <div class="milestone-title" [ngStyle]="{'background': milestone.color}" style="opacity: .7;"   >
          <div *ngIf="!milestone.editTitle" (click)="milestone.editTitle = true; $event.stopPropagation();">{{milestone.title | uppercase }}</div>
          <input *ngIf="milestone.editTitle" placeholder="Enter title here..." [(ngModel)]="milestone.title" (keydown)="updateMilestoneTitle(i, $event)" >
        </div>
        <div class="milestone-content" [dragula]="'dragTask'" [dragulaModel]='milestone.tasks' *ngIf="milestone.tasks && milestone.tasks !== undefined">
          <div *ngFor="let task of milestone.tasks; let j = index;" class="draggable-task">
            <div class="task-content" (dblclick)="openDetailedModal(task, i, j)">
              <img *ngIf="task.attachmentImg" src="attachmentImg">
              <div class="task-title" >
                <span>
                  {{getTaskId(i, j)}}.
                </span>
                <input placeholder="Enter task here" [(ngModel)]="task.taskTitle" (change)="taskTitleChanged(milestone.id, task.id, task)" >
              </div>
              <div class="task-owner">
                <img src="{{task.assigneeInfo == undefined ? 'assets/users/man.png' : task.assigneeInfo.pictureURI}}" (click)="openOwnerModal(i, j); $event.stopPropagation();">
                <!-- <img *ngIf="!task.assigneeInfo.pictureURI" src="assets/users/man.png" style="border-radius: 100%;" (click)="openOwnerModal(i, j); $event.stopPropagation();"> -->
                <div class="sub-tasks">

                </div>
                <span><input [(ngModel)]="task.progress" max="100" type="number" maxlength="3" min="0" >%</span>
                <!-- Task owner selection modal-->
                <div
                  class="owner-modal"
                  [ngClass]="{'show-modal': ownerModalCollapsed[i][j], 'hide-modal': !ownerModalCollapsed[i][j] }"
                  (clickOutside)="closeOwnerModal(i, j)"
                  *ngIf="ownerModalCollapsed[i][j]"
                >
                  <div class="owner-mdl-content">
                    <select [(ngModel)]="selectedOwner" (change)="onOwnerSelect(milestone.id, task.id, task)" >
                      <option [value]="0">Select Task Owner</option>
                      <option *ngFor="let owner of taskOwners;" [value]="owner.username">{{owner.username}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="task-bottom">
                <div class="due-date">
                  <input 
                    [owlDateTime]="start" 
                    [owlDateTimeTrigger]="start" 
                    (dateTimeChange)="selectStartDate($event, milestone.id, task.id, task)" 
                    [(ngModel)]="task.startDate" 
                  >
                  <owl-date-time [pickerType]="'calendar'" #start></owl-date-time>
                  <span [owlDateTimeTrigger]="start" [ngClass]="{'due-date-empty': !task.startDate}">{{task.startDate}}</span>
                </div>
                <span class="duration"><input [(ngModel)]="task.duration" type="number" maxlength="3" min="0" (change)="taskDurationChanged(milestone.id, task.id, task)" > Days</span>
                <div class="task-actions">
                  <img *ngIf="task.dependency" src="assets/images/link.png" [ngClass]="{'blured': task.dependency[0]}" (click)="openDependencyModal(i, j); editable=true; $event.stopPropagation();">
                  <img src="assets/images/alarm.png" [ngClass]="{'blured': !task.isImportant}" (click)="task.isImportant = !task.isImportant; updateTask( milestone.id, task.id, task)" >
                  <img src="assets/images/attachment.png" [ngClass]="{'blured': !task.attachment}" (click)="uploadAttachment()">
                  <!--Dependency numbers-->
                  <div class="dependency-numbers" (click)="openDependencyModal(i, j); editable=true;">
                    <span *ngFor="let dependency of milestones[i].tasks[j].dependency; let l = index" (click)="openDependencyModal(i, j); editable=true; $event.stopPropagation();">
                      <span *ngIf="l != 0">,</span>
                      {{dependency}}
                    </span>
                  </div>
                  <!-- dependecy selection modal-->
                  <div
                    class="dependency-modal"
                    (clickOutside)="closeDependencyModal(i, j)"
                    *ngIf="dependencyModalCollapsed[i][j]"
                  >
                    <div class="dependency-mdl-content">
                      <div class="followers">
                        <div class="follower add-follower" >
                          <a (click)="editable=true;$event.stopPropagation()" ></a>
                        </div> 
                        <div class="edit-followers" *ngIf="editable" (click)="editable=true;$event.stopPropagation()" >
                          <ul>
                            <li *ngFor="let task of milestones[i].tasks[j].dependency; let k = index">{{task}}<span (click)="removeDependency(i, j, k)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
                            <li style="background: none; width: 100%; margin: 0;">
                                <ng-select *ngIf="isAutocompleteUpdated" [items]="allTasks"
                                  bindLabel="config2.sourceField"
                                  [clearSearchOnAdd]="false"
                                  (add)="onSelect(i, j, $event)" >
                                </ng-select>
                                <ng-select *ngIf="!isAutocompleteUpdated" [items]="allTasks"
                                  bindLabel="config2.sourceField"
                                  [clearSearchOnAdd]="false"
                                  (add)="onSelect(i, j, $event)">
                                </ng-select>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="milestone-content" [dragula]="'dragTask'" [dragulaModel]='milestone.tasks' *ngIf="!milestone.tasks || milestone.tasks === undefined">
        </div>
        <div class="add-task" (click)="addTask(milestone)">
          <img src="assets/images/add.png">
          <span>Add a task here</span>
        </div>
      </div>
      <div class="new-milestone" (clickOutside)="clickOutside()" (click)="addNewMilestone()" >
        <div *ngIf="!addMilestoneClicked" (click)="addNewMilestone(); $event.stopPropagation();" >  
          <img src="assets/images/add.png">
          <span>ADD NEW LIST</span>
        </div>
        <div *ngIf="addMilestoneClicked" class="new-title-input">
          <input placeholder="Enter title here..." [(ngModel)]="newMilestoneTitle" (keydown)="handleKeyDown($event)" >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="task-actions-modal modal">
  <img *ngIf="task.dependency" src="assets/images/link.png" [ngClass]="{'blured': task.dependency[0]}" (click)="openDependencyModal(i, j); editable=true; $event.stopPropagation();">
  <img src="assets/images/alarm.png" [ngClass]="{'blured': !task.like}" (click)="task.like = !task.like">
  <img src="assets/images/attachment.png" [ngClass]="{'blured': !task.attachment}" (click)="uploadAttachment()">
  Dependency numbers-->
  <!-- <div class="dependency-numbers" (click)="openDependencyModal(i, j); editable=true;">
    <span *ngFor="let dependency of milestones[i].tasks[j].dependency; let l = index" (click)="openDependencyModal(i, j); editable=true; $event.stopPropagation();">
      <span *ngIf="l != 0">,</span>
      {{dependency}}
    </span>
  </div> -->
  <!-- dependecy selection modal-->
  <!-- <div
    class="dependency-modal"
    (clickOutside)="closeDependencyModal(i, j)"
    *ngIf="dependencyModalCollapsed[i][j]"
  >
    <div class="dependency-mdl-content">
      <div class="followers">
        <div class="follower add-follower" >
          <a (click)="editable=true;$event.stopPropagation()" ></a>
        </div> 
        <div class="edit-followers" *ngIf="editable" (click)="editable=true;$event.stopPropagation()" >
          <ul>
            <li *ngFor="let task of milestones[i].tasks[j].dependency; let k = index">{{task}}<span (click)="removeDependency(i, j, k)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
            <li style="background: none; width: 100%; margin: 0;">
                <ng-select *ngIf="isAutocompleteUpdated" [items]="allTasks"
                  bindLabel="config2.sourceField"
                  [clearSearchOnAdd]="false"
                  (add)="onSelect(i, j, $event)" >
                </ng-select>
                <ng-select *ngIf="!isAutocompleteUpdated" [items]="allTasks"
                  bindLabel="config2.sourceField"
                  [clearSearchOnAdd]="false"
                  (add)="onSelect(i, j, $event)">
                </ng-select>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

<!-- </div> -->
