<div class="main-content" [ngClass]="{'main-content-large': menuCollapsed, 'main-content-small': !menuCollapsed }" > 
  <div class="milestone-table">
    <div class="milestone-row" [dragula]="'dragMilestone'" [dragulaModel]='milestones'>
      <div *ngFor="let milestone of milestones; let i = index;"  class="draggable-column">
        <div class="milestone-title" [ngStyle]="{'background': milestone.color}" style="opacity: .7;">
          <span>{{milestone.title | uppercase }}</span>
        </div>
        <div class="milestone-content" [dragula]="'dragTask'" [dragulaModel]='tasks'>
          <div *ngFor="let task of milestone.tasks; let j = index;" class="draggable-task">
            <div class="task-content" (dblclick)="openDetailedModal(task, i, j)">
              <img *ngIf="task.attachmentImg" src="attachmentImg">
              <div class="task-title">
                <span>
                  {{getTaskId(i, j)}}.
                </span>
                <input placeholder="Enter task here" [(ngModel)]="task.taskTitle">
              </div>
              <div class="task-owner">
                <img src="{{task.profile.imgUrl}}" *ngIf="task.profile.imgUrl" (click)="openOwnerModal(i, j); $event.stopPropagation();">
                <img *ngIf="!task.profile.imgUrl" src="assets/users/man.png" style="border-radius: 100%;" (click)="openOwnerModal(i, j); $event.stopPropagation();">
                <div class="sub-tasks">

                </div>
                <span><input [(ngModel)]="task.progress" max="100" type="number" maxlength="3" min="0">%</span>
                <!-- Task owner selection modal-->
                <div
                  class="owner-modal"
                  [ngClass]="{'show-modal': ownerModalCollapsed[i][j], 'hide-modal': !ownerModalCollapsed[i][j] }"
                  (clickOutside)="closeOwnerModal(i, j)"
                  *ngIf="ownerModalCollapsed[i][j]"
                >
                  <div class="owner-mdl-content">
                    <select [(ngModel)]="selectedOwner" (ngModelChange)="onOwnerSelect($event, i, j)" >
                      <option [value]="0">Select Task Owner</option>
                      <option *ngFor="let owner of taskOwners;" [value]="owner.userId">{{owner.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="task-bottom">
                <div class="due-date">
                  <input 
                    [owlDateTime]="dueDate" 
                    [owlDateTimeTrigger]="dueDate" 
                    (dateTimeChange)="selectDueDate($event, i, j)" 
                    [(ngModel)]="task.dueDate" 
                  >
                  <owl-date-time [pickerType]="'calendar'" #dueDate></owl-date-time>
                  <span [owlDateTimeTrigger]="dueDate" [ngClass]="{'due-date-empty': !task.dueDate}">{{task.dueDate}}</span>
                </div>
                <span class="duration"><input [(ngModel)]="task.duration" type="number" maxlength="3" min="0"> Days</span>
                <div class="task-actions">
                  <img src="assets/images/link.png" [ngClass]="{'blured': task.dependency[0]}" (click)="openDependencyModal(i, j); editable=true; $event.stopPropagation();">
                  <img src="assets/images/alarm.png" [ngClass]="{'blured': !task.like}" (click)="task.like = !task.like">
                  <img src="assets/images/attachment.png" [ngClass]="{'blured': !task.attachment}" (click)="uploadAttachment()">
                  <!--Dependency numbers-->
                  <div class="dependency-numbers" (click)="openDependencyModal(i, j); editable=true;">
                    <span *ngFor="let dependency of milestones[i].tasks[j].dependency; let l = index" (click)="openDependencyModal(i, j); editable=true; $event.stopPropagation();">
                      <span *ngIf="l != 0">,</span>
                      {{dependency}}
                    </span>
                  </div>
                  <!-- dependecy selection modal-->
                  <div
                    class="dependency-modal"
                    (clickOutside)="closeDependencyModal(i, j)"
                    *ngIf="dependencyModalCollapsed[i][j]"
                  >
                    <div class="dependency-mdl-content">
                      <div class="followers">
                        <div class="follower add-follower" >
                          <a (click)="editable=true;$event.stopPropagation()" ></a>
                        </div> 
                        <div class="edit-followers" *ngIf="editable" (click)="editable=true;$event.stopPropagation()" >
                          <ul>
                            <li *ngFor="let task of milestones[i].tasks[j].dependency; let k = index">{{task}}<span (click)="removeDependency(i, j, k)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
                            <li style="background: none; width: 100%; margin: 0;">
                                <ng-select *ngIf="isAutocompleteUpdated" [items]="allTasks"
                                  bindLabel="config2.sourceField"
                                  [clearSearchOnAdd]="false"
                                  (add)="onSelect(i, j, $event)" >
                                </ng-select>
                                <ng-select *ngIf="!isAutocompleteUpdated" [items]="allTasks"
                                  bindLabel="config2.sourceField"
                                  [clearSearchOnAdd]="false"
                                  (add)="onSelect(i, j, $event)">
                                </ng-select>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="add-task" (click)="addTask(milestone)">
          <img src="assets/images/add.png">
          <span>Add a task here</span>
        </div>
      </div>
      <div class="new-milestone" (clickOutside)="clickOutside()" (click)="addNewMilestone()" >
        <div *ngIf="!addMilestoneClicked" (click)="addNewMilestone(); $event.stopPropagation();" >  
          <img src="assets/images/add.png">
          <span>ADD NEW LIST</span>
        </div>
        <div *ngIf="addMilestoneClicked" class="new-title-input">
          <input placeholder="Enter title here..." [(ngModel)]="newMilestoneTitle" (keydown)="handleKeyDown($event)" >
        </div>
      </div>
    </div>
  </div>
</div>

