
.red {
  color: #FF7E7E;
}

.orange {
  color: #FFAC58;
}

.green {
  color: #C5D92D;
}

span {
  color: #95989A;
}

.table-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slide-right-btn {
  width: 40px;
  height: 107%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #F5F5F5;
  display: flex;
  align-items: center;
  background: white;
}

.slide-left-btn {
  width: 40px;
  height: 107%;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #F5F5F5;
  display: flex;
  align-items: center;
  background: white;
}

.slide-right-btn i {
  width: 100%;
  font-size: 80px;
  font-weight: 300;
  color: #B1B1B1;
}

.slide-left-btn i {
  width: 100%;
  font-size: 80px;
  font-weight: 300;
  color: #B1B1B1;
}

.main-table-content {
  display: flex;
  width: fit-content;
  flex-flow: row nowrap;
  padding: 30px 47px;
}

.table-column {
  min-width: 400px;
  margin-right: 25px;
}

.title {
  padding: 18px;
  border-radius: 3px;
  font-size: 18px;
  color: #95989A;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn {
  font-size: 60px;
  background: #F5F5F5;
  padding: 0px;
  border-radius: 3px;
  box-shadow: 1px 3px 5px 1px lightgrey;
  color: #59B778;
  font-weight: 100;
  line-height: 46px;
  margin: 20px 0;
  padding-top: 0px;
  padding-bottom: 8px;
  cursor: pointer;
}

.personal-card {
  width: 100%;
  background: #F5F5F5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.personal-card img {
  width: 30px;
  height: 30px;
  margin-right: 13px;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 15px;
}

.card-top .tasks-completion {
  color: #CBDC44;
}

.card-mid {
  display: flex;
  font-size: 11px;
  justify-content: space-between;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.tasks-details {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.tasks-details span:first-child {
  border-bottom: 1px solid lightgray;
}

.tasks-details span:last-child {
  font-size: 21px;
  margin-top: 5px;
}

/* Details tasks modal CSS */

.detailed-task-modal-wrapper {
  background: rgba(156,152,152,0.5);
  width:100%;
  height: 100%;
  z-index: 9990;
  position: fixed;
  top: 0;
  left: 0;
}

.detailed-task-modal-wrapper {
  z-index: 9 !important;
}

.add-detailed-task-modal {
  position: fixed;
  top: 5px;
  width: 60%;
  margin: 0 20%;
  left: 0;
  background: white;
  z-index: 9999;
  border-radius: 5px;
  transition: all 0.2s;
	color: #646464
}

.add-detailed-task-modal {
  max-height: 98vh;
  overflow: auto;
}

.detailed-task-modal-hide {
  position: fixed;
  top: -300px;
  width: 60%;
  margin: 0 20%;
  left: 0;
  z-index: 9999;
  transition: all 0.2s;
	visibility: hidden;
}

.end-reached {
  color: #E4E4E4 !important;
}


.milestone-delete-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}


.milestone-delete-btn img {
  width: 100%;
  height: 100%;
}


/* Confirm Delete Modal */


.confirm-modal {
  position: fixed;
  top: 50px;
  width: 40%;
  margin: 0 30%;
  left: 0;
  background: white;
  z-index: 9999;
  border-radius: 5px;
  transition: all 0.5s;
	color: #646464
}

.confirm-modal-hide {
  position: absolute;
  top: -200px;
  width: 60%;
  margin: 0 20%;
  left: 0;
  z-index: 9999;
  transition: all 0.5s
}

.confirm-modal .content {
  padding: 25px;
  font-size: 0.8em;
}


.confirm-modal .header {
  padding: 20px 25px;
  font-size: 1.7rem;
  border-bottom: solid 1px #F5F5F5;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.confirm-que {
  font-size: 12px;
}

.center-btn-section {
  text-align: center;
  padding: 30px 0 10px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-modal .confirm-btn {
  background-color:#a9f2df; 
  border-radius: 5px;
  font-size: 14px;
  border: 0;
  width: 130px;
  outline: none;
  box-shadow: inset #99f3db 0 0 1px 1px;
  color: gray;
  margin: 5px;
  padding: 2px;
}

.confirm-modal  .cancel-btn {
  border-radius: 5px;
  font-size: 14px;
  border: 0;
  width: 130px;
  outline: none;
	background: lightgray;
  color: gray;
  margin: 5px;
  padding: 2px;
}

.confirm-modal .done-btn:focus {
  background: #8decd4;
}

.confirm-modal  .close-btn {
  cursor: pointer;
  font-size: 1.5em;
  width: 22px;
  height: 22px;
}

.confirm-delete-modal-wrapper {
  background: rgba(156,152,152,0.5);
  width:100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.dependency {
  position: relative;
}

.duration input {
  border: 0;
  text-align: right;
  font-size: 12px;
  color: #95989a;
  width: 30px;
  outline: none;
}

.duration span {
  color: #95989a;
  font-size: 12px;
  margin-left: 2px;
}
