<div class="content">
  <table>
    <tr>
      <th>TYPE NUMBER</th>
      <th>TYPE</th>
      <th>TYPE TOTAL</th>
      <th>STATUS</th>
      <th>CREATED DATE</th>
      <th>DATE UPDATED</th>
      <th>COLLABORATORS</th>
    </tr>
    <tr *ngFor="let order of purchaseOrdersList; let i = index">
      <td>PO {{order.id}}</td>
      <td>Purchase Order</td>
      <td>{{order.total}}</td>
      <td>{{order.status}}</td>
      <td>{{getFormatedDate(order.createdAt)}}</td>
      <td>{{getFormatedDate(order.updatedAt)}}</td>
      <td>{{order.owner}}</td>
    </tr>
    <tr *ngFor="let invoice of invoicesList; let i = index">
      <td>IN {{invoice.id}}</td>
      <td>Invoice</td>
      <td>{{invoice.total}}</td>
      <td>{{invoice.status}}</td>
      <td>{{getFormatedDate(invoice.createdAt)}}</td>
      <td>{{getFormatedDate(invoice.updatedAt)}}</td>
      <td>{{invoice.owner}}</td>
    </tr>
  </table>
</div>
