<div class="content">
  <table>
    <tr>
      <th>TYPE NUMBER</th>
      <th>TYPE</th>
      <th>TYPE TOTAL</th>
      <th>STATUS</th>
      <th>CREATED DATE</th>
      <th>DATE UPDATED</th>
      <th>COLLABORATORS</th>
    </tr>
    <tr *ngFor="let item of tableDataAll; let i = index">
      <td>{{item.typeNumber}}</td>
      <td>{{item.type}}</td>
      <td>{{item.total}}</td>
      <td>{{item.status}}</td>
      <td>{{getFormatedDate(item.createdAt)}}</td>
      <td>{{getFormatedDate(item.updatedAt)}}</td>
      <td>{{item.owner}}</td>
    </tr>
  </table>
</div>
