<div class="content">
  <table>
    <tr>
      <th (click)="sortArrayWithString('typeNumber')">TYPE #</th>
      <th (click)="sortArrayWithString('type')">TYPE</th>
      <th (click)="sortArray('total')">TOTAL</th>
      <th (click)="sortArrayWithString('status')">STATUS</th>
      <th (click)="sortCreateDateArray('createdAt')">DATE CREATED</th>
      <th (click)="sortCreateDateArray('updatedAt')">DATE UPLOADED</th>
      <th>COLLABORATORS</th>
    </tr>
    <tr *ngFor="let item of tableDataAll; let i = index" (click)="navigateTo(item)">
      <td>{{item.typeNumber}}</td>
      <td>{{item.type}}</td>
      <td><span *ngIf="item.total">$ </span>{{item.total}}</td>
      <td>{{item.status}}</td>
      <td>{{getFormatedDate(item.createdAt)}}</td>
      <td>{{getFormatedDate(item.updatedAt)}}</td>
      <td>{{item.owner}}</td>
    </tr>
  </table>
</div>
