<div class="project-details rotated" (click)="sidebarCollapsed=false; showDialog=true">
  <span>PROJECT DETAILS</span>
  <i class="fa fa-angle-right"></i>
</div>

<div class="sidebar-wrapper" *ngIf="showDialog" (click)="sidebarCollapsed=true; showDialog=false"></div>
<div class="project-details-sidebar"  [ngClass]="{'show-sidebar': !sidebarCollapsed, 'hide-sidebar': sidebarCollapsed }">
  <div class="header">
    <span>Project Details</span>
  </div>
  <div class="content">
    <div class="details-buttons">
      <div (click)="ProposalInfoModalCollapsed=false; showProposalInfo=true; tabActiveFirst=true; tabActiveSecond=false; tabActiveThird=false">Client Details</div>
      <div (click)="ProposalInfoModalCollapsed=false; showProposalInfo=true; tabActiveFirst=false; tabActiveSecond=true; tabActiveThird=false">Project Details</div>
      <div (click)="ProposalInfoModalCollapsed=false; showProposalInfo=true; tabActiveFirst=false; tabActiveSecond=false; tabActiveThird=true">Scope of work</div>
    </div>
    <div class="project-category">
      <span>Category</span>
      <div class="category-box" >
        <app-multicategoriesselect [categories]="categories" (sendCategories)="getProjectCategories($event)"></app-multicategoriesselect>
      </div>
    </div>

    <div class="subproject-category">
      <span>Subcategory</span>
      <div class="-subcategorybox" >
        <app-multisubcategoriesselect [subCategories]="subCategories" (sendSubCategories)="getProjectSubCategories($event)"></app-multisubcategoriesselect>
      </div>
    </div>

    <div class="client-notes">
      <span>Client Notes</span>
      <textarea (change)="onChangeClientNote($event)">{{clientNote}}</textarea>
    </div>

    <div class="internal-notes">
      <span>Internal Notes</span>
      <textarea (change)="onChangeInternalNote($event)" >{{internalNote}}</textarea>
    </div>

    <div class="recent-activity">
      <span>Recent Activity</span>
      <div class="content">
        <app-ng2timeline [timelineData]="timelineData" [oneSide]="true"></app-ng2timeline>
      </div>
    </div>
  </div>
</div>

<div class="proposal-info-wrapper" *ngIf="showProposalInfo"></div>
<div class="proposal-info"  [ngClass]="{'show-proposal-info': !ProposalInfoModalCollapsed, 'hide-proposal-info': ProposalInfoModalCollapsed }">
  <div class="header">
    <span>Proposal Infomation</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="ProposalInfoModalCollapsed=true; showProposalInfo=false" />
  </div>

  <div class="content" *ngIf="proposalInfo">
    <tabs>
      <tab tabTitle="CLIENT DETAILS" [(active)]="tabActiveFirst">
        <div class="tab-one">
          <div class="name-col tab-row">
            <div>
              <span>Customer Name</span>
              <input placeholder="Enter Customer Name" [(ngModel)]="customerName" (change)="onChangeCustomerName($event)" [ngClass]="{'validation-required': invalidCustomerName}">
            </div>
            <div class="collaborators">
              <span>Collaborators</span>
              <div>
                <div class="followers" (click)="editable=true;$event.stopPropagation()" [ngClass]="{'validation-required': invalidCollaborators}"> 
                  <div class="follower" *ngFor="let user of collaborators; let i = index">
                    <a [title]='user.username' ><img [src]='user.pictureURI'  (click)="editable=true;$event.stopPropagation()"/></a>
                  </div> 
                  <div class="edit-followers" *ngIf="editable" (click)="editable=true;$event.stopPropagation()" >
                    <ul>
                      <li *ngFor="let user of collaborators; let i = index">{{user.username}}<span (click)="removeUser(i)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
                      <li style="background: none; width: 100%; margin: 0;">
                        <!-- <input autocomplete [config]="config2" [items]="items2"
                          (inputChangedEvent)="onInputChangedEvent($event)"
                          (selectEvent)="onSelect($event)"> -->
                        <!-- <input 
                          [ng5-auto-complete]="items2"
                          filterName="config2.sourceField"
                          no-record-text="config2.placeholder"
                          (valueChanged)="onSelect($event)"
                          (input)="onInputChangedEvent($event)"
                        />   -->
                        <ng-select *ngIf="isAutocompleteUpdated2" [items]="items2"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelect($event)" >
                        </ng-select>
                        <ng-select *ngIf="!isAutocompleteUpdated2" [items]="items2"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelect($event)">
                        </ng-select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="project-acc tab-row">
            <div>
              <div class="desc">
                <span>Project Management</span>
                <div>
                  <img src="assets/images/switch.png" *ngIf="switchIconManagement" (click)="clickIconManagement()">
                  <img src="assets/images/switch-off.png" *ngIf="!switchIconManagement" (click)="clickIconManagement()">
                  <span>Same as customer</span>
                </div>
              </div>
              <input placeholder="Enter Project Manager" [value]="projectManager">
            </div>

            <div>
              <div class="desc">
                <span>Account Receivable</span>
                <div>
                  <img src="assets/images/switch.png" *ngIf="switchIconReceivable" (click)="clickIconReceivable()">
                  <img src="assets/images/switch-off.png" *ngIf="!switchIconReceivable" (click)="clickIconReceivable()">
                  <span>Same as customer</span>
                </div>
              </div>
              <input placeholder="Enter Name" [value]="receivable">
            </div>
          </div>

          <div class="other-pri tab-row">
            <div>
              <span>Other Associations</span>
              <input placeholder="Enter Customer Name">
            </div>
            <div>
              <span>Proposal Pricing</span>
              <div>
                <select>
                  <option value="test">Friends and Family</option>
                </select>
              </div>
            </div>
          </div>

          <div class="name-type tab-row">
            <div>
              <span>Project Name</span>
              <input placeholder="Enter Project Name" [(ngModel)]="projectDetails.projectName" [ngClass]="{'validation-required': invalidProjectName}">
            </div>
            <div>
              <span>Project Type</span>
              <div>
                <input placeholder="Enter Project Type" [(ngModel)]="proposalInfo.projectType">
              </div>
            </div>
          </div>

          <div class="shipping-address ">
            <div class="desc">
              <span>Shipping Address</span>
              <div>
                <img src="assets/images/switch.png" *ngIf="switchIconShipping" (click)="clickIconShipping()">
                <img src="assets/images/switch-off.png" *ngIf="!switchIconShipping" (click)="clickIconShipping()">
                <span>Same as the customer profile</span>
              </div>
            </div>
            <input placeholder="Enter Shipping Address" class="address" [(ngModel)]="shippingAddress.address" [ngClass]="{'validation-required': invalidAddress}" >

            <div class="city-state">
              <input placeholder="Enter City" [(ngModel)]="shippingAddress.city" [ngClass]="{'validation-required': invalidCity}">
              <input placeholder="Enter State" [(ngModel)]="shippingAddress.province" [ngClass]="{'validation-required': invalidState}">
            </div>
            <div class="country-zip">
              <input placeholder="Enter Country" [(ngModel)]="shippingAddress.country" [ngClass]="{'validation-required': invalidCountry}">
              <input placeholder="Enter Zipcode" [(ngModel)]="shippingAddress.postalCode" [ngClass]="{'validation-required': invalidZipcode}">
            </div>
          </div>
          <div class="btn-section" >
            <button class="cancel-btn" (click)="ProposalInfoModalCollapsed=true; showProposalInfo=false"  >
              Cancel
            </button>
            <button class="save-btn" (click)="saveClientDetails()" >
              Save
            </button>
          </div>
        </div>
      </tab>
      <tab tabTitle="PROJECT DETAILS" class="tab-won" [(active)]="tabActiveSecond">
        <div class="tab-two">
          <div class="dis-id tab-row">
            <div class="discount">
              <span>Discount</span>
              <div>
                <select [(ngModel)]="projectDetails.discount.type">
                  <option *ngFor="let type of ['$', '%']">{{type}}</option>
                </select>
                <input [(ngModel)]="projectDetails.discount.amount">
              </div>
            </div>
            <div>
              <span>Project ID</span>
              <input [(ngModel)]="projectDetails.projectId" [ngClass]="{'validation-required': invalidProjectId}">
            </div>
          </div>

          <div class="cate-subcate tab-row">
            <div>
              <span>Project Categories</span>
              <div class="category-box">
                <app-multikeywordselect [keywords]="projectDetails.projectCategoriesAll"></app-multikeywordselect>
              </div>
            </div>
            <div>
              <span>Project Subcategories</span>
              <div class="subcategory-box">
                <app-multikeywordselect [keywords]="projectDetails.projectSubCategoriesAll"></app-multikeywordselect>
              </div>
            </div>
          </div>

          <div class="comp-sche tab-row">
            <div class="completion">
              <span>Completion Date</span>
              <div>
                <input value="{{projectDetails.completionDate}}">
                <img src="assets/images/calendar-plain.png" alt="">
              </div>
            </div>
            <div class="schedule">
              <div class="schedule-title">
                <span>Payment Schedule (*required)</span>
                <span>{{scheduleRemain}}%</span>
              </div>
              <div class="milestones" [ngClass]="{'validation-required': invalidSchedule}">
                <app-schedulemultikeyword [(keywords)]="projectDetails.paymentSchedule" (scheduleRemain)="getSchduleRemain($event)"></app-schedulemultikeyword>
              </div>
            </div>
          </div>

          <div class="account-project tab-row">
            <div>
              <span>Account Manager</span>
              <div class="member-container">
                <div class="followers" (click)="accountEditable=true;$event.stopPropagation()" [ngClass]="{'validation-required': invalidAccountManager}"> 
                  <div class="follower" >
                    <a [title]='projectDetails.accountManager.name' ><img [src]='projectDetails.accountManager.imageUrl'  (click)="accountEditable=true;$event.stopPropagation()"/></a>
                  </div> 
                  <div class="edit-followers" *ngIf="accountEditable" (click)="accountEditable=true;$event.stopPropagation()" >
                    <ul>
                      <li >{{projectDetails.accountManager.name}}<span (click)="removeAccountManager(i)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
                      <li style="background: none; width: 100%; margin: 0;">
                        <!-- <input autocomplete [config]="config2" [items]="items3"
                          (inputChangedEvent)="onInputChangedEvent($event)"
                          (selectEvent)="onSelectAccountManager($event)"> -->
                        <!-- <input 
                          [ng5-auto-complete]="items3"
                          filterName="config2.sourceField"
                          no-record-text="config2.placeholder"
                          (valueChanged)="onSelectAccountManager($event)"
                          (input)="onInputChangedEvent($event)"
                        /> -->
                        <ng-select *ngIf="isAutocompleteUpdated3" [items]="items3"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelectAccountManager($event)" >
                        </ng-select>
                        <ng-select *ngIf="!isAutocompleteUpdated3" [items]="items3"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelectAccountManager($event)">
                        </ng-select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <span>Project Manager</span>
              <div class="member-container">
                <div class="followers" (click)="projectEditable=true;$event.stopPropagation()" [ngClass]="{'validation-required': invalidProjectManager}"> 
                  <div class="follower">
                    <a [title]='projectDetails.projectManager.name' ><img [src]='projectDetails.projectManager.imageUrl'  (click)="projectEditable=true;$event.stopPropagation()"/></a>
                  </div> 
                  <div class="edit-followers" *ngIf="projectEditable" (click)="projectEditable=true;$event.stopPropagation()" >
                    <ul>
                      <li>{{projectDetails.projectManager.name}}<span (click)="removeProjectManager(i)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
                      <li style="background: none; width: 100%; margin: 0;">
                        <!-- <input autocomplete [config]="config2" [items]="items4"
                          (inputChangedEvent)="onInputChangedEvent($event)"
                          (selectEvent)="onSelectProjectManager($event)"> -->
                        <!-- <input 
                          [ng5-auto-complete]="items4"
                          filterName="config2.sourceField"
                          no-record-text="config2.placeholder"
                          (valueChanged)="onSelectProjectManager($event)"
                          (input)="onInputChangedEvent($event)"
                        /> -->
                        <ng-select *ngIf="isAutocompleteUpdated4" [items]="items4"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelectProjectManager($event)" >
                        </ng-select>
                        <ng-select *ngIf="!isAutocompleteUpdated4" [items]="items4"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelectProjectManager($event)">
                        </ng-select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="design-custom tab-row">
            <div>
              <span>Designer</span>
              <div class="member-container">
                <div class="followers" > 
                  <div class="follower">
                    <a [title]='projectDetails.designer.name' ><img [src]='projectDetails.designer.imageUrl'  (click)="designerEditable=true;$event.stopPropagation()"/></a>
                  </div> 
                  <div class="edit-followers" *ngIf="designerEditable" (click)="designerEditable=true;$event.stopPropagation()" >
                    <ul>
                      <li >{{projectDetails.designer.name}}<span (click)="removeDesigner(i)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
                      <li style="background: none; width: 100%; margin: 0;">
                        <!-- <input autocomplete [config]="config2" [items]="items5"
                          (inputChangedEvent)="onInputChangedEvent($event)"
                          (selectEvent)="onSelectDesigner($event)"> -->
                        <!-- <input 
                          [ng5-auto-complete]="items5"
                          filterName="config2.sourceField"
                          no-record-text="config2.placeholder"
                          (valueChanged)="onSelectDesigner($event)"
                          (input)="onInputChangedEvent($event)"
                        /> -->
                        <ng-select *ngIf="isAutocompleteUpdated5" [items]="items5"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelectDesigner($event)" >
                        </ng-select>
                        <ng-select *ngIf="!isAutocompleteUpdated5" [items]="items5"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelectDesigner($event)">
                        </ng-select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <span>Custom Field</span>
              <input>
            </div>
          </div>
          <div class="btn-section" >
            <button class="cancel-btn" (click)="ProposalInfoModalCollapsed=true; showProposalInfo=false"  >
              Cancel
            </button>
            <button class="save-btn" (click)="saveProjectDetails()"  >
              Save
            </button>
          </div>
        </div>
      </tab>
      <tab tabTitle="SCOPE OF WORK" class="tab-won" [(active)]="tabActiveThird">
        <div class="tab-three">
          <span>Scope of work</span>
          <div [froalaEditor] class="form-editor">Hello, Froala!</div>
          <div class="btn-section" >
            <button class="cancel-btn" (click)="ProposalInfoModalCollapsed=true; showProposalInfo=false"  >
              Cancel
            </button>
            <button class="save-btn" (click)="ProposalInfoModalCollapsed=true; showProposalInfo=false"  >
              Save
            </button>
          </div>
        </div>
      </tab>
    </tabs>
  </div>

  
</div>