<div class="confirm-delete-modal-wrapper" *ngIf="showYnModal" ></div>
<div [ngClass]="{'confirm-modal': showYnModal, 'confirm-modal-hide': !showYnModal }">
  <div class="header">
    <span class="alert-text">ALERT</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="onClickNo()" />
  </div>
  <div class="content" >
    <div class="confirm-que">
      {{modalContent}}
    </div>
    <div class="center-btn-section" >
      <button class="confirm-btn" (click)="onClickYes()" >
        YES
      </button>
      <button class="cancel-btn" (click)="onClickNo()" >
        NO
      </button>
    </div>
  </div>
</div> 