<div class="project-information" *ngIf="projectInformation">
  <div class="info-left">
    <span class="info-title">PROJECT INFORMATION</span>
    <div class="customer-project-name">
      <div class="customer-name">
        <span class="title">Customter Name</span>
        <div class="content-info">{{projectInformation.contactName}}</div>
      </div>
      <div class="project-name">
        <span class="title">Project</span>
        <div class="content-info">{{projectInformation.name}}</div>
      </div>
    </div>
    <div class="shipping-address">
      <span class="title">Shipping Address</span>
      <div class="street content-info">{{projectInformation.shippingAddress.address}}</div>
      <div class="city-state">
        <div class="content-info">{{projectInformation.shippingAddress.city}}</div>
        <div class="content-info">{{projectInformation.shippingAddress.provice}}</div>
      </div>
      <div class="country-zipcode">
        <div class="content-info">{{projectInformation.shippingAddress.country}}</div>
        <div class="content-info">{{projectInformation.shippingAddress.postalCode}}</div>
      </div>
    </div>
    <div class="billing-address">
      <span class="title">Billing Address</span>
      <div class="street content-info">{{projectInformation.billingAddress.address}}</div>
      <div class="city-state">
        <div class="content-info">{{projectInformation.billingAddress.city}}</div>
        <div class="content-info">{{projectInformation.billingAddress.province}}</div>
      </div>
      <div class="country-zipcode">
        <div class="content-info">{{projectInformation.billingAddress.country}}</div>
        <div class="content-info">{{projectInformation.billingAddress.postalCode}}</div>
      </div>
    </div>
  </div>
  <div class="info-right">
    <div>
      <span class="title">Project #</span>
      <div class="content-info">{{projectInformation.id}}</div>
    </div>

    <div>
      <span class="title">Proposal #</span>
      <div class="content-info">{{projectInformation.proposalId}}</div>
    </div>

    <div>
      <span class="title">Start Date</span>
      <div class="start-date content-info" [ngClass]="{'validation-required': invalidStartDate}">
        <div class="formated-date">
          <span >{{formattedStart}}</span>
          <img src="assets/images/calendar-plain.png">
        </div>
        <input 
          [owlDateTimeTrigger]="startDate" 
          [owlDateTime]="startDate" 
          placeholder="Choose a start date" 
          (dateTimeChange)="selectStartDate($event)" 
          [(ngModel)]="projectInformation.startDate"
          [max]="startMax">
        <owl-date-time [pickerType]="'calendar'" #startDate></owl-date-time>
      </div>
    </div>

    <div>
      <span class="title">End Date</span>
      <div class="start-date content-info" [ngClass]="{'validation-required': invalidEndDate}">
        <div class="formated-date">
          <span >{{formattedEnd}}</span>
          <img src="assets/images/calendar-plain.png">
        </div>
        <input 
          [owlDateTimeTrigger]="endDate" 
          [owlDateTime]="endDate" 
          placeholder="Choose a end date" 
          (dateTimeChange)="selectEndDate($event)" 
          [(ngModel)]="projectInformation.endDate"
          [min]="endMin" >
        <owl-date-time [pickerType]="'calendar'" #endDate></owl-date-time>
      </div>
    </div>

    <div class="project-manager">
      <span class="title">Project Manager</span>
      <div class="content-info">
        <div class="followers" > 
          <div class="follower">
            <img [src]='projectInformation.projectManagerData.pictureURI'/>
          </div> 
        </div>
      </div>
    </div>

    <div class="account-manager">
      <span class="title">Account Manager</span>
      <div class="content-info">
        <div class="followers"> 
          <div class="follower">
            <a [title]='projectInformation.accountManagerData.username' ><img [src]='projectInformation.accountManagerData.pictureURI'/></a>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span class="title">Contact Association</span>
      <div class="contact-asso">
        <!-- <app-ng2completer 
          [itemsList]="associationList" 
          (selectedItem)="onSelectAssociation($event)" 
          class="contact-content-info"
          [searchStr]="selectAssociation">
        </app-ng2completer> -->
        <span class="individual-asso" *ngFor="let asso of projectInformation.contactAssociationData">{{asso.name}}</span>
      </div>
    </div>

    <div>
      <span class="title">Contact Project Manager</span>
      <div class="text-autocomp">
        <ng2-completer 
          [dataService]="pmList" 
          (selected)="onSelectPmManager($event)" 
          class="contact-content-info"
          [(ngModel)]="projectInformation.clientProjectManagerName"
          [minSearchLength]="0"
          *ngIf="contactsList">
        </ng2-completer>
      </div>
    </div>

    <div>
      <span class="title">Contact Account Receivable</span>
      <div class="text-autocomp">
        <ng2-completer 
          [dataService]="accountReceivableList" 
          (selected)="onSelectAccountReceivable($event)" 
          class="contact-content-info"
          [(ngModel)]="projectInformation.accountReceivableName"
          [minSearchLength]="0"
          *ngIf="contactsList">
        </ng2-completer>
      </div>
    </div>
  </div>
</div>

<div class="text-editor-sec" *ngIf="projectInformation">
  <div class="scope-description-change">
    <div class="editor-title">CLIENT NOTES</div>
    <quill-editor [(ngModel)]="projectInformation.clientNote">
    </quill-editor>
  </div>
</div>

<div class="bottom-btns">
  <div class="btn-section" >
    <button class="cancel-btn" (click)="toPendingProject()">
      Cancel
    </button>
    <button class="next-btn" (click)="toProjectScope()">
      Next
    </button>
  </div>
</div>