.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  color: #C5D92D;
  font-size: 1.8em;
  font-weight: 200;
}

.inventory-header {
  height: 60px;
  color: #95989A;
  padding-left: 2em;
  padding-right: 5em;
  border-bottom: solid 1px #d3d3d3;
}

.inventory-header div {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.8em;
  font-weight: 300;
}

.convert-invoice-btn {
  font-size: 10px;
  background: #a9f2df;
  padding: 4px 18px;
  border-radius: 4px;
  margin-left: 60px;
  cursor: pointer;
}
