.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.days-to-duedate {
  color: #C5D92D;
  font-size: 1.5em;
  font-weight: 200;
}

.inventory-header {
  height: 60px;
  color: #95989A;
  padding-left: 2em;
  padding-right: 5em;
  border-bottom: solid 1px #d3d3d3;
}

.title {
  font-size: 1.5em;
}
