<div>
  <div class="main-content" >
    <div class="main__info flex" >
      <div class="left-sidebar">
        <div class="flex aligntop" >
          CHOOSE YOUR PRODUCTS
        </div>
      </div>
      <div class="right-sidebar">
        <app-ad-transferid [tr_id]="tr_id" ></app-ad-transferid>
        <app-tr-datetransferfield [(transferdate)]="transferdate" ></app-tr-datetransferfield>
      </div>
    </div>
    <div class="product__table">
      <app-po-table [(productDetails)]="productDetails"  [trId]="tr_id" ></app-po-table>
    </div>
    <div class="sub__info">
      <div>
        <app-tr-locationtofrom
          [locations]="locations"
          (selectedLocation)="onSelectLocation($event)" >
        </app-tr-locationtofrom>
        <div class="internal-memo">
          <app-tr-internalmemo (memoChanged)="onMemoChanged($event)" ></app-tr-internalmemo>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <section id="header" >
      <div (click)="showButtons=true" >
        &nbsp;
      </div>
      <div class="btn-group" >
        <div class="btn cancel" (click)="onCancel()" >Cancel</div>
        <div class="btn save_and_close" (click)="onSave()" >Save</div>
      </div>
    </section>
  </footer>
</div>
