.green {
  color: #C5DA30;
}

.red {
  color: #FF8080;
}

.orange {
  color: #FEB66B;
}

.content {
	
}

table {
  width: 100%;
  color: #585858;
  border-top: none;
  font-weight: 400;
  user-select: none;
}

table img {
  width: 50px;
  height: 50px;
}

td {
  padding: 30px 20px;
  font-size: 13px;
  text-align: left;
  font-weight: 400;
  border-collapse: collapse;
  border-bottom: none;
  align-items: center;
  border: 0;
  color: #464646;
}

td:first-child, th:first-child  {
  padding-left: 30px !important;
}

td:last-child {
  min-width: 150px;
}

td:nth-child(2) {
  min-width: 250px;
}

th {
  padding: 25px 20px;
  font-size: 13px;
  border: 1px solid #F5F5F5;
  border-collapse: collapse;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 0;
  color: #464646;
}

th:first-child, th:last-child {
  border-right: none;
}

tr {
  border-bottom: 1px solid #F5F5F5;
}

tr:hover {
  box-shadow: 0 1px 10px 1px #d3d3d3;
}

tr:first-child:hover {
  box-shadow: none;
}

table i {
  margin-right: 10px;
  line-height: 10px;
  font-size: 20px;
  cursor: pointer;
}


h1 {
  font-weight: 400;
  color: #95989A;
}

.info {
  display: flex;
  flex-direction: column;
}

.info>div {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
}

.add-btn {
  font-size: 10px;
  letter-spacing: 0;
  padding: 4px 10px;
  background-color: #A8F2DF;
  border-radius: 4px;
  cursor: pointer;
  color: #868686;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 25px
}

.change-log {
  color: #6eb1dd;
  font-size: 20px;
}

.info .info-down {
  padding-bottom: 15px;
}

@media screen and (max-width: 1200px) {

}
