<div>
  <div class="main-content" >
    <div class="main__info flex" >
      <div class="left-sidebar">
        <div class="flex aligntop" >
          <div class="customer-name">
            <span>Customer name</span>
            <ng2-completer class="mr-15" [(ngModel)]="customerName" [datasource]="contactsSource" [minSearchLength]="0" (keyup.enter)="onEnter()" (selected)="onSelectCustomer($event)" [ngClass]="{'validation-required': invalidName}" *ngIf="contactList" ></ng2-completer>
          </div>
          
          <div class="email-address">
            <span>Email address</span>
            <app-multiemailselect [keywords]="emailAddresses" (multiEmails)="getMultiEmails($event)" [ngClass]="{'validation-required': invalidEmail}"></app-multiemailselect>
          </div>
        </div>
        <div class="shipping-address ">
          <div class="desc">
            <span>Shipping Address</span>
            <div class="switch-bar">
              <img src="assets/images/switch.png" *ngIf="switchIconShipping" (click)="clickIconShipping()">
              <img src="assets/images/switch-off.png" *ngIf="!switchIconShipping" (click)="clickIconShipping()">
              <span>Use customer address</span>
            </div>
          </div>
          <input placeholder="Enter Shipping Address" class="address" [(ngModel)]="address" [ngClass]="{'validation-required': invalidAddress}" >
          
          <div class="city-state">

            <input placeholder="Enter City" [(ngModel)]="city" [ngClass]="{'validation-required': invalidCity}" (blur)="updatingEstimate()">

            <ng2-completer 
              [(ngModel)]="province" 
              [ngClass]="{'validation-required': invalidProvince}" 
              [datasource]="provincesSource" 
              [minSearchLength]="0" 
              (keyup.enter)="onEnter()" 
              (selected)="onSelectProvince($event)"
              [placeholder]="'Enter Provice'">
            </ng2-completer>

          </div>
          <div class="country-zip">

            <ng2-completer 
              [(ngModel)]="country" 
              [ngClass]="{'validation-required': invalidCountry}" 
              [datasource]="countriesSource" 
              [minSearchLength]="0" 
              (keyup.enter)="onEnter()" 
              (selected)="onSelectCountry($event)"
              [placeholder]="'Enter Country'">
            </ng2-completer>
            <input placeholder="Enter Zipcode" [(ngModel)]="postalCode" [ngClass]="{'validation-required': invalidPostalCode}" (blur)="updatingEstimate()" >
          </div>
        </div>
        <div class="project-log">
          <div class="uneditable-input">{{projectName}}</div>
          <div class="uneditable-input">{{changeLogName}}</div>
        </div>
      </div>
      <div class="right-sidebar" *ngIf="in_id">
        <div class="indi-category">
          <span>Estimate</span>
          <div class="non-editable">ES - {{estimateNumber}}</div>
        </div>
        <div class="indi-category">
          <span>Date created</span>
          <div class="non-editable">{{createdDate}}</div>
        </div>
        <div class="indi-category">
          <span>Expiry Date</span>
          <div class="orderinfo-input" >
            <input [owlDateTimeTrigger]="owlduedate" [owlDateTime]="owlduedate" (dateTimeChange)="selectDueDate($event)" [(ngModel)]="dueDate" [min]="today" >
            <owl-date-time [pickerType]="'calendar'" #owlduedate ></owl-date-time>
          </div>
        </div>
        <div class="indi-category">
          <span>Class</span>
          <select name="class" [(ngModel)]="currentClassId" *ngIf="classList"  (ngModelChange)="updatingEstimate()">
            <option *ngFor = "let class of classList" [ngValue]="class.id">{{class.name}}</option>
          </select>
        </div>
        <div class="indi-category">
          <span>Category</span>
          <select name="category" [(ngModel)]="currentCategoryId" *ngIf="categoryList"  (ngModelChange)="updatingEstimate()">
            <option *ngFor = "let category of categoryList" [ngValue]="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="product__table" *ngIf="currentEstimateId">
      <app-in-profile-table [(productDetails)]="productDetails" (priceChange)="onPriceChanged()" [invoiceId]="currentEstimateId"></app-in-profile-table>
    </div>
    <div class="sub__info">
      <div class="notes-activity">
        <div class="flex" >
          <div class="indi-note">
            <span>Internal Memo</span>
            <textarea [(ngModel)]="internalMemo" (blur)="updatingEstimate()"></textarea>
          </div>
          <div class="indi-note">
            <span>Note to customer</span>
            <textarea [(ngModel)]="noteToSupplier" (blur)="updatingEstimate()"></textarea>
          </div>
          <div class="indi-note">
            <span>Terms of invoice</span>
            <textarea [(ngModel)]="termsOfEstimate" (blur)="updatingEstimate()"></textarea>
          </div>
        </div>
      </div>
      <div class="bill-count" >
          <div class="indi-category">
            <span>Sub Total Products</span>
            <div class="non-editable">
              <span>$</span>
              <span>{{subtotalproducts | number: '1.2-2'}}</span>
            </div>
          </div>

          <div class="indi-category">
            <span>Sub Total Services</span>
            <div class="non-editable">
              <span>$</span>
              <span>{{subtotalServices | number: '1.2-2'}}</span>
            </div>
          </div>

          <div class="indi-category">
            <span>Discount</span>
            <div class="discount">
              <select [(ngModel)]="discountType" (ngModelChange)="updatingEstimate()">
                <option value="AMOUNT">$</option>
                <option value="PERCENT">%</option>
              </select>
              <input [(ngModel)]="discountAmount" (blur)="updatingEstimate()" type="number">
            </div>
          </div>

          <div class="indi-category">
            <span>Taxes</span>
            <div class="non-editable">
              <span>$</span>
              <span>{{taxes | number: '1.2-2'}}</span>
            </div>
          </div>

          <div class="indi-category">
            <span>Deposits / Credits</span>
            <div class="non-editable">
              <span>$</span>
              <input [(ngModel)]="depositsAmount" (blur)="updatingEstimate()" type="number">
            </div>
          </div>

          <div class="indi-category">
            <span>Total Amount Due</span>
            <div class="non-editable">
              <span>$</span>
              <span>{{totalamountdue | number: '1.2-2'}}</span>
            </div>
          </div>

      </div>
    </div>
    
  </div>
</div>

<!-- alert modal -->
<div class="confirm-modal-wrapper" *ngIf="showConvertConfirmModal" ></div>
<div [ngClass]="{'confirm-modal': showConvertConfirmModal, 'confirm-modal-hide': !showConvertConfirmModal }">
  <div class="header">
    <span>Alert</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="showConvertConfirmModal=false" />
  </div>
  <div class="content" >
    <div class="confirm-que">
      <span >Do you want to convert current estimate to invoice?</span>
    </div>
    <div class="center-btn-section" >
      <button class="done-btn" (click)="confirmConvert()" >
        Yes
      </button>
      <button class="cancel-btn" (click)="showConvertConfirmModal=false" >
        No
      </button>
    </div>
  </div>
</div>  

<div>
  <app-alertmodal [(modalContent)]="alertModalContent"></app-alertmodal>
</div>
