<div class="btn-add-workorder" (click)="openAddWorkorderModal()">Add Work Order</div>

<!-- ADD WORK ORDER MODAL VIEW -->

<div *ngIf="!addWorkorderModalCollapsed" class="add-workorder-modal-wrapper"></div>
<div class="add-workorder-modal"  [ngClass]="{'show-modal': !addWorkorderModalCollapsed, 'hide-modal': addWorkorderModalCollapsed }">
  <div class="header">
    <span>ADDING WORK ORDER</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="addWorkorderModalCollapsed=true;" />
  </div>

  <div class="content" >
    <tabs (currentTabChange)="tabChange($event)" >
      <tab tabTitle="DETAILS" [(active)]="tabActiveFirst">
        <div class="tab-one">
          <div class="name-col tab-row">
            <div>
              <span>Customer Name (*required)</span>
              <ng2-completer
                [dataService]="customerList" 
                (selected)="onSelectCustomer($event)" 
                [ngClass]="{'validation-required-name': invalidCustomerName}" 
                [(ngModel)]="selectName"
                [minSearchLength]="0"
                *ngIf="contactsList">
              </ng2-completer>
            </div>
            <div class="workorder-project">
              <span>Project</span>
              <select [(ngModel)]="workorderDetails.selectedProject" (ngModelChange)="onSelectProject($event)">
                <option *ngFor="let project of openProjects" [value]="project.id">
                  {{project.projectName}}
                </option>
              </select>
            </div>
          </div>

          <div class="ordername-ordernumber tab-row">
            <div>
              <span>Work Order Name</span>
              <div>
                <input [(ngModel)]="workorderDetails.workorderName">
              </div>
            </div>

            <div>
              <span>Work Order Number</span>
              <div class="work-order-number">
                <!-- <input [(ngModel)]="workorderDetails.workorderNumber" invalid> -->
                <span>{{workorderDetails.workorderNumber}}</span>
              </div>
            </div>
          </div>

          <div class="select-date tab-row">
            <div class="start-sec">
              <div>
                <span>Start Date</span>
                <div class="start-date" [ngClass]="{'validation-required': invalidStartDate}">
                  <div class="formated-date" [owlDateTimeTrigger]="startDate">
                    <span >{{formattedStartDate}}</span>
                    <img src="assets/images/calendar-plain.png">
                  </div>
                  <input 
                    [owlDateTimeTrigger]="startDate" 
                    [owlDateTime]="startDate" 
                    placeholder="Choose a start date" 
                    (dateTimeChange)="selectStartDate($event)" 
                    [(ngModel)]="workorderDetails.startDate">
                  <owl-date-time [pickerType]="'calendar'" #startDate></owl-date-time>
                </div>
              </div>
              <div >
                <span>Start Time</span>
                <div class="start-time" [owlDateTimeTrigger]="startTime" [ngClass]="{'validation-required': invalidStartTime}">
                  <input [(ngModel)]="workorderDetails.startTime" [owlDateTime]="startTime"> 
                  <img src="assets/images/time.png">
                  <input 
                    [owlDateTimeTrigger]="startTime"
                    [(ngModel)]="workorderDetails.startTime"
                    class="timer-modal">
                  <owl-date-time [pickerType]="'timer'" #startTime></owl-date-time>
                </div>
              </div>
            </div>
            <div class="end-sec">
              <div>
                <div class="desc">
                  <span>End Date</span>
                  <div class="same-as">
                    <img src="assets/images/switch.png" *ngIf="switchIconDate" (click)="clickIconDate()">
                    <img src="assets/images/switch-off.png" *ngIf="!switchIconDate" (click)="clickIconDate()">
                    <span>Same as start date</span>
                  </div>
                </div>
                <div class="start-date" [ngClass]="{'validation-required': invalidEndDate}">
                  <div class="formated-date" [owlDateTimeTrigger]="endDate">
                    <span >{{formattedEndDate}}</span>
                    <img src="assets/images/calendar-plain.png">
                  </div>
                  <input 
                    [owlDateTimeTrigger]="endDate" 
                    [owlDateTime]="endDate" 
                    (dateTimeChange)="selectEndDate($event)" 
                    [(ngModel)]="workorderDetails.endDate" 
                    [min]="workorderDetails.startDate">
                  <owl-date-time [pickerType]="'calendar'" #endDate></owl-date-time>
                </div>
              </div>
              <div >
                <span>End Time</span>
                <div class="start-time" [owlDateTimeTrigger]="endTime" [ngClass]="{'validation-required': invalidEndTime}">
                  <input [(ngModel)]="workorderDetails.endTime" [owlDateTime]="endTime">
                  <img src="assets/images/time.png">
                  <input 
                    [owlDateTimeTrigger]="endTime"
                    [(ngModel)]="workorderDetails.endTime"
                    class="timer-modal">
                  <owl-date-time [pickerType]="'timer'" #endTime></owl-date-time>
                </div>
              </div>
            </div>
          </div>

          <div class="description tab-row">
            <span>Description</span>
            <textarea [(ngModel)]="workorderDetails.description" placeholder="Enter a description of the task here"></textarea>
          </div>

          <div class="dependency-followers tab-row">
            <div class="workorder-project">
              <span>Dependencies</span>
              <select [(ngModel)]="workorderDetails.dependency">
                <option *ngFor="let dependency of openDependencies" [value]="dependency">
                  {{usersProjects[dependency].projectName}}
                </option>
              </select>
            </div>
            <div class="collaborators">
              <span>Followers</span>
              <div>
                <div class="followers"  (click)="editable=true;$event.stopPropagation()" *ngIf="workorderDetails.followers"> 
                  <div class="follower" *ngFor="let user of workorderDetails.followers; let i = index" >
                    <a [title]='user.name' ><img [src]='user.imageUrl'  (click)="editable=true;$event.stopPropagation()"/></a>
                  </div> 
                  <div class="edit-followers" *ngIf="editable" (click)="editable=true;$event.stopPropagation()" >
                    <ul>
                      <li *ngFor="let user of workorderDetails.followers; let i = index">{{user.name}}<span (click)="removeUser(i)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
                      <li style="background: none; width: 100%; margin: 0;">
                        <ng-select *ngIf="isAutocompleteUpdated" [items]="items2"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelectFollowers($event)" >
                        </ng-select>
                        <ng-select *ngIf="!isAutocompleteUpdated" [items]="items2"
                          bindLabel="config2.sourceField"
                          [clearSearchOnAdd]="false"
                          (add)="onSelectFollowers($event)">
                        </ng-select>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="milestone-log tab-row">
            <div class="milestone">
              <span>Milestone</span>
              <select [(ngModel)]="workorderDetails.milestone">
                <option *ngFor="let milestone of openMilestones" [value]="milestone">
                  {{milestone}}
                </option>
              </select>
            </div>
            <div class="change-log">
              <span>Change Log</span>
              <select [(ngModel)]="workorderDetails.changeLog">
                <option *ngFor="let changeLog of openChangeLogs" [value]="changeLog">
                  {{changeLog}}
                </option>
              </select>
            </div>
          </div>
          <div class="btn-section" >
            <button class="cancel-btn" (click)="clickBack('tab-one')"  >
              Cancel
            </button>
            <button class="save-btn" (click)="clickNext('tab-one')"  >
              Next
            </button>
          </div>
        </div>
      </tab>
      <tab tabTitle="SCHEDULER" class="tab-won" [(active)]="tabActiveSecond">
        <div class="tab-two">
          <app-availability *ngIf="visibleAvail" 
            [startDate]="workorderDetails.startDate" 
            [startTime]="workorderDetails.startTime" 
            [endDate]="workorderDetails.endDate" 
            [endTime]="workorderDetails.endTime" 
            (resouceSelected)="getAvailability($event)">
          </app-availability>
          <div class="btn-section" >
            <button class="cancel-btn" (click)="clickBack('tab-two')"  >
              Back
            </button>
            <button class="save-btn" (click)="clickNext('tab-two')" >
              Next
            </button>
          </div>
        </div>
      </tab>
      <tab tabTitle="CHECKLIST" class="tab-won" [(active)]="tabActiveThird">
        <div class="tab-three">
          <div class="tab-three-main-content">
            <div class="checklist-sec">
              <div class="top-sec">
                <span class="top-title">CHECKLIST</span>
                <div class="add-task">
                  <input placeholder="Type checklist here..." (keyup.enter)="addTicket()" [(ngModel)]="newTaskDescription">
                  <img src="assets/images/warning.svg" (click)="topPriorityModal=true; $event.stopPropagation(); topDependencyModal=false; topTimeEstimationModal=false;">
                  <img src="assets/images/link.png" (click)="topDependencyModal=true; $event.stopPropagation(); topTimeEstimationModal=false; topPriorityModal=false;">
                  <img src="assets/images/time.png" (click)="topTimeEstimationModal=true; $event.stopPropagation(); topDependencyModal=false; topPriorityModal=false;">
                  <!-- Start Small Dialog when clicking images to add time -->
                  <div 
                      class="time-estimation-modal"  
                      [ngClass]="{'show-modal': topTimeEstimationModal, 'hide-modal': !topTimeEstimationModal }"
                      (clickOutside)="topTimeEstimationModal=false">
                    <div class="mdl-content">
                      <input placeholder="00" type="number" maxlength="2" [(ngModel)]="newProduct.estimateHour" [value]="newProduct.estimateHour" (keyup.enter)="topTimeEstimationModal=false">
                      <span>:</span>
                      <input placeholder="00" type="number" maxlength="2" [(ngModel)]="newProduct.estimateMin" [value]="newProduct.estimateMin" (keyup.enter)="topTimeEstimationModal=false">
                    </div>
                  </div>
                  <!--End Add time -->
                  <!-- Start Small Dialog when clicking images to add dependency -->
                
                  <div 
                    class="dependency-modal"
                    [ngClass]="{'show-modal': topDependencyModal, 'hide-modal': !topDependencyModal }"
                    (clickOutside)="topDependencyModal=false">
                    <div class="dependency-mdl-content">
                      <!-- <select [(ngModel)]="selectedDependency" (ngModelChange)="newProduct.dependency=selectedDependency" >
                        <option [value]="'default'">Select Dependency</option>
                        <option *ngFor="let task of taskTicketInfo;" [value]="task.id">{{task.description}}</option>
                      </select> -->
                      <div *ngFor="let task of taskTicketInfo; let i = index" (click)="newDependencySelect(task, i)" class="dependency-description">
                        {{task.description}}
                      </div>
                    </div>
                  </div>
                  <!--End Add Dependency -->
                  <!-- Start Small Dialog when clicking images to add Priority -->
                
                  <div 
                    class="priority-modal"  
                    [ngClass]="{'show-modal': topPriorityModal, 'hide-modal': !topPriorityModal }"
                    (clickOutside)="topPriorityModal=false">
                    <div class="priority-mdl-content">
                      <!-- <select [(ngModel)]="selectedPriority" (ngModelChange)="newProduct.priority=selectedPriority" >
                        <option [value]="'default'">Select Priority</option>
                        <option [value]="'level1'">Level 1</option>
                        <option [value]="'level2'">Level 2</option>
                        <option [value]="'level3'">Level 3</option>
                      </select> -->
                      <div *ngFor="let priority of priorityList; let i = index" (click)="newPrioritySelect(priority, i)" class="priority-description">
                        {{priority}}
                      </div>
                    </div>
                  </div>
                <!--End Add Priority -->
                </div>
              </div>
              <div class="not-started-content">
                <div [dragula]="'dragItem'" class="draggable-column" [dragulaModel]='taskTicketInfo'>
                  <div *ngFor="let task of taskTicketInfo; let i = index;">
                    <div class="draggable" [ngClass]="getColor(task)" *ngIf="task.visibility" (dblclick)="changeVisibility(task, i)">
                      <span>{{task.description}}</span>
                      <span class="estimated">
                        <span>Estimated</span>
                        <span *ngIf="task.estimateHour">{{task.estimateHour}} hr</span>
                        <span *ngIf="task.estimateMin">{{task.estimateMin}} min</span>
                      </span>
                      <img src="assets/images/x-sign-red.png" class="delete-ticket" (click)="deleteTicket(task)">
                    </div>
                    <div class="edit-form draggable" *ngIf="!task.visibility" (clickOutside)="onClickedOutside(i, task)">
                      <div>
                        <input placeholder="Type your task here" [(ngModel)]="task.description" [value]="task.description" (keyup.enter)="onClickedOutside(i, task)">
                        <span class="create-date">{{task.createdDate}}</span>
                      </div>
                      <div>
                        <img src="assets/images/warning.svg" (click)="openPriorityModal(i, task); $event.stopPropagation();">
                        <img src="assets/images/link.png" (click)="openDependencyModal(i, task); $event.stopPropagation();">
                        <img src="assets/images/time.png" (click)="openTimeEstimationModal(i, task); $event.stopPropagation();">
                        <!-- Start Small Dialog when clicking images to add time -->
                        <div 
                          class="time-estimation-modal"  
                          [ngClass]="{'show-modal': timeEstimationModalCollapsed[i], 'hide-modal': !timeEstimationModalCollapsed[i] }"
                          (clickOutside)="closeTimeEstimationModal(i)">
                          <div class="mdl-content">
                            <input placeholder="00" type="number" maxlength="2" [(ngModel)]="task.estimateHour" [value]="task.estimateHour">
                            <span>:</span>
                            <input placeholder="00" type="number" maxlength="2" [(ngModel)]="task.estimateMin" [value]="task.estimateMin">
                          </div>
                        </div>
                        <!--End Add time -->
                        <!-- Start Small Dialog when clicking images to add dependency -->
                        
                        <div 
                          class="dependency-modal"
                          [ngClass]="{'show-modal': dependencyModalCollapsed[i], 'hide-modal': !dependencyModalCollapsed[i] }"
                          (clickOutside)="closeDependencyModal(i)">
                          <div class="dependency-mdl-content">
                            <select [(ngModel)]="selectedDependency" (ngModelChange)="onDependencySelect($event, task)" >
                              <option [value]="'default'">Select Dependency</option>
                              <option *ngFor="let task of taskTicketInfo;" [value]="task.id">{{task.description}}</option>
                            </select>
                          </div>
                        </div>
                        <!--End Add Dependency -->
                        <!-- Start Small Dialog when clicking images to add Priority -->
                        
                        <div 
                          class="priority-modal"  
                          [ngClass]="{'show-modal': priorityModalCollapsed[i], 'hide-modal': !priorityModalCollapsed[i] }"
                          (clickOutside)="closePriorityModal(i)">
                          <div class="priority-mdl-content">
                            <select [(ngModel)]="selectedPriority" (ngModelChange)="onPrioritySelect($event, task)" >
                              <option [value]="'default'">Select Priority</option>
                              <option [value]="'level1'">Level 1</option>
                              <option [value]="'level2'">Level 2</option>
                              <option [value]="'level3'">Level 3</option>
                            </select>
                          </div>
                        </div>
                        <!--End Add Priority -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Delivery-sec">
              <div class="top-sec">
                <span class="top-title">PRODUCT DELIVERY</span>
                <div class="add-task">
                  <input placeholder="Search product delivery options for Work Order..." [(ngModel)]="queryString" (ngModelChange)="showAvailModal=true;">
                </div>
                <div class="available-product-list-modal" *ngIf="showAvailModal;" (clickOutside)="showAvailModal=false; $event.stopPropagation();">
                  <div *ngFor="let product of deliveryProducts | SearchPipe: queryString : searchableList; let i = index;" class="products-list" (click)="addToAddedList(product)">
                    <span class="description-in-modal">{{product.description}}</span> (<span class="product-number">{{product.productNumber}}</span>)
                  </div>
                </div>
              </div>
              <div class="delivery-products">
                <div [dragula]="'dragProduct'" class="draggable-column" [dragulaModel]='addedDeliveryProducts'>
                  <div *ngFor="let product of addedDeliveryProducts; let i = index;">  
                    <div class="draggable deliver-product green">
                      <div class="product-description">
                        <span>{{product.description}}</span>
                        <span>{{product.productNumber}}</span>
                      </div>
                      <div class="avail-quantity">
                        <div class="available">
                          <span>Available</span>
                          <span>{{product.available}}</span>
                        </div>
                        <div class="quantity">
                          <span>Quantity</span>
                          <input [(ngModel)]="product.quantity" (input)="checkAvailability(product.available, product.quantity, i)" [ngClass]="{'validation-required': invalidQuantity}" >
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Confirm Delete Alert Box -->
          <div class="confirm-delete-modal-wrapper" *ngIf="showDeleteConfirmModal" ></div>
          <div [ngClass]="{'confirm-modal': showDeleteConfirmModal, 'confirm-modal-hide': !showDeleteConfirmModal }">
            <div class="header">
              <span>Confirm Delete</span>
              <img class="close-btn" src="assets/images/x-sign-red.png" (click)="showDeleteConfirmModal=false" />
            </div>
            <div class="content" >
              <div class="confirm-que">
                Do you really want to delete?
              </div>
              <div class="center-btn-section" >
                <button class="cancel-btn" (click)="showDeleteConfirmModal=false" >
                  Cancel
                </button>
                <button class="confirm-btn" (click)="confirmDelete();" >
                  Confirm
                </button>
              </div>
            </div>
          </div> 
          
          <div class="btn-section" >
            <button class="cancel-btn" (click)="clickBack('tab-three')"  >
              Back
            </button>
            <button class="save-btn" (click)="finishAddWorkorder()"  >
              Finished
            </button>
          </div>
        </div>
      </tab>
      
    </tabs>
  </div>

  
</div>