<div class="project-information" *ngIf="projectInfo">
  <div class="info-left">
    <span class="info-title">PROJECT INFORMATION</span>
    <div class="customer-project-name">
      <div class="customer-name">
        <span class="title">Customter Name</span>
        <div class="content-info">{{projectInfo.contactName}}</div>
      </div>
      <div class="project-name">
        <span class="title">Project</span>
        <div class="content-info">{{projectInfo.id}}</div>
      </div>
    </div>
    <div class="shipping-address">
      <span class="title">Shipping Address</span>
      <div class="street content-info">{{projectInfo.shippingAddress.address}}</div>
      <div class="city-state">
        <div class="content-info">{{projectInfo.shippingAddress.city}}</div>
        <div class="content-info">{{projectInfo.shippingAddress.province}}</div>
      </div>
      <div class="country-zipcode">
        <div class="content-info">{{projectInfo.shippingAddress.country}}</div>
        <div class="content-info">{{projectInfo.shippingAddress.postalCode}}</div>
      </div>
    </div>
    <div class="billing-address">
      <span class="title">Billing Address</span>
      <div class="street content-info">{{projectInfo.billingAddress.address}}</div>
      <div class="city-state">
        <div class="content-info">{{projectInfo.billingAddress.city}}</div>
        <div class="content-info">{{projectInfo.billingAddress.province}}</div>
      </div>
      <div class="country-zipcode">
        <div class="content-info">{{projectInfo.billingAddress.country}}</div>
        <div class="content-info">{{projectInfo.billingAddress.postalCode}}</div>
      </div>
    </div>
  </div>
  <div class="info-right">
    <div>
      <span class="title">Project #</span>
      <div class="content-info">{{projectInfo.id}}</div>
    </div>

    <div>
      <span class="title">Proposal #</span>
      <div class="content-info">{{projectInfo.proposalId}}</div>
    </div>

    <div>
      <span class="title">Start Date</span>
      <div class="start-date content-info" [ngClass]="{'validation-required': invalidStartDate}">
        <div class="formated-date" [owlDateTimeTrigger]="startDate">
          <span >{{formattedStart}}</span>
          <img src="assets/images/calendar-plain.png">
        </div>
        <input 
          [owlDateTimeTrigger]="startDate" 
          [owlDateTime]="startDate" 
          placeholder="Choose a start date" 
          (dateTimeChange)="selectStartDate($event)" 
          [(ngModel)]="projectInfo.startDate"
          [max]="startMax">
        <owl-date-time [pickerType]="'calendar'" #startDate></owl-date-time>
      </div>
    </div>

    <div>
      <span class="title">End Date</span>
      <div class="start-date content-info" [ngClass]="{'validation-required': invalidEndDate}">
        <div class="formated-date" [owlDateTimeTrigger]="endDate">
          <span >{{formattedEnd}}</span>
          <img src="assets/images/calendar-plain.png">
        </div>
        <input 
          [owlDateTimeTrigger]="endDate" 
          [owlDateTime]="endDate" 
          placeholder="Choose a end date" 
          (dateTimeChange)="selectEndDate($event)" 
          [(ngModel)]="projectInfo.endDate"
          [min]="endMin" >
        <owl-date-time [pickerType]="'calendar'" #endDate></owl-date-time>
      </div>
    </div>

    <div class="project-manager">
      <span class="title">Project Manager</span>
      <div class="content-info">
        <div class="followers"  (click)="editablePm=true;$event.stopPropagation()" *ngIf="projectManagerData" (clickOutside)="closePmEditableModal()"> 
          
            <a [title]='projectManagerData.username' ><img [src]='projectManagerData.pictureURI'  (click)="editablePm=true;$event.stopPropagation()"/></a>
          <div class="edit-followers" *ngIf="editablePm" (click)="editablePm=true; editableAm=false; $event.stopPropagation()" >
            <ul>
              
              <li style="background: none; width: 100%; margin: 0;">
                <!-- <input autocomplete [config]="config2" [items]="items2"
                  (inputChangedEvent)="onInputChangedEvent($event)"
                  (selectEvent)="onSelectProjectManager($event)"> -->
                <ng-select *ngIf="isAutocompleteUpdated2" [items]="items3"
                  bindLabel="config3.sourceField"
                  [clearSearchOnAdd]="false"
                  (add)="onSelectProjectManager($event)" >
                </ng-select>
                <ng-select *ngIf="!isAutocompleteUpdated2" [items]="items3"
                  bindLabel="config3.sourceField"
                  [clearSearchOnAdd]="false"
                  (add)="onSelectProjectManager($event)">
                </ng-select>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="account-manager">
      <span class="title">Account Manager</span>
      <div *ngIf="accountManagerData" class="content-info" [ngClass]="{invalidAm: projectInfo.projectManager.length === 0}">
        <div class="followers"  (click)="editableAm=true;$event.stopPropagation()" *ngIf="projectInformation.accountManager" (clickOutside)="closeAmEditableModal()"> 
          <div class="follower" >
            <a [title]='accountManagerData.firstName + " " + accountManagerData.lastName'>
              <img [src]='accountManagerData.pictureURI'  (click)="editableAm=true; $event.stopPropagation(); editablePm=false"/>
            </a>
          </div> 
          <div class="edit-followers" *ngIf="editableAm" (click)="editableAm=true; editablePm=false; $event.stopPropagation()" >
            <ul>
              <li style="background: none; width: 100%; margin: 0;">
                <!-- <input autocomplete [config]="config2" [items]="items2"
                  (inputChangedEvent)="onInputChangedEvent($event)"
                  (selectEvent)="onSelectAccountManager($event)"> -->
                <ng-select *ngIf="isAutocompleteUpdated3" [items]="items3"
                  bindLabel="config3.sourceField"
                  [clearSearchOnAdd]="false"
                  (add)="onSelectAccountManager($event)" >
                </ng-select>
                <ng-select *ngIf="!isAutocompleteUpdated3" [items]="items3"
                  bindLabel="config3.sourceField"
                  [clearSearchOnAdd]="false"
                  (add)="onSelectAccountManager($event)">
                </ng-select>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="account-manager">
      <span class="title">Contact Association</span>
      <div class="content-info">
        <div class="followers"  (click)="editableCa=true;$event.stopPropagation()" (clickOutside)="closeCaEditableModal()"> 
          <div class="follower" *ngFor="let user of associationsData; let i = index" >
            <a [title]='user.name' ><img [src]='user.pictureURI'  (click)="editableCa=true;$event.stopPropagation()"/></a>
          </div> 
          <div class="edit-followers" *ngIf="editableCa" (click)="editableCa=true;$event.stopPropagation()" >
            <ul>
              <li *ngFor="let user of associationsData; let i = index">{{user.name}}<span (click)="removeContactAssociation(i)" class="closebtn">&nbsp;&nbsp;x</span></li><br/>
              <li style="background: none; width: 100%; margin: 0;">
                <!-- <input autocomplete [config]="config2" [items]="items2"
                  (inputChangedEvent)="onInputChangedEvent($event)"
                  (selectEvent)="onSelectAccountManager($event)"> -->
                <ng-select *ngIf="isAutocompleteUpdated4" [items]="items4"
                  bindLabel="config2.sourceField"
                  [clearSearchOnAdd]="false"
                  (add)="onSelectContactAssociation($event)" >
                </ng-select>
                <ng-select *ngIf="!isAutocompleteUpdated4" [items]="items4"
                  bindLabel="config2.sourceField"
                  [clearSearchOnAdd]="false"
                  (add)="onSelectContactAssociation($event)">
                </ng-select>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <span class="title">Contact Association</span>
      <div class="text-autocomp">
        <app-ng2completer 
          [itemsList]="associationList" 
          (selectedItem)="onSelectAssociation($event)" 
          class="contact-content-info"
          [searchStr]="selectAssociation">
        </app-ng2completer>
      </div>
    </div> -->

    <div>
      <span class="title">Contact Project Manager</span>
      <div class="text-autocomp">
        <ng2-completer 
          [datasource]="availContactsList" 
          (selected)="onSelectPmManager($event)" 
          class="contact-content-info"
          [(ngModel)]="selectPmManager"
          [minSearchLength]="0">
        </ng2-completer>
      </div>
    </div>

    <div>
      <span class="title">Contact Account Receivable</span>
      <div class="text-autocomp">
        <ng2-completer 
          [datasource]="availContactsList" 
          (selected)="onSelectAccountReceivable($event)" 
          class="contact-content-info"
          [(ngModel)]="selectAccountReceivable"
          [minSearchLength]="0">
        </ng2-completer>
      </div>
    </div>
  </div>
</div>
