<div class="main-content" [ngClass]="{'main-content-large': menuCollapsed, 'main-content-small': !menuCollapsed }" >
  <div class="charts-area">
    <div class="chart-row">
      <div class="card revenue-area-chart">
        <div class="card-header">
          <span>REVENUE</span>
          <select [(ngModel)]="revenueTime" (ngModelChange)="fetchRevenueData(revenueTime)">
            <option value="WEEKLY">This Week</option>
            <option value="MONTHLY">This Month</option>
            <option value="QUARTERLY">This Quarter</option>
            <option value="YEARLY">This Year</option>
          </select>
        </div>
        <div class="card-content" *ngIf="showAreaChart && revenueAreaChartInfo">
          <app-revenueareachart [revenueAreaChartInfo]="revenueAreaChartInfo" ></app-revenueareachart>
        </div>
      </div>

      <div class="card invoicing-card">
        <div class="card-header">
          <span>INVOICING</span>
        </div>
        <div class="card-content">
          <div class="card-content-left">
            <div>
              <span class="title">Number of Open Estimates</span>
              <span>{{invoicingInfo.openEstimate}}</span>
            </div>
            <div>
              <span class="title">Number of Open Invoices</span>
              <span>{{invoicingInfo.openInvoice}}</span>
            </div>
            <div>
              <span class="title">Number of Proposals</span>
              <span>{{invoicingInfo.proposalsTotal}}</span>
            </div>
          </div>
          <div class="card-content-right">
            <span class="due-tasks-title">Outstanding Invoices</span>
            <span style="color: #FF7E7E">{{invoicingInfo.outstandingInvoices}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="chart-row">
      <div class="multi-charts-left">
        <div class="card sales-conversion">
          <div class="card-header">
            <span>SALES</span>
          </div>
          <div class="card-content">
            <table *ngIf="salesInfo">
              <tr>
                <th>MEMBER</th>
                <th>PROPOSALS VALUE</th>
                <th>APPROVED VALUE</th>
                <th>TOTAL MARGIN</th>
              </tr>
              <tr *ngFor="let sale of salesInfo">
                <td>{{sale.username}}</td>
                <td>$ {{sale.total}}</td>
                <td>$ {{sale.approvedTotal}}</td>
                <td>{{sale.margin}} %</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="sales-proposal">
          <div class="card">
            <div class="card-header">
              <span>SALES PIPELINE PERCENTAGE</span>
              <select [(ngModel)]="donutTimePeriod" (ngModelChange)="fetchPipelineData(donutTimePeriod)">
                <option value="WEEKLY">This Week</option>
                <option value="MONTHLY">This Month</option>
                <option value="QUARTERLY">This Quarter</option>
                <option value="YEARLY">This Year</option>
              </select>
            </div>
            <div class="card-content">
              <div class="card-content-left" *ngIf="morrisDonutInfo && showDonutChart">
                <app-morrisdonut [morrisDonutInfo]="morrisDonutInfo" [morrisDonutColors]="morrisDonutColors"></app-morrisdonut>
              </div>
              <div class="card-centent-right">
                <div class="row" *ngFor="let person of morrisDonutInfo; let i = index">
                  <div class="square" [ngStyle]="{'background-color': morrisDonutColors[i]}"></div>
                  <span>{{person.label}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card invoicing-card">
            <div class="card-header">
              <span>PROPOSAL FORECASTING</span>
            </div>
            <div class="card-content">
              <div class="card-content-left">
                <div>
                  <span class="title">Number of New Proposals</span>
                  <span>{{proposalForecasting.newProposal}}</span>
                </div>
                <div>
                  <span class="title">Number of Proposal in Pipeline</span>
                  <span>{{proposalForecasting.proposalInPipe}}</span>
                </div>
                <div>
                  <span class="title">Average Approval Time</span>
                  <div class="approval-time">
                    <span>{{proposalForecasting.approvalTime}}</span> 
                    <span class="title">Days</span>
                  </div>
                  
                </div>
              </div>
              <div class="card-content-right">
                <span class="due-tasks-title">Closed This Month</span>
                <span>{{proposalForecasting.closed}}</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-activitiesbox [activitiesInfo]="activitiesInfo"></app-activitiesbox>
    </div>
  </div>
</div>