
<div class="logo">
  <img [src]='productInfo.pictureURI' alt = "Add Profile Image Here"/>
  <img src="assets/images/Cloud.png" class="img-settings" (click)="changeImage()"/>
</div>
<div class="product-info" *ngIf="productInfo">
  <span class="product-name">{{productInfo.name}}</span>
  <span>{{productInfo.brandName}}</span>
  <span>{{productInfo.model}}</span>
  <span class="title">Product Description</span>
  <textarea disabled>{{productInfo.description}}</textarea>
  <!-- <span class="title">Primary Price</span>
  <div class="price-value">
    <span>$</span>
    <span>price</span>
  </div> -->
  <span class="title">Unit of Measure</span>
  <div class="unit-measure" *ngIf="productInfo.unitOfMeasure">
    <div class="left-border-box">{{productInfo.unitOfMeasure.unit}}</div>
    <div class="border-box">{{productInfo.unitOfMeasure.quantity}}</div>
  </div>
  <span class="title">Product Tags</span>
  <div class="left-border-box keywords-list" *ngIf="keywordsList">
    <div *ngFor="let tag of productInfo.keywordIds" class="keyword">{{getTagName(tag)}}</div>
  </div>
  <span class="title">Product Status</span>
  <div class="status">
    <div class="left-border-box">{{productInfo.status}}</div>
  </div>
  <span class="title">Inventory Type</span>
  <div class="left-border-box">{{productInfo.inventoryType}}</div>
  <!-- <span class="title">Expiration</span>
  <div class="measure" *ngIf="productInfo.expiration">
    <div class="left-border-box">{{productInfo.expiration.unit}}</div>
    <div class="border-box">{{productInfo.expiration.duration}}</div>
  </div> -->
</div>



<!-- Image Edit Modal -->

<div class="edit-image-modal-wrapper" *ngIf="showEditImageModal" ></div>
<div [ngClass]="{'confirm-modal': showEditImageModal, 'confirm-modal-hide': !showEditImageModal }">
  <div class="header">
    <span>Change Image</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="cancelCrop();showEditImageModal=false" />
  </div>
  <div class="edit-modal-content">
    <input type="file" (change)="fileChangeEvent($event)" />
    <div class="image-content">
      <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1"
          [resizeToWidth]="300"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      
      <img [src]="croppedImage" />
    </div>
  </div>
  <div class="center-btn-section" >
    <button class="cancel-btn" (click)="cancelCrop()">
      Cancel
    </button>
    <button class="done-btn" (click)="saveCrop()">
      Confirm
    </button>
  </div>
</div>  