<div class="po-add-table content">
  <TABLE>
    <thead>
      <tr>
        <th class="sku" >SKU</th>
        <th>MODEL</th>
        <th>Name</th>
        <th>UPC</th>
        <th>QTY</th>
        <th>RECEIVED</th>
        <th>BRAND</th>
        <th>SUPPLIER</th>
        <th colspan="2" style="width: 200px" >DATE RECEIVED</th>
      </tr>
    </thead>
    <tbody class="ngx-dnd-container" ngxDroppable>

      <tr *ngFor="let productDetailInfo of originProductsInfo; index as i" class="ngx-dnd-item has-handle" ngxDraggable>
        <td class="sku">
          {{productDetailInfo.sku}}
        </td>
        <td class="model">
          {{productDetailInfo.model}}
        </td>
        <td class="name">
          {{productDetailInfo.name}}
        </td>
        <td class="upc">
          {{productDetailInfo.upc}}
        </td>
        <td class="quantity">
          <input class="quantity" type="text" placeholder="0" min="0" [(ngModel)]="productDetailInfo.quantityCopy" (keyup)="onChangeQuantity(i, $event)" />
        </td>
        <td class="received">
          <input class="received" type="text" placeholder="0" min="0" [(ngModel)]="productDetailInfo.recievedCopy" (keyup)="onChangeReceived(i,$event)" />
        </td>
        <td class="brand">
          <span>{{productDetailInfo.brand}}</span>
        </td>
        <td class="supplier">
          <span>{{productDetailInfo.supplier}}</span>
        </td>
        <td class="datecreated">
          <span>{{productDetailInfo.dateCreated}}</span>
        </td>
        <td class="delete-icon" align="center" >
          <img class="remove-btn" src="/assets/images/Trash Symbol.svg" (click)="clearProductChange(i)" />
        </td>
      </tr>
      <tr *ngIf="emptyRow" class="ngx-dnd-item has-handle emptyRow" ngxDraggable>
        <td class="sku">
          #sku
        </td>
        <td class="model">
          model
        </td>
        <td class="name">
          name
        </td>
        <td class="upc">
          upc
        </td>
        <td class="quantity">
          quantity
        </td>
        <td class="received">
          received
        </td>
        <td class="brand">
          brand
        </td>
        <td class="supplier">
          supplier
        </td>
        <td class="datecreated">
          Date Created
        </td>
        <td class="delete-icon" align="center" >
          <!-- <img class="remove-btn" src="/assets/images/Trash Symbol.svg" (click)="clearProductChange(i)" /> -->
        </td>
      </tr>
    </tbody>
  </TABLE>
</div>