<div class="content pm-progress" >
  <tabs (currentTabChange)="tabChange($event)">
    <tab tabTitle="Overview" [(active)]="tabActiveFirst">
      <h1>PM Progress Overview Content Here</h1>
    </tab>
    <tab tabTitle="Project Brief" [(active)]="tabActiveSecond">
      <h1>PM Progress Brief Content Here</h1>
    </tab>
    <tab tabTitle="Project Log" [(active)]="tabActiveThird">
      <h1>PM Progress Brief Content Here</h1>
    </tab>
    <tab tabTitle="Change Log" [(active)]="tabActiveFourth">
      <router-outlet></router-outlet>
    </tab>
  </tabs>
</div>