<div class="name editable">
  <input  class="supplier-name" (keyup.enter)="updateProfile()" contentEditable [(ngModel)]="userInfo.name" (blur)="updateProfile()" placeholder="Supplier name" [ngClass]="{'validation-required': invalidName}"/>
</div>
<div class="role editable">
  <input [(ngModel)]="userInfo.contactName" id="role" (keyup.enter)="updateProfile()" (blur)="updateProfile()" placeholder="Contact name" [ngClass]="{'validation-required': invalidContactName}">
</div>
<!-- <div class="logo">
  <img [src]='userInfo.profileLink' />
  <img src="assets/images/Cloud.png" class="img-settings" (click)="changeImage()"/>
</div> -->
<span class="alert-email" *ngIf="invalidEmail">Wrong Email Format</span>
<div class="email editable">
  <img src="assets/images/envelope.png" />
  <div class="mails-sec">
    <div>
      <input [(ngModel)]="userInfo.contactEmail" id="email" (keyup.enter)="updateProfile()" (blur)="updateProfile()" [ngClass]="{'validation-required': invalidEmail}" placeholder="Contact Email">
      <span>  (Contact)</span>
    </div>
    <div>
      <input [(ngModel)]="userInfo.accountPayableEmail" id="payableEmail" (keyup.enter)="updateProfile()" (blur)="updateProfile()" [ngClass]="{'validation-required': invalidPayableEmail}" placeholder="Payable Email">
      <span>  (Payable)</span>
    </div>
  </div>
  
</div>
<div class="phone editable">
  <img src="assets/images/ringing.png" />
  <div class="phones-sec">
    <div>
      <input [(ngModel)]="userInfo.phoneNumber" id="phoneNumber" (keyup.enter)="updateProfile()" (blur)="updateProfile()" [ngClass]="{'validation-required': invalidPhoneNumber}" placeholder="XXX-XXX-XXXX">
      <span>  (Supplier)</span>
    </div>
    <div>
      <input [(ngModel)]="userInfo.contactPhoneNumber" id="phoneNumber" (keyup.enter)="updateProfile()" (blur)="updateProfile()" [ngClass]="{'validation-required': invalidPayablePhone}" placeholder="XXX-XXX-XXXX">
      <span>  (Contact)</span>
    </div>
  </div>

</div>

<h5>Shipping</h5>
<div class="shipping editable">
  <img src="assets/images/placeholder.png" />
  <!-- <textarea value="{{userInfo.shippingAddress}}" id="shippingAddress" (keyup.enter)="updateProfile()" (blur)="updateProfile()" ></textarea> -->
  <div class="shipping-address-container">
    <input 
      class="address" 
      [(ngModel)]="userInfo.shippingAddress.address" 
      (keyup.enter)="updateProfile()" 
      (blur)="updateProfile()"
      placeholder="Address"
      id="address"
      [ngClass]="{'validation-required': invalidShippingAddress}">
    <div class="city-state-country">
      <input 
        class="city" 
        [(ngModel)]="userInfo.shippingAddress.city" 
        (keyup.enter)="updateProfile()" 
        (blur)="updateProfile()"
        placeholder="City"
        id="city"
        [ngClass]="{'validation-required': invalidShippingCity}">
      <ng2-completer 
        [(ngModel)]="shippingProvince" 
        [ngClass]="{'validation-required': invalidShippingProvince}" 
        [datasource]="provincesSource" 
        [minSearchLength]="0" 
        (keyup.enter)="onEnter()" 
        (selected)="onSelectShippingProvince($event)"
        [placeholder]="'Select Province'">
      </ng2-completer>
      <ng2-completer 
        [(ngModel)]="shippingCountry" 
        [ngClass]="{'validation-required': invalidShippingCountry}" 
        [datasource]="countriesSource" 
        [minSearchLength]="0" 
        (keyup.enter)="onEnter()" 
        (selected)="onSelectShippingCountry($event)"
        [placeholder]="'Select Country'">
      </ng2-completer>
    </div>
    <input 
      class="postal-code" 
      [(ngModel)]="userInfo.shippingAddress.postalCode" 
      (keyup.enter)="updateProfile()" 
      (blur)="updateProfile()"
      placeholder="Postal Code"
      id="postalCode"
      [ngClass]="{'validation-required': invalidShippingPostalCode}">
  </div>
</div>

<h5>Billing Address</h5>
<div class="billing-address editable">
  <img src="assets/images/placeholder.png" />
  <!-- <textarea value="{{userInfo.billingAddress}}" id="billingAddress" (keyup.enter)="updateProfile()" (blur)="updateProfile()" ></textarea> -->
  <div class="shipping-address-container">
    <input 
      class="address" 
      [(ngModel)]="userInfo.billingAddress.address" 
      (keyup.enter)="updateProfile()" 
      (blur)="updateProfile()"
      placeholder="Address"
      id="address"
      [ngClass]="{'validation-required': invalidBillingAddress}">
    <div class="city-state-country">
      <input 
        class="city" 
        [(ngModel)]="userInfo.billingAddress.city" 
        (keyup.enter)="updateProfile()" 
        (blur)="updateProfile()"
        placeholder="City"
        id="city"
        [ngClass]="{'validation-required': invalidBillingCity}">
      <ng2-completer 
        [(ngModel)]="billingProvince" 
        [ngClass]="{'validation-required': invalidBillingProvince}" 
        [datasource]="provincesBillingSource" 
        [minSearchLength]="0" 
        (keyup.enter)="onEnter()" 
        (selected)="onSelectBillingProvince($event)"
        [placeholder]="'Select Province'">
      </ng2-completer>
      <ng2-completer 
        [(ngModel)]="billingCountry" 
        [ngClass]="{'validation-required': invalidBillingCountry}" 
        [datasource]="countriesSource" 
        [minSearchLength]="0" 
        (keyup.enter)="onEnter()" 
        (selected)="onSelectBillingCountry($event)"
        [placeholder]="'Select Country'">
      </ng2-completer>
    </div>
    <input 
      class="postal-code" 
      [(ngModel)]="userInfo.billingAddress.postalCode" 
      (keyup.enter)="updateProfile()" 
      (blur)="updateProfile()"
      placeholder="Postal Code"
      id="postalCode"
      [ngClass]="{'validation-required': invalidBillingPostalCode}">
  </div>
</div>

<h4>Supplier tags</h4>
<div class="keywords" *ngIf="userInfo">
  <app-multikeywordselect [keywords]="userInfo.keywordIds" (sendKeywords)="getKeywords($event)"></app-multikeywordselect>
</div>

<h4>Supplier Notes</h4>
<div class="customer-notes">
    <textarea [(ngModel)]="userInfo.note" id="customerNotes" (blur)="updateProfile()"></textarea>
</div>

<!-- Confirm Alert Box -->
<!-- <div class="confirm-modal-wrapper" *ngIf="showModal" ></div>
<div [ngClass]="{'confirm-modal': showModal, 'confirm-modal-hide': !showModal }">
  <div class="header">
    <span>Confirm</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="cancelChange();showModal=false" />
  </div>
  <div class="content" >
    <div class="confirm-que">
      Do you really want to change?
    </div>
    <div class="center-btn-section" >
      <button class="done-btn" (click)="confirmChange();showModal=false" >
        Confirm
      </button>
      <button class="cancel-btn" (click)="cancelChange();showModal=false" >
        Cancel
      </button>
    </div>
  </div>
</div>   -->


<!-- Image Edit Modal -->

<div class="edit-image-modal-wrapper" *ngIf="showEditImageModal" ></div>
<div [ngClass]="{'confirm-modal': showEditImageModal, 'confirm-modal-hide': !showEditImageModal }">
  <div class="header">
    <span>Change Image</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="cancelCrop();showEditImageModal=false" />
  </div>
  <div class="edit-modal-content">
    <input type="file" (change)="fileChangeEvent($event)" />
    <div class="image-content">
      <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1"
          [resizeToWidth]="300"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      
      <img [src]="croppedImage" />
    </div>
  </div>
  <div class="center-btn-section" >
    <button class="cancel-btn" (click)="cancelCrop()">
      Cancel
    </button>
    <button class="done-btn" (click)="saveCrop()">
      Confirm
    </button>
  </div>
</div>  