<div class="name editable">
  <div  class="supplier-name" (keyup.enter)="showConfirmModal($event)" contentEditable >{{userInfo.name}}</div>
</div>
<div class="role editable">
  <input [(ngModel)]="userInfo.contactName" id="role" (keyup.enter)="showConfirmModal($event)" >
</div>
<!-- <div class="logo">
  <img [src]='userInfo.profileLink' />
  <img src="assets/images/Cloud.png" class="img-settings" (click)="changeImage()"/>
</div> -->
<div class="email editable">
  <img src="assets/images/envelope.png" />
  <textarea value="{{userInfo.email}}" id="email" (keyup.enter)="showConfirmModal($event)" (blur)="showConfirmModal($event)"></textarea>
</div>
<div class="phone editable">
  <img src="assets/images/ringing.png" />
  <div>
    <span>
      <input value="{{userInfo.primaryphone}}" id="primaryphone" (keyup.enter)="showConfirmModal($event)" (blur)="showConfirmModal($event)" >
    </span>
  </div>
  <!-- <span>{{formatPhoneNumber(userInfo.primaryphone)}}&nbsp;(Primary Contact)<br/>{{formatPhoneNumber(userInfo.mobilephone)}}&nbsp;(Mobile)</span> -->
</div>

<h5>Shipping</h5>
<div class="shipping editable">
  <img src="assets/images/placeholder.png" />
  <textarea value="{{userInfo.shippingaddress}}" id="shippingaddress" (keyup.enter)="showConfirmModal($event)" (blur)="showConfirmModal($event)" ></textarea>
</div>

<h5>Billing Address</h5>
<div class="billing-address editable">
  <img src="assets/images/placeholder.png" />
  <textarea value="{{userInfo.billingaddress}}" id="billingaddress" (keyup.enter)="showConfirmModal($event)" (blur)="showConfirmModal($event)" ></textarea>
</div>

<h4>Supplier tags</h4>
<div class="keywords">
  <app-multikeywordselect [keywords]="userInfo.keywords" (sendKeywords)="getKeywords($event)"></app-multikeywordselect>
</div>

<h4>Supplier Notes</h4>
<div class="customer-notes">
    <textarea></textarea>
</div>

<!-- Confirm Alert Box -->
<div class="confirm-modal-wrapper" *ngIf="showModal" ></div>
<div [ngClass]="{'confirm-modal': showModal, 'confirm-modal-hide': !showModal }">
  <div class="header">
    <span>Confirm</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="cancelChange();showModal=false" />
  </div>
  <div class="content" >
    <div class="confirm-que">
      Do you really want to change?
    </div>
    <div class="center-btn-section" >
      <button class="done-btn" (click)="confirmChange();showModal=false" >
        Confirm
      </button>
      <button class="cancel-btn" (click)="cancelChange();showModal=false" >
        Cancel
      </button>
    </div>
  </div>
</div>  


<!-- Image Edit Modal -->

<div class="edit-image-modal-wrapper" *ngIf="showEditImageModal" ></div>
<div [ngClass]="{'confirm-modal': showEditImageModal, 'confirm-modal-hide': !showEditImageModal }">
  <div class="header">
    <span>Change Image</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="cancelCrop();showEditImageModal=false" />
  </div>
  <div class="edit-modal-content">
    <input type="file" (change)="fileChangeEvent($event)" />
    <div class="image-content">
      <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1"
          [resizeToWidth]="300"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      
      <img [src]="croppedImage" />
    </div>
  </div>
  <div class="center-btn-section" >
    <button class="cancel-btn" (click)="cancelCrop()">
      Cancel
    </button>
    <button class="done-btn" (click)="saveCrop()">
      Confirm
    </button>
  </div>
</div>  