<div class="work-order-settings" [ngClass]="{'work-order-settings-origin-collapsed': !settingsCollapsed}">
 <span (click)="settingsCollapsed = !settingsCollapsed">Settings</span>
 <div class="btn-section" >
   <button class="cancel-btn" >
     Cancel
   </button>
   <button class="save-btn">
     Save
   </button>
 </div>
</div>
<div class="work-order-settings-expanded" [ngClass]="{'work-order-settings-collapsed': settingsCollapsed}">
  <div class="settings-header">
    <span>WORK ORDER SETTINGS</span>
    <img src="assets/images/x-sign-red.png" (click)="settingsCollapsed = !settingsCollapsed">
  </div>
  <div class="settings-content">
    <div class="print-billable">
      <div class="settings-feature">
        <div class="print">
          <img src="assets/images/printer.png">
          <div class="settings-desc">
            <span>PRINT</span>
            <span>Print important documents such as the invoice, receipt, and pick lists</span>
          </div>
        </div>
      </div>
      <div class="settings-feature">
        <div class="charge">
          <img src="assets/images/buy.png">
          <div class="settings-desc">
            <span>CHARGE LATE FEES</span>
            <span>Charge flat fees or percentage of the invoice. Compounded monthly</span>
          </div>
        </div>
        <div class="switch">
          <div class="flex" >
            <select  >
              <option [ngValue]="'percent'" >%</option>
              <option [ngValue]="'dollar'" >$</option>
            </select>
            <input type="number" min="0.00" step="0.01" placeholder="0.00" >
          </div>
          <img src="assets/images/switch.png" *ngIf="chargeSwitchOn" (click)="chargeSwitchOn = !chargeSwitchOn">
          <img src="assets/images/switch-off.png" *ngIf="!chargeSwitchOn" (click)="chargeSwitchOn = !chargeSwitchOn">
        </div>
      </div>
    </div>

    <div class="reminder-update">
      <div class="settings-feature">
        <div class="reminder" (click)="showReminderModal=true">
          <img src="assets/images/alarm-clock.png">
          <div class="settings-desc">
            <span>SET REMINDER</span>
            <span>Set automated reminders to be sent to the customer. Set customizable intervals</span>
          </div>
        </div>
        <div class="switch">
          <img src="assets/images/switch.png" *ngIf="reminderSwitchOn" (click)="reminderSwitchOn = !reminderSwitchOn">
          <img src="assets/images/switch-off.png" *ngIf="!reminderSwitchOn" (click)="reminderSwitchOn = !reminderSwitchOn">
        </div>
      </div>
      <div class="settings-feature">
        <div class="request" (click)="showRecurringModal=true">
          <img src="assets/images/exchange.png">
          <div class="settings-desc">
            <span>CREATE RECURRING</span>
            <span>Automate this invoice to occure automatically with a customised interval</span>
          </div>
        </div>
        <div class="switch">
          <img src="assets/images/switch.png" *ngIf="recurringSwitchOn" (click)="recurringSwitchOn = !recurringSwitchOn">
          <img src="assets/images/switch-off.png" *ngIf="!recurringSwitchOn" (click)="recurringSwitchOn = !recurringSwitchOn">
        </div>
      </div>
    </div>

    <div class="print-billable">
      <div class="settings-feature">
        <div class="print">
          <img src="assets/images/credit-card.png">
          <div class="settings-desc">
            <span>ACCEPT CREDIT CARD ONLINE</span>
            <span>Let your customers pay online using our internal processing system</span>
          </div>
        </div>
        <div class="switch">
          <img src="assets/images/switch.png" *ngIf="creditSwitchOn" (click)="creditSwitchOn = !creditSwitchOn">
          <img src="assets/images/switch-off.png" *ngIf="!creditSwitchOn" (click)="creditSwitchOn = !creditSwitchOn">
        </div>
      </div>
      <div class="settings-feature">
        <div class="billable">
          <img src="assets/users/man.png">
          <div class="settings-desc">
            <span>SEND TO CUSTOMER</span>
            <span>Will send this invoice to all the email addresses associated</span>
          </div>
        </div>
        <div class="switch">
          <img src="assets/images/switch.png" *ngIf="switchOn" (click)="switchOn = !switchOn">
          <img src="assets/images/switch-off.png" *ngIf="!switchOn" (click)="switchOn = !switchOn">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reminder Modal -->

<div class="reminder-modal-wrapper" *ngIf="showReminderModal" ></div>
<div [ngClass]="{'reminder-modal': showReminderModal, 'reminder-modal-hide': !showReminderModal }">
  <div class="header">
    <span>SET REMINDER</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="showReminderModal=false" />
  </div>
  <div class="content" >
    <div class="reminder-content">
      <div><span class="desc">Set custom reminder to be sent to the customer</span></div>
      <div class="reminder-frequency">
        <span>Frequency</span>
        <select [(ngModel)]="frequency">
          <option value="Daily">Daily</option>
          <option value="Weekly">Weekly</option>
          <option value="Bi-Weekly">Bi-Weekly</option>
          <option value="Monthly">Monthly</option>
          <option value="Quarterly">Quarterly</option>
          <option value="Semi Yearly">Semi Yearly</option>
          <option value="Yearly">Yearly</option>
        </select>
      </div>
      <div class="reminder-frequency">
        <span>Maximum frequency</span>
        <input placeholder="0" type="number" [(ngModel)]="max-frequency">
      </div>
    </div>
    <div class="modal-btn-section" >
      <button class="cancel-btn" (click)="showReminderModal=false;" >
        Cancel
      </button>
      <button class="save-btn" (click)="showReminderModal=false;" >
        Save
      </button>
    </div>
  </div>
</div>

<!-- Recurring Modal -->

<div class="recurring-modal-wrapper" *ngIf="showRecurringModal" ></div>
<div [ngClass]="{'recurring-modal': showRecurringModal, 'recurring-modal-hide': !showRecurringModal }">
  <div class="header">
    <span>RECURRING INVOICE</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="showRecurringModal=false" />
  </div>
  <div class="content" >
    <div class="recurring-content">
      <div><span class="desc">Set custom reminder to be sent to the customer</span></div>
      <div class="recurring-frequency">
        <span>Template</span>
        <select [(ngModel)]="template">
          <option value="Template1">Template1</option>
          <option value="Template2">Template2</option>
        </select>
      </div>
      <div class="rerurring-frequency">
        <span></span>
        <label class="auto-sending"> Automatically send email
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="recurring-frequency">
        <span>Interval</span>
        <select [(ngModel)]="Interval">
          <option value="">Choose Interval</option>
          <option value="Daily">Daily</option>
          <option value="Weekly">Weekly</option>
          <option value="Bi-Weekly">Bi-Weekly</option>
          <option value="Monthly">Monthly</option>
          <option value="Quarterly">Quarterly</option>
          <option value="Semi Yearly">Semi Yearly</option>
          <option value="Yearly">Yearly</option>
        </select>
      </div>
      <div class="recurring-frequency">
        <span>Start date</span>
        <app-in-createddatefield [(createdDate)]="startDate" ></app-in-createddatefield>
      </div>
      <div class="rerurring-frequency">
        <span></span>
        <div class="end-by-after">
          <div class="end-type">
            <div>
              <input name="radio-price" type="radio" value="endBy" #endBy (click)="onEndTypeSelectionChange(endBy.value)">
              <label>End by</label>
            </div>
            <div>
              <input name="radio-price" type="radio" value="endAfter" #endAfter (click)="onEndTypeSelectionChange(endAfter.value)">
              <label>End after</label>
            </div>
          </div>
        </div>
      </div>
      <div class="recurring-frequency" *ngIf="showEndBy">
        <span>End date</span>
        <app-in-createddatefield [(createdDate)]="endDate" ></app-in-createddatefield>
      </div>
      <div class="recurring-frequency" *ngIf="showEndAfter">
        <span>Frequency</span>
        <input placeholder="0" type="number" [(ngModel)]="frequency">
      </div>
    </div>
    <div class="modal-btn-section" >
      <button class="cancel-btn" (click)="showRecurringModal=false;" >
        Cancel
      </button>
      <button class="save-btn" (click)="showRecurringModal=false;" >
        Save
      </button>
    </div>
  </div>
</div>