<div class="product-details rotated" (click)="sidebarCollapsed=false; showDialog=true; onSelect('all')">
  <span>PRODUCT DETAILS</span>
  <i class="fa fa-angle-left"></i>
</div>

<div class="product-details-dialog-wrapper" *ngIf="showDialog" (click)="sidebarCollapsed=true; showDialog=false"></div>
<div class="product-details-dialog"  [ngClass]="{'show-sidebar': !sidebarCollapsed, 'hide-sidebar': sidebarCollapsed }">
  <div class="header">
    <span>Product Details</span>
  </div>
  <div class="search-products">
    <input type="text" [(ngModel)]="queryString" id="search" placeholder="Search products here..." (input)="searchSelectedData(queryString)">
    <img src="assets/images/add-button.png" (click)="openAddProductModal();">
  </div>
  <div class="product-type-select">
    <span>Product type: </span>
    <select [(ngModel)]="selected" (ngModelChange)="onSelect(selected)">
      <option value='all'>All product types</option>
      <option *ngFor="let type of productType" [value]="type.id">{{type.type}}</option>
    </select>
  </div>
  <div class="products-table" *ngIf="selectedData">
    <table (clickOutside)="onClickedOutside($event)">
      <tr>
        <th>MODEL</th>
        <th>NAME</th>
        <th>SKU</th>
        <th>QTY</th>
        <th>PRICE</th>
      </tr>
      <tr 
        *ngFor="let productInfo of selectedData | sort:'name'; let i = index;"
        [ngStyle]="{'background-color': selectedRows.includes(productInfo.sku) ? '#dcdbdb':'#f5f5f5'}"
        (click)="onParentRowSelect(productInfo, i)"
        (dblclick)="sendIndividualProduct(productInfo)"
      >
        <td>{{productInfo.model}}</td>
        <td>{{productInfo.name}}</td>
        <td>{{productInfo.sku}}</td>
        <td><input [(ngModel)]="productInfo.addingQty" type="number"></td>
        <td>$ <input [(ngModel)]="productInfo.price"></td>
      </tr>
    </table>
  </div>
  <div class="btn-insert-project" (click)="sendProducts()">
    INSERT INTO PROJECT
  </div>
</div>

<div class="add-product-modal-wrapper" *ngIf="showAddProductModal"></div>
<div class="add-product-modal"  [ngClass]="{'show-add-product-modal': !addProductModalCollapsed, 'hide-add-product-modal': addProductModalCollapsed }">
  <app-addproductmodal [showAddProductModal]="showAddProductModal" [addProductModalCollapsed]="addProductModalCollapsed" [productsInfoAll]="productsInfoAll"></app-addproductmodal>
</div>


<div class="attachment-modal-wrapper" *ngIf="!addAttachmentModalCollapsed"></div>
<div class="attachment-modal"  [ngClass]="{'show-attachment-modal': !addAttachmentModalCollapsed, 'hide-attachment-modal': addAttachmentModalCollapsed }">
  <!-- fully inplement product import 
    <div class="header">
    <span>ARE YOU SURE TO IMPORT THIS VARIANT?</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="closeModal()" />
  </div>
  <div class="btn-section" >
    <button class="cancel-btn" (click)="closeModal()">
      Cancel
    </button>
    <button class="save-btn" (click)="saveAttachmentModal()">
      OK
    </button>
  </div> -->
  
  <!-- commented for now because back end is not ready for it -->
  
  <div class="header">
    <span>Do you want to Attach anything?</span>
    <img class="close-btn" src="assets/images/x-sign-red.png" (click)="closeModal()" />
  </div>
  <div class="accessories-alternatives edit-variant">
    <div class="accessories">
      <span>Accessories</span>
      <!-- <input [(ngModel)]="accQueryString" placeholder="Search for a product" (input)="startSearch()"> -->
      <table class="acc-table" *ngIf="addedAccList">
        <tr>
          <th>SKU</th>
          <th>PRODUCT NAME</th>
          <th>MODEL</th>
          <th>BRAND</th>
          <th>QTY</th>
          <th>PRICE</th>
          <th>OPTIONS</th>
        </tr>
        <tr *ngFor="let acc of addedAccList; let i = index;">
          <td>
            <div class="accessory-sku" >
              <div class="check-box" [ngClass]="getSkuCheckColor(acc)" (click)="changeOption(acc);"></div>
              <span>{{acc.variant.sku}}</span>
            </div>
          </td>
          <td>{{acc.variant.name}}</td>
          <td>{{selectedProduct.model}}</td>
          <td>{{selectedProduct.brandName}}</td>
          <td>
            <!-- <input [(ngModel)]="acc.quantity" > -->
              {{acc.quantity}}
            </td>
          <td class="calcedPrice">
            <!-- $ <input value="{{acc.variant.cost * acc.quantity}}" *ngIf="accPriceEditable" (blur)="accPriceEditable=false">
            <span *ngIf="!accPriceEditable" (click)="accPriceEditable=true">{{ acc.variant.cost * acc.quantity | number: '1.2-2'}}</span> -->
            {{ acc.variant.cost * acc.quantity | number: '1.2-2'}}
          </td>
          <td>{{acc.option}}</td>

          <!-- <td>
            <div class="td-option">
              <select [(ngModel)]="acc.option">
                <option value="OPTIONAL" default>Optional</option>
                <option value="AUTOMATIC">Automatically</option>
              </select>
              <img src="assets/images/garbage.png" (click)="removeAcc(i, acc)">
            </div>
          </td> -->
        </tr>
      </table>
      <!-- <div class="search-modal" [ngClass]="{'show-modal': !searchModalCollapsed, 'hide-modal': searchModalCollapsed}" (clickOutside)="removeSearchModal();">
        <div class="search-modal-content">
          <table>
            <tr *ngFor="let product of productsInfoAll | SearchPipe: accQueryString : searchableList; let i = index;" (click)="addToAccessories(product)">
              <td><img src="{{product.imgUrl}}" alt=""></td>
              <td>{{product.name}}</td>
              <td>{{product.sku}}</td>
              <td>{{product.model}}</td>
              <td>{{product.brand}}</td>
              <td>$ {{product.price | number: '1.2-2'}}</td>
            </tr>
          </table>
          
        </div>
      </div> -->
    </div>

    <div class="alternatives">
      <span>Alternatives</span>
      <!-- <input [(ngModel)]="alterQueryString" placeholder="Search for a product" (input)="startAlterSearch()"> -->
      <table class="alter-table" *ngIf="addedAlterList">
        <tr>
          <th>SKU</th>
          <th>PRODUCT NAME</th>
          <th>MODEL</th>
          <th>BRAND</th>
          <th>QTY</th>
          <th>PRICE</th>
        </tr>
        <tr *ngFor="let alter of addedAlterList; let i = index;">
          <td>{{alter.variant.sku}}</td>
          <td>{{alter.variant.name}}</td>
          <td>{{selectedProduct.model}}</td>
          <td>{{selectedProduct.brandName}}</td>
          <td>{{alter.quantity}}</td>
          <td >
            <div class="calcedPrice">
              <div>
                <!-- $ <input value="{{alter.variant.cost * alter.quantity}}" name="inputField" type="number" *ngIf="alterPriceEditable" (blur)="alterPriceEditable=false">
                <span *ngIf="!alterPriceEditable" (click)="alterPriceEditable=true">{{ alter.variant.cost * alter.quantity | number: '1.2-2'}}</span> -->
                {{ alter.variant.cost * alter.quantity | number: '1.2-2'}}
              </div>
              <!-- <img src="assets/images/garbage.png" (click)="removeAlter(i, alter)"> -->
            </div>
          </td>
        </tr>
      </table>
      <div class="search-modal" [ngClass]="{'show-modal': !searchAlterModalCollapsed, 'hide-modal': searchAlterModalCollapsed}" (clickOutside)="removeSearchModal();">
        <div class="search-modal-content">
          <table>
            <tr *ngFor="let product of productsInfoAll | SearchPipe: alterQueryString : searchableList; let i = index;" (click)="addToAlternatives(product)">
              <td><img src="{{product.imgUrl}}" alt=""></td>
              <td>{{product.name}}</td>
              <td>{{product.sku}}</td>
              <td>{{product.model}}</td>
              <td>{{product.brand}}</td>
              <td>$ {{product.price | number: '1.2-2'}}</td>
            </tr>
          </table>
          
        </div>
      </div>
    </div>
    <div class="btn-section" >
      <button class="cancel-btn" (click)="closeModal()">
        NO
      </button>
      <button class="save-btn" (click)="saveAttachmentModal()">
        YES
      </button>
    </div>
  </div>
</div>