<div class="content">
  <div class="info">
    <div class="info-top">
      <h1>{{contactName}}</h1>
      <h1>{{currentProjectId}}</h1>
    </div>
    <div class="info-down">
      <span class="change-log">Change Logs</span>
      <div class="add-btn" (click)="addChangeLog()">Add Change Log</div>
    </div>
  </div>
  <table>
    <tr>
      <th (click)="sortArray('id')">CHANGE LOG ID</th>
      <th (click)="sortArrayWithString('title')">CHANGE LOG NAME</th>
      <th (click)="sortArray('priority')">PRIORITY</th>
      <th (click)="sortArrayWithString('requestedBy')">REQUESTED BY</th>
      <th (click)="sortArray('budgetImpact')">BUDGET IMPACT</th>
      <th (click)="sortArray('scheduleImpact')">SCHEDULE IMPACT</th>
      <th (click)="sortCreateDateArray('dateCreated')">DATE CREATED</th>
      <th (click)="sortCreateDateArray('lastUpdated')">LAST UPDATED</th>
      <th (click)="sortCreateDateArray('dateApproved')">DATE APPROVED</th>
    </tr>
    <tr *ngFor="let log of changeLogsInfo; let i = index" (click)="redirectTo(log.id)">
      <td>{{log.id}}</td>
      <td>{{log.title}}</td>
      <td>Level {{log.priority}}</td>
      <td>{{log.requestedBy}}</td>
      <td [ngClass]="getBudgetColor(log.budgetImpact)">$ {{getAbs(log.budgetImpact) | number: '1.2-2'}}</td>
      <td [ngClass]="getDateColor(log.scheduleImpact)">{{getAbs(log.scheduleImpact)}} Day<span *ngIf="log.scheduleImpact > 1">s</span></td>
      <td>{{log.dateCreated}}</td>
      <td>{{log.lastUpdated}}</td>
      <td>{{log.dateApproved}}</td>
    </tr>
  </table>
</div>

