
.breadcrumb-bar {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-bottom: solid 1px #95989A;
  height: 60px;
}

.breadcrumb-section {
  flex: 1;
}

.followers {
  width: 28%;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #95989A;
  position: relative;
  justify-content: flex-end;
  margin-right: 25px;
}

.followers img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: darkcyan;
  margin: 3px;
}

.followers .add-follower {
  background-image: '';
  cursor: pointer;
  
}
.edit-followers {
  position: absolute;
  top: 45px;
  border: solid 1px lightgray;
  background: white;
  padding: 5px;
  z-index: 9;
}

.edit-followers ul {
  margin: 0;
  padding: 0;
}

.edit-followers li {
  list-style: none;
  display: inline-block;
  padding: 3px;
  background: lightblue;
  border-radius: 1px;
  margin: 2px;
}
.edit-followers input {
  width: 100%;
}

.editbtn {
  background-color: #a8f2df;
  padding: 4px;
  width: 100px;
  font-size: 0.7em;
  border-radius: 3px;
  border: none;
  color: black;
  outline: none;
}
.editbtn:focus {
  outline: none;
}

.closebtn {
  cursor: pointer;
}

.router-followers {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #95989A;
}

.pm-routers {
  display: flex;
  align-items: center;
  height: 60px;
}

.pm-routers a {
  font-size: 18px;
  color: #646464;
  margin-right: 50px;
  height: 60px;
  padding: 17px 10px 0 10px;
}

.pm-routers a:hover {
  text-decoration: none;
}

.pm-routers a:focus, .pm-routers a:active, .active-link {
  text-decoration: none;
  border: 0;
  border-bottom: 5px solid #70eaca;
}

.title-name {
  width: 55%;
  justify-content: space-between;
  display: flex;
  font-size: 25px;
  color: #646464;
  margin-right: 10px;
}

@media screen and (max-width: 1650px) {
  .followers {
    width: 23%;
  }
}

@media screen and (max-width: 1550px) {
  .followers {
    width: 22%;
  }
}

@media screen and (max-width: 1450px) {
  .followers {
    width: 20%;
  }
}